#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    color: #fff;
    transition: .3s;
    transform: translateY(-100%);

    &.show {
        transform: translateY(0);
    }

    &.theme-white  {
        color: $color-black;
        .logo svg * {
            fill: black;
        }
        .lang svg * {
            stroke: black;
        }
    }

    .header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 17px 100px;
        font-weight: 600;
        font-size: 18px;

        .group-nav {
            .nav-list {
                display: flex;
                align-items: center;

                .nav-item {
                    position: relative;
                    padding: 0 25px;

                    &.lang {
                        &>.link {
                            display: flex;
                            align-items: center;
                            gap: 5px;
                        }
                    }

                    .link {
                        font-weight: normal;
                        font-size: 16px;
                    }

                    .depth2 {
                        position: absolute;
                        top: calc(100% + 10px);
                        right: 25px;
                        border: 1px solid #5a5a5a;
                        background-color: #000;
                        transition: .3s;
                        opacity: 0;
                        border-radius: 6px;
                        visibility: hidden;

                        &.open {
                            opacity: 1;
                            visibility: visible;
                        }

                        li {
                            padding: 4px 15px;
                            color: #666;
                            line-height: 1.3;

                            &.active {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}

#footer {
    position: relative;
    z-index: 1;
    background-color: #000;
    color: #fff;
    
    .inner {
        display: flex;
        justify-content: space-between;
        padding: 58px 100px;

        .txt-area {
            font-size: 14px;
            .address{ 

            }
            .copyright {

            }
        }

        .f-logo {
            width: 193px;
        }
    }
}