@import '../utils/function';
@import '../utils/mixin';
@import '../utils/vars';

/* base */
@import '../base/common';
@import '../base/fonts';
@import '../base/reset';

#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    color: #fff;

    &.theme-white  {
        color: $color-black;
        .logo svg * {
            fill: black;
        }
        .lang svg * {
            stroke: black;
        }
    }

    .header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 17px 100px;
        font-weight: 600;
        font-size: 18px;

        .group-nav {
            .nav-list {
                display: flex;
                align-items: center;

                .nav-item {
                    position: relative;
                    padding: 0 25px;

                    &.lang {
                        &>.link {
                            display: flex;
                            align-items: center;
                            gap: 5px;
                        }
                    }

                    .link {
                        font-weight: normal;
                        font-size: 16px;
                    }

                    .depth2 {
                        position: absolute;
                        top: calc(100% + 10px);
                        right: 25px;
                        border: 1px solid #5a5a5a;
                        background-color: #000;
                        transition: .3s;
                        opacity: 0;
                        border-radius: 6px;
                        visibility: hidden;

                        &.open {
                            opacity: 1;
                            visibility: visible;
                        }

                        li {
                            padding: 4px 15px;
                            color: #666;
                            line-height: 1.3;

                            &.active {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}

.horizon {
    height: 100vh;
}

.move-horizon {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 100%;

    .txt-area {
        flex-shrink: 0;
        padding-right: 160px;
        .title {
            font-size: 72px;
            line-height: 1.28;
        }
    }
    
    .group-card {
        flex-shrink: 0;
        
        .card-item {
            padding-right: 40px;
            
            &:last-child {
                padding-right: 0;
            }
        }
    }
}

.card-list {
    display: flex;
    align-items: center;

    .card {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 400px;
        height: 540px;
        padding: 34px;
        color: #fff;
        border-radius: 20px;
        overflow: hidden;

        .card-bg {
            z-index: -1;
            width: 100%;
            height: 100%;
            @include absCenter();
            
            &::before {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: hsla(0, 0%, 42%, .3);
                background-blend-mode: multiply;
                @include pseudo();
            }

            img {
                position: relative;
                z-index: -1;
                filter: url(#sharpBlur);
            }
        }

        .card-header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            height: 110px;

            .title {
                font-size: 50px;
                line-height: 1;
            }
            .star {
                font-size: 30px;
                line-height: .67;
            }
        }

        .card-body {
            display: flex;
            flex-direction: column;
            flex: 1;
            margin-top: 56px;

            .img-area {
                max-width: 280px;
            }
        }

        .card-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .f-title {
                font-size: 24px;
                line-height: 1.67;
            }

            .profile {
                display: flex;
                align-items: center;
                gap: 9px;

                .ico {
                    display: block;
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;

                    &.ico-profile1 {
                        background-color: #ff009d;
                    }
                    &.ico-profile2 {
                        background-color: #0049ff;
                    }
                    &.ico-profile3 {
                        background-color: #26ff00;
                    }
                }
                .profile-name {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 1.63;
                }
            }

            .ico {
                &.ico-card {
                    display: block;
                    width: 40px;
                    height: 40px;
                    @include bg('icon-contract.png');
                }

            }

        }

    }
}

#footer {
    background-color: #000;
    color: #fff;
    
    .inner {
        display: flex;
        justify-content: space-between;
        padding: 58px 100px;

        .txt-area {
            font-size: 14px;
            .address{ 

            }
            .copyright {

            }
        }

        .f-logo {
            width: 193px;
        }
    }
}