.horizon-parent {
    .inner {
        padding: 0;
        @include column-flex(center, _);
        
        .move-horizon {
            height: 100%;
            padding: 0 100px;
            @include flex(_, center);
        }
    }
}

.move-horizon-parent {
    .move-horizon {
        flex-wrap: nowrap;
        width: max-content;
    
        .desc-area {
            flex-shrink: 0;
            padding: 0 60px 0 160px;
    
            .txt {
                font-weight: 700;
            }
        }
    }
}

.sc-visual {
    .inner {
        height: 100vh;
        margin: 0 100px;
        padding: 0;
        @include flex(_, center);
        
        .content {
            width: 100%;
            padding: 80px 0;
        }

        .txt {
            width: 50%;
            margin-left: auto;
            padding-left: 100px;
            word-break: keep-all;
        }
    }
}

.sc-01 {
    --opacity: 0;
    height: 800vh;
    color: #fff;
    
    .sticky {
        &::before {
            z-index: 1;
            width: 100%;
            height: 100%;
            background-color: rgba(#000, .6);
            opacity: var(--opacity);
            pointer-events: none;
            @include pseudo();
        }
    }

    .video-area {
        height: 100%;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .txt-box {
        z-index: 2;
        width: 100%;
        @include absCenter();

        .txt {
            width: fit-content;
            margin: 0 auto;
            font-weight: 700;
            font-size: 52px;
            line-height: 1.35;

            &.desc {
                font-size: 24px;
                line-height: 1.67;
            }
        }
    }

    .scroll-down {
        bottom: 40px;
        transition: all .3s;
        opacity: 0;
        visibility: hidden;
        @include absCenter(true, false);
        &.show {
            opacity: 1;
            visibility: visible;
        }
    }
}

.sc-02 {
    --opacity: 0;
    height: 800vh;
    color: #fff;

    .sticky {
        &::before {
            z-index: 1;
            width: 100%;
            height: 100%;
            background-color: rgba(#000, .6);
            opacity: 0;
            opacity: var(--opacity);
            pointer-events: none;
            @include pseudo();
        }
    }
    .img-area {
        height: 100vh;

        .img-cover {
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            width: 100%;
            height: 100%;

            img{
                width: 100%;
                height: 100vh;
                object-fit: cover;
            }
        }
    }
    
    .txt-area {
        z-index: 1;
        max-width: 600px;
        padding: 32px;
        @include absCenter();

        &:not(.fade-in) .txt {
            z-index: 5;
            font-size: 100px;
            line-height: 1.2;
        }
    }
}

.sc-03 {
    @extend .sc-visual;
}

.sc-04 {
    color: #fff;
    @include bg('bg-sc04.jpg');
}

.sc-11 {
    @include bg('bg-sc11.jpg');
}

.sc-04, .sc-11 {
    --progress: 0;
    height: 720px;
    font-size: 72px;
    text-align: center;
    line-height: 1.28;

    .bg-area {
        .bg1,
        .bg2 {
            position: absolute;
            width: calc(21.875% * var(--progress));
            height: 140px;
            background-color: #fff;
        }
        .bg1 {
            top: 0;
            right: 0;
        }
        .bg2 {
            bottom: 0;
            left: 0;
        }
    }

    .txt-area {
        @include absCenter();

        .txt-box1,
        .txt-box1 .txt-move {
            display: block;
            transform: translateX(calc(-50% * var(--progress)));
        }

        .txt-box3,
        .txt-box3 .txt-move {
            display: block;
            transform: translateX(calc(50% * var(--progress)));
        }

        .txt-move {
            width: fit-content;
            margin: 0 auto;
        }
    }
}

.sc-05 {
    color: #000;

    .inner {
        @include flex(between, _);
        
        .txt-area {
            position: sticky;
            top: 0;
            height: 100vh;
            flex: 0 0 470px;
            .txt-box {
                height: 100vh;
                @include flex(_, center);
            }
        }
        .img-area {
            padding: 100vh 0;
            flex: 1;
            .img-box {
                max-width: 46%;
                & + .img-box { 
                    margin-top: 185px;
                }
                &:nth-child(2n - 1) {
                    margin-left: auto;
                }
                .txt {
                    margin-top: 12px;
                    font-size: 16px;
                    line-height: 1.5;
                }
            }
        }
    }
}

.sc-06 {
    height: 300vh;
    color: #000;
    @extend .horizon-parent;

    .dark & {
        color: #fff;
    }

    .inner {
        height: 100%;

        > .txt {
            position: absolute;
            right: 0;
            bottom: 4.1667vh;
            left: 0;
            padding: 0 100px;
            font-size: 14px;
            color: hsla(0, 0%, 100%, .6);
            line-height: 1.63;
        }
    }

    .id-list {
        flex-shrink: 0;
        @include flex(_, center);

        .id-item {
            width: 300px;
            
            & + .id-item {
                margin-left: 75px;
                & .img-area::before {
                    top: 50%;
                    left: -28px;
                    width: 20px;
                    height: 20px;
                    border: 8px solid #fff;
                    border-bottom: 0;
                    border-left: 0;
                    transform: translateX(-100%) rotate(45deg);
                    @include pseudo();
                }
            }
            .img-area {
                position: relative;
                width: 100%;
                padding-top: 100%;
                border: 2px solid #fff;
                background-color: #000;
                border-radius: 58px;
                img {
                    width: 160px;
                    height: 160px;
                    @include absCenter();
                }
            }
            .txt {
                margin-top: 24px;
                padding: 0 0 0 20px;
                font-weight: 700;
            }
        }
    }

    .graphic-wrap {
        flex-shrink: 0;
        padding: 0 160px;

        .graphic-area {
            width: calc(100vw - 100px);
            padding-left: 100px;
        }

        .graphic-box {
            position: relative;
            width: 506px;
            margin: 0 auto;

            .txt-area {
                .txt-box {
                    position: absolute;
                    text-align: center;

                    &:nth-child(1) {
                        top: 9%;
                        width: 100%;
                    }
                    &:nth-child(2), &:nth-child(3) {
                        bottom: 26.3%;
                        width: 33.5%;
                    }
                    &:nth-child(3) {
                        right: 0;
                    }
                    .title {
                        font-size: 24px;
                        line-height: 1.42;
                    }
                    .desc {
                        font-size: 16px;
                        line-height: 1.63;
                    }
                }
            }
        }
    }
}

.sc-07 {
    background-color: #000;
    
    .inner {
        height: 100vh;
        flex: unset;
        @include flex(_, center);

        .txt-area {
            width: 100%;
        }

        .txt {
            width: 50%;
            margin-left: auto;
            padding-left: 100px;
        }
    }
}

.sc-08 {
    position: relative;
    height: 173px;
    background-color: #000;

    .bg-area {
        display: flex;
        position: relative;
        height: 100%;

        &.blur::before {
            z-index: 1;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(50px);
            @include absCenter();
            @include pseudo();
        }

        .bg-box {
            flex: 1;

            &:nth-child(1) {
                background-color: #e657af;
            }
            &:nth-child(2) {
                background-color: #0049ff;
            }
            &:nth-child(3) {
                background-color: #00bf41;
            }
        }
    }

    .txt-area {
        z-index: 2;
        width: 100%;
        text-align: center;
        @include absCenter();
        
        .title {
            font-size: 40px;
            line-height: 1.25;
        }
    }
}

.sc-09 {

    .horizon-wrapper {
        height: 600vh;
    }

    .card {
        border: 2px solid #fff;
        background-color: #000;

        &.border-gradient {
            @include flex(center, center);

            .title {
                font-size: 40px;
                line-height: 1.25;
            }
        }
    }

    .horizon1 {
        .border-gradient {
            .img-area {
                position: relative;
                width: 100%;
                height: 100%;

                img {
                    width: 150px;
                    @include absCenter();
                }
                .lock {
                    opacity: 0;
                }
            }
        }
    }

    .horizon2 {
        margin-top: -100vh;
        
        .card-item:first-child {
            position: relative;
            z-index: 5;

            .card {
                opacity: 0;
            }
        }

        .card:not(.border-gradient) {
            position: relative;
            overflow: hidden;
            border: none;
            background-color: unset;                
        }
    }

    .vertical {
        margin-top: -100vh;

        .service-left {
            width: 400px;
            height: 100vh;
            @include flex(_, center);
        }

        .service-right {
            flex: 0 0 calc(100% - 400px);
        }
    }

    .vertical1 {
        opacity: 0;

        .move-vertical {
            display: flex;

            .service-left {
                position: sticky;
                top: 0;
                @include flex(_, center);
            }

            .service-right {
                padding: 100vh 0 100vh 13.5417vw;
    
                .txt-area {
                    .txt {
                        max-width: 750px;
                        margin-top: 34px;
                    }
                }
    
            }

            .service-info-list {
                margin-top: 80px;

                .service-info-item {
                    @include flex(_, center);

                    & + .service-info-item {
                        margin-top: 50px;
                    }

                    .txt {
                        margin-left: 52px;
                    }
                }
            }
            
            .service-info-box {
                height: 200px;
                flex: 0 0.5 400px;
                border-radius: 20px;
                
                .info-box-inner {
                    height: 100%;
                    text-align: center;
                    @include flex(center, center);

                    .info-txt {
                        font-size: 28px;
                        line-height: 1.43;
                    }
                }
            }

            .service-status {
                margin-top: 160px;

                > .title {
                    font-size: 60px;
                    line-height: 1;
                }

                .service-swiper {
                    margin-top: 80px;

                    .swiper-slide {
                        margin-right: 50px;
                        flex: 0 1 300px;

                        .txt-area {
                            margin-top: 24px;
                            .txt {
                                font-weight: 700;
                            }
                        }
                    }
                }
            }

        }
    }

    .vertical2 {
        height: 400vh;
        opacity: 0;
        
        .sticky {
            position: sticky;
            top: 0;
            height: 100vh;
            @include flex(_, center);
        }
        
        .service-left {
            position: relative;
            .bg-glow {
                position: absolute;
                top: -30%;
                left: -30%;
                width: 160%;
                height: 160%;
                @include bg('bg-card-glow.png');
            }
        }

        .service-right {
            .txt-area {
                .title {
                    padding-left: 200px;
                }
            }
        }
    }
}

.sc-10 {
    @extend .sc-visual;

}

.sc-11 {
    color: #fff;
}

.sc-12 {
    height: 300vh;
    color: #000;
    @extend .horizon-parent;
    @extend .move-horizon-parent;

    @keyframes arrow {
        0% {
            opacity: 0;
        }
        50% {
            opacity: .5;
        }
        100% {
            opacity: 1;
        }
    }

    .sticky {
        @include flex(_, center);
    }

    .card {
        &.card1 {
            background-color: #e657af;
        }
        &.card2 {
            background-color: #0049ff;
        }

        .card-header {
            height: unset;

            .card-header-right {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
    
                .txt { 
                    font-size: 16px;
                    line-height: 1.63;
                }
            }
        }

        .card-body {
            .txt-box {
                & + .txt-box {
                    margin-top: 30px;
                }
                .title {
                    font-size: 20px;
                }
                .txt {
                    margin-top: 3px;
                    font-weight: 400;
                }
            }
        }

        .card-footer {
            .f-title {
                font-size: 16px;
            }
        }
    }

    .down-area {
        position: fixed;
        bottom: 0;
        left: 50%;
        width: 100%;
        padding: 10px 0 calc(100vh * .065);
        background-image: linear-gradient(180deg, hsla(0, 0%, 98%, 0), #fff);
        text-align: center;
        transform: translateX(-50%);
        transition: all .3s;
        opacity: 0;
        visibility: hidden;
    
        &.show {
            opacity: 1;
            visibility: visible;
        }
        
        .down {
            @include flex(center, center);
    
            .down-arrow {
                display: block;
                width: 27px;
                height: 27px;
                margin-right: -6px;
                border-width: 8px;
                border-width: 6px;
                border-bottom: 0;
                border-left: 0;
                border-style: solid;
                transform: rotate(45deg);
                animation: arrow 1s infinite alternate;
    
                &:nth-child(1) {
                    border-image: linear-gradient(60deg,#e657af 60%,#0049ff 160%);
                    border-image-slice: 1;
                    animation-delay: 0.1s; 
                }
                &:nth-child(2) {
                    border-image: linear-gradient(60deg,#e657af 20%,#0049ff 145%);
                    border-image-slice: 1;
                    animation-delay: 0.2s;
                }
                &:nth-child(3) {
                    border-image: linear-gradient(60deg,#e657af,#0049ff 130%);
                    border-image-slice: 1;
                    animation-delay: 0.3s; 
                }
                &:nth-child(4) {
                    border-image: linear-gradient(50deg,#e657af,#0049ff 100%);
                    border-image-slice: 1;
                    animation-delay: 0.4s; 
                }
                &:nth-child(5) {
                    border-image: linear-gradient(50deg,#e657af,#0049ff 80%);
                    border-image-slice: 1;
                    animation-delay: 0.5s; 
                }
                &:nth-child(6) {
                    border-image: linear-gradient(50deg,#0049ff 45%,#43cf2e 135%);
                    border-image-slice: 1;
                    animation-delay: 0.6s; 
                }
                &:nth-child(7) {
                    border-image: linear-gradient(51deg,#0049ff,#43cf2e 75%);
                    border-image-slice: 1;
                    animation-delay: 0.7s; 
                }
            }
        }
    
        .txt-area {
            position: relative;
            margin-top: 15px;
    
            .txt {
                position: absolute;
                top: 0;
                left: 50%;
                font-weight: 700;
                font-size: 24px;
                line-height: 1.67;
                transform: translateX(-46.5%);
                
                &:not(:first-child) {
                    opacity: 0;
                }
            }
        }
    
    }
}

.sc-13 {
    height: 300vh;
    color: #fff;
    
    .inner {
        display: flex;
        align-items: center;
        height: 100%;
        @include bg('bg-sc13.jpg');

        .txt-area {
            left: 200px;
            @include absCenter(false, true);

            .title {
                font-size: 60px;
                line-height: 1.2 ;
            }

            .desc {
                margin-top: 26px;
                font-size: 24px;
                line-height: 1.67;
            }
        }
    }
}

.sc-14 {
    height: 300vh;
    color: #000;
    @extend .horizon-parent;
    @extend .move-horizon-parent;

    .sticky {
        @include flex(_, center);
    }
    
    .card {

        &.card2 {
            background-color: #0049ff;
        }
        &.card3 {
            background-color: #131415;
        }
        &.card4 {
            background-color: #00bf41;
        }

        .txt-list {
            margin-top: 24px;

            .txt-item + .txt-item {
                margin-top: 8px;
            }
        }
    }
}

.sc-15 {
    height: unset;
    padding: 200px 0;
    color: #000;

    .txt-area {
        .txt{
            margin-top: 34px;
        }
    }
    
    .link-wrap {
        display: flex;
        margin-top: 70px;
        gap: 18px;

        .link {
            display: block;
            padding: 3px 21px 1px;
            border: 2px solid #000;
            font-size: 18px;
            line-height: 2.22;

            &.link-black {
                background: #000;
                color: #fff;
            }
        }
    }
}

.join {
    .marquee {
        display: flex;
        flex-wrap: nowrap;
        white-space: nowrap;
    }
    .join-box {
        display: flex;
        position: relative;
        &:after {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(36px);
            @include pseudo();
        }

        .join-item {
            flex-shrink: 0;
            &:nth-child(3n-1) {
                background: #0049ff;
            }
            &:nth-child(3n-2) {
                background:#00bf41;
            }
            &:nth-child(3n) {
                background: #e657af;
            } 
            .txt {
                display: block;
                position: relative;
                z-index: 2;
                padding: 10px 72px;
                font-weight: 600;
                color: #fff;
                white-space: nowrap;

                .txt-italic {
                    font-style: italic;
                }
            }
        }
    }
}