/* base */
.blind {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

.dot {
  display: block;
  position: absolute;
  background-color: var(--dot-color, currentColor);
  border-radius: 50%;
}
@media (min-width: 700px) {
  .dot {
    width: var(--dot-default-size);
    height: var(--dot-default-size);
  }
}

@font-face {
  font-family: "APK-Protocol";
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/APK-Protocol-Regular.woff2') format('woff2');
}
@font-face {
  font-family: "SharpGrotesk";
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/SharpGrotesk-Black15.woff2') format('woff2');
}
@font-face {
  font-family: "SharpGrotesk";
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/SharpGrotesk-Black20.woff2') format('woff2');
}
@font-face {
  font-family: "SharpGrotesk";
  font-weight: 900;
  font-style: normal;
  src: url('../fonts/SharpGrotesk-Black25.woff2') format('woff2');
}
:root {
  --grid-columns: 4;
  --grid-gutter: 1rem;
  --grid-margin: var(--grid-gutter);
  --container-width: calc(100% - 2 * var(--grid-margin));
  --font-size-h1: 12vw;
  --font-size-h2: 6vw;
  --font-size-h3: clamp(48px, .05 * calc(100 * var(--vw, 1vw)), 80px);
  --font-size-h4: clamp(42px, .0425 * calc(100 * var(--vw, 1vw)), 68px);
  --font-size-h5: 1.125rem;
  --font-size-h6: 1rem;
  --font-size-text: 1rem;
  --font-size-text-medium: 1.125rem;
  --font-size-text-large: 1.5rem;
}
@media (max-width: 499px) {
  :root {
    --font-size-h1: 11.5vw ;
  }
}
@media (max-width: 699px) {
  :root {
    --font-size-h2: 2.625rem ;
  }
}
@media (min-width: 700px) {
  :root {
    --grid-columns: 12;
    --grid-gutter: 1.5rem;
    --grid-margin: 1.25rem;
    --dot-default-size: 1.5rem;
  }
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  text-transform: uppercase;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  list-style: none;
}

fieldset, input {
  border: 0;
}

html {
  line-height: 1.4;
  font-family: APK Protocol, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  color: #ababab;
  background-color: #262c03;
}
@media (max-width: 699px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 700px) and (max-width: 999px) {
  html html {
    font-size: 14px;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  html html {
    font-size: 15px;
  }
}
@media (min-width: 1200px) and (max-width: 1599px) {
  html html {
    font-size: 16px;
  }
}
@media (min-width: 1600px) and (max-width: 1999px) {
  html html {
    font-size: 17px;
  }
}
@media (min-width: 2000px) and (max-width: 2399px) {
  html html {
    font-size: 18px;
  }
}
@media (min-width: 2400px) {
  html html {
    font-size: 20px;
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  mix-blend-mode: difference;
  padding: calc(var(--grid-gutter) * 1);
}
#header .header-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#header .header-inner .logo {
  top: 0;
  left: calc(50% - 1.15em);
  width: 2.3em;
  font-size: 2.375rem;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  position: absolute;
}
#header .header-inner .logo svg {
  display: block;
  width: 2.3em;
  height: 1.4999999999em;
  fill: #8eff00;
}
#header .header-inner .link-utils {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 120%, 0 120%);
          clip-path: polygon(0 0, 100% 0, 100% 120%, 0 120%);
}
#header .header-inner .link-utils:hover .txt {
  text-decoration: underline;
}
#header .header-inner .link-utils .txt {
  display: block;
}

#main {
  width: 100vw;
  height: 100vh;
}/*# sourceMappingURL=layout.css.map */