@charset "UTF-8";
/* utils */
/* base */
.blind {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

.dot {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
@media (max-width: 1023px) {
  .dot {
    width: 22px;
    height: 22px;
  }
}
@media (max-width: 767px) {
  .dot {
    width: 14px;
    height: 14px;
  }
}

.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.txt-ani {
  display: block;
  overflow: hidden;
}
.txt-ani .title, .txt-ani .txt {
  display: block;
  line-height: 0.775;
}
.txt-ani .title {
  font-family: "SharpGrotesk", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
}
.title-area .txt-ani {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 700px;
          perspective: 700px;
}

@font-face {
  font-family: "APK-Protocol";
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/APK-Protocol-Regular.woff2') format('woff2');
}
@font-face {
  font-family: "SharpGrotesk";
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/SharpGrotesk-Black15.woff2') format('woff2');
}
@font-face {
  font-family: "SharpGrotesk";
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/SharpGrotesk-Black20.woff2') format('woff2');
}
@font-face {
  font-family: "SharpGrotesk";
  font-weight: 900;
  font-style: normal;
  src: url('../fonts/SharpGrotesk-Black25.woff2') format('woff2');
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  text-transform: uppercase;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  list-style: none;
}

fieldset, input {
  border: 0;
}

html {
  line-height: 1.4;
  font-family: APK Protocol, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  color: #ababab;
  background-color: #262c03;
  font-size: 16px;
  font-weight: 400;
}

/* pages */
#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 25px;
  mix-blend-mode: difference;
}
#header .header-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#header .header-inner .logo {
  position: absolute;
  top: 0;
  left: 50%;
  width: clamp(78px, 4.8vw, 92px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
}
#header .header-inner .logo svg {
  display: block;
  fill: #8eff00;
}
#header .header-inner .link-utils {
  overflow: hidden;
}
#header .header-inner .link-utils:hover .txt {
  text-decoration: underline;
}
#header .header-inner .link-utils .txt {
  display: block;
  font-size: 17px;
}
@media (max-width: 1023px) {
  #header .header-inner .link-utils .txt {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  #header .header-inner .link-utils .txt {
    font-size: 14px;
  }
}

#footer {
  --transformX: -100;
}
#footer .f-top {
  padding: 115px 0;
  text-align: center;
}
@media (max-width: 1023px) {
  #footer .f-top {
    padding: 170px 0;
  }
}
@media (max-width: 767px) {
  #footer .f-top {
    padding: 210px 0;
  }
}
#footer .f-top .f-logo {
  color: #8eff00;
  position: relative;
}
#footer .f-top .f-logo .txt-ani .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  font-size: 27vw;
}
@media (max-width: 767px) {
  #footer .f-top .f-logo .txt-ani .title {
    font-size: 40vw;
  }
}
#footer .f-top .f-logo .txt-ani:last-child .title:after {
  content: "®";
  display: inline;
  line-height: 1;
  font-size: clamp(15px, 2.7vw, 51px);
  -webkit-transform: translateX(calc(var(--transformX) * 1%));
          transform: translateX(calc(var(--transformX) * 1%));
}
@media (max-width: 767px) {
  #footer .f-top .f-logo .txt-ani:last-child .title:after {
    font-size: 15px;
  }
}
#footer .f-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 25px 25px;
  font-size: 17px;
  color: #8eff00;
  line-height: 1.3;
}
@media (max-width: 1023px) {
  #footer .f-bottom {
    padding: 0 22px 22px;
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  #footer .f-bottom {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0 14px 14px;
    gap: 50px;
    font-size: 14px;
  }
}
#footer .f-bottom .link {
  text-decoration: underline;
}
#footer .f-bottom .link.link-about {
  bottom: 25px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (max-width: 1023px) {
  #footer .f-bottom .link.link-about {
    bottom: 22px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (max-width: 767px) {
  #footer .f-bottom .link.link-about {
    position: static;
    bottom: 14px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.intro {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: #262c03;
}
.intro .ico-loader {
  position: absolute;
  right: 1.25rem;
  bottom: 1.25rem;
  font-size: clamp(48px, 8.75vw, 140px);
}

.group-bg .video {
  display: block;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.sc-hero {
  position: relative;
  height: 100vh;
}
.sc-hero .group-title {
  bottom: 25px;
  color: #8eff00;
  mix-blend-mode: difference;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (max-width: 1023px) {
  .sc-hero .group-title {
    bottom: 22px;
  }
}
@media (max-width: 767px) {
  .sc-hero .group-title {
    bottom: 14px;
  }
}
.sc-hero .group-title .txt-ani {
  text-align: center;
}
.sc-hero .group-title .txt-ani .title {
  font-size: 10.8vw;
  text-align: center;
}
.sc-hero .group-title .txt-ani .title.txt-sm {
  font-weight: 700;
  font-size: 6vw;
}
.sc-hero .group-title .txt-ani .title.txt-lg {
  font-weight: 900;
  font-size: 12.6vw;
}
.sc-hero .dot {
  bottom: 25px;
  background-color: #ababab;
}
@media (max-width: 1023px) {
  .sc-hero .dot {
    bottom: 22px;
  }
}
@media (max-width: 767px) {
  .sc-hero .dot {
    bottom: 14px;
  }
}
.sc-hero .dot.dot1 {
  left: 25px;
}
@media (max-width: 1023px) {
  .sc-hero .dot.dot1 {
    left: 22px;
  }
}
@media (max-width: 767px) {
  .sc-hero .dot.dot1 {
    left: 14px;
  }
}
.sc-hero .dot.dot2 {
  right: 25px;
}
@media (max-width: 1023px) {
  .sc-hero .dot.dot2 {
    right: 22px;
  }
}
@media (max-width: 767px) {
  .sc-hero .dot.dot2 {
    right: 14px;
  }
}

.sc-character {
  position: relative;
  height: 2230vh;
}
.sc-character.active::after {
  -webkit-transition: opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
}
.sc-character::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262c03;
  -webkit-transition: opacity 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 1;
  pointer-events: none;
  display: block;
  position: absolute;
  content: "";
}
.sc-character .sticky {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sc-character .sticky .group-img {
  width: 37.3958333333%;
}
@media (max-width: 1023px) {
  .sc-character .sticky .group-img {
    width: 64.453125%;
  }
}
@media (max-width: 767px) {
  .sc-character .sticky .group-img {
    width: 79.9479166667%;
  }
}
.sc-character .sticky .group-img .img-area {
  position: relative;
  width: 100%;
  padding-top: 100%;
}
.sc-character .sticky .group-img .img-area .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sc-character .sticky .txt-area {
  position: absolute;
  bottom: 25px;
  left: 25px;
}
@media (max-width: 1023px) {
  .sc-character .sticky .txt-area {
    bottom: 22px;
    left: 22px;
  }
}
@media (max-width: 767px) {
  .sc-character .sticky .txt-area {
    bottom: 14px;
    left: 14px;
  }
}
.sc-character .sticky .txt-area .title-box {
  margin-bottom: 25px;
}
@media (max-width: 1023px) {
  .sc-character .sticky .txt-area .title-box {
    margin-bottom: 22px;
  }
}
@media (max-width: 767px) {
  .sc-character .sticky .txt-area .title-box {
    margin-bottom: 14px;
  }
}
.sc-character .sticky .txt-area .title-box .title {
  font-size: 68px;
  color: #8eff00;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
@media (max-width: 1023px) {
  .sc-character .sticky .txt-area .title-box .title {
    font-size: 44px;
  }
}
@media (max-width: 767px) {
  .sc-character .sticky .txt-area .title-box .title {
    font-size: 42px;
  }
}
.sc-character .sticky .txt-area .txt-box .txt {
  font-size: 18px;
  color: #ababab;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  line-height: 1.4;
}
@media (max-width: 1023px) {
  .sc-character .sticky .txt-area .txt-box .txt {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .sc-character .sticky .txt-area .txt-box .txt {
    font-size: 14px;
  }
}
.sc-character .sticky .txt-area.ani-translate .title, .sc-character .sticky .txt-area.ani-translate .txt {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.sc-fact {
  background-color: #8eff00;
  color: #041a00;
}
.sc-fact .group-title {
  padding: 128px 0;
}
@media (max-width: 1023px) {
  .sc-fact .group-title {
    padding: 60px 0;
  }
}
@media (max-width: 767px) {
  .sc-fact .group-title {
    padding: 46px 0;
  }
}
.sc-fact .group-title .title-area .txt-ani {
  width: 100%;
}
.sc-fact .group-title .title-area .txt-ani .title {
  font-weight: 700;
  font-size: 9vw;
  text-align: center;
}
.sc-fact .group-title .title-area .txt-ani .title.txt-md {
  font-size: 13.2vw;
}
.sc-fact .group-title .title-area .txt-ani .title.fw-900 {
  font-weight: 900;
}
.sc-fact .group-title .title-area .txt-ani .title.txt-lg {
  font-weight: 900;
  font-size: 17.4vw;
}
.sc-fact .group-info {
  margin-bottom: 28px;
  text-align: center;
}
.sc-fact .group-info.is-ani .info-hdr .txt-ani .txt {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.sc-fact .group-info.is-ani .info-hdr::before, .sc-fact .group-info.is-ani .info-hdr::after {
  -webkit-transform: translateX(-50%) scaleX(1);
          transform: translateX(-50%) scaleX(1);
}
.sc-fact .group-info .info-hdr {
  position: relative;
  padding: 28px 0;
}
@media (max-width: 1023px) {
  .sc-fact .group-info .info-hdr {
    padding: 22px 0;
  }
}
@media (max-width: 767px) {
  .sc-fact .group-info .info-hdr {
    padding: 14px 0;
  }
}
.sc-fact .group-info .info-hdr::before, .sc-fact .group-info .info-hdr::after {
  left: 50%;
  width: 100%;
  height: 1px;
  background-color: #041a00;
  -webkit-transform: translateX(-50%) scaleX(0);
          transform: translateX(-50%) scaleX(0);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: block;
  position: absolute;
  content: "";
}
.sc-fact .group-info .info-hdr::before {
  top: 0;
}
.sc-fact .group-info .info-hdr::after {
  bottom: 0;
}
.sc-fact .group-info .info-hdr .txt-ani {
  font-family: "SharpGrotesk", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}
.sc-fact .group-info .info-hdr .txt-ani .txt {
  font-size: 68px;
  -webkit-transform: translateY(120%);
          transform: translateY(120%);
  -webkit-transition: 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
@media (max-width: 1023px) {
  .sc-fact .group-info .info-hdr .txt-ani .txt {
    font-size: 44px;
  }
}
@media (max-width: 767px) {
  .sc-fact .group-info .info-hdr .txt-ani .txt {
    font-size: 42px;
  }
}
.sc-fact .group-info .info-bdy .info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.sc-fact .group-info .info-bdy .info-list .info-item {
  padding: 36px;
  font-size: 20px;
  line-height: 1.4;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40vw;
          flex: 1 0 40vw;
  border-bottom: 1px solid #041a00;
}
@media (max-width: 1023px) {
  .sc-fact .group-info .info-bdy .info-list .info-item {
    padding: 30px;
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .sc-fact .group-info .info-bdy .info-list .info-item {
    padding: 28px;
    font-size: 15px;
  }
}
.sc-fact .group-info .info-bdy .info-list .info-item + .info-item {
  border-left: 1px solid #041a00;
}
.sc-fact .group-banner {
  --padding: 54px;
  --moveY: var(--padding);
  position: relative;
  padding: 0 22px 28px;
}
@media (max-width: 1023px) {
  .sc-fact .group-banner {
    padding: 0 18px 22px;
  }
}
@media (max-width: 767px) {
  .sc-fact .group-banner {
    padding: 0 14px 14px;
  }
}
.sc-fact .group-banner .banner-box {
  position: relative;
  overflow: hidden;
  padding: 54px 0;
}
@media (max-width: 1023px) {
  .sc-fact .group-banner .banner-box {
    padding: 45px 0;
  }
}
@media (max-width: 767px) {
  .sc-fact .group-banner .banner-box {
    padding: 28px 0;
  }
}
.sc-fact .group-banner .banner-box .txt-area {
  overflow: hidden;
  padding: 28px 0;
  background: #041a00;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
@media (max-width: 1023px) {
  .sc-fact .group-banner .banner-box .txt-area {
    padding: 22px 0;
  }
}
@media (max-width: 767px) {
  .sc-fact .group-banner .banner-box .txt-area {
    padding: 14px 0;
  }
}
.sc-fact .group-banner .banner-box .txt-area .txt-ani {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sc-fact .group-banner .banner-box .txt-area .txt-ani .txt {
  font-family: "SharpGrotesk", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  font-size: 9vw;
  color: #ababab;
  white-space: nowrap;
}
.sc-fact .group-banner .banner-box .txt-area .txt-ani .txt.txt-lg {
  font-weight: 900;
  font-size: 12vw;
}
.sc-fact .group-banner .banner-box .dot {
  background-color: #041a00;
  opacity: 0;
}
.sc-fact .group-banner .banner-box .dot.dot1 {
  top: var(--moveY);
  left: 0;
}
.sc-fact .group-banner .banner-box .dot.dot2 {
  top: var(--moveY);
  right: 0;
}
.sc-fact .group-banner .banner-box .dot.dot3 {
  bottom: var(--moveY);
  left: 0;
}
.sc-fact .group-banner .banner-box .dot.dot4 {
  right: 0;
  bottom: var(--moveY);
}
.sc-fact .group-banner.banner2 .banner-box .txt-area .txt-ani .txt {
  font-weight: 900;
  font-size: 5.4vw;
}
.sc-fact .group-banner.banner2 .banner-box .txt-area .txt-ani .txt.txt-lg {
  font-weight: 400;
  font-size: 25vw;
}
@media (max-width: 767px) {
  .sc-fact .group-banner.banner2 .banner-box .txt-area .txt-ani .txt.txt-lg {
    font-size: 24vw;
  }
}
.sc-fact .group-vinegar {
  color: #041a00;
  text-align: center;
}
.sc-fact .group-vinegar .txt-ani .txt {
  font-size: 27px;
  line-height: 1.3;
}
@media (max-width: 1023px) {
  .sc-fact .group-vinegar .txt-ani .txt {
    font-size: 22px;
  }
}
.sc-fact .group-vinegar .sub-title-area .txt-ani.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1034px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .sc-fact .group-vinegar .sub-title-area .txt-ani.flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}
.sc-fact .group-vinegar .sub-title-area .txt-ani + .txt-ani {
  margin-top: 28px;
}
@media (max-width: 1023px) {
  .sc-fact .group-vinegar .sub-title-area .txt-ani + .txt-ani {
    margin-top: 22px;
  }
}
.sc-fact .group-vinegar .title-area {
  padding: 128px 0;
}
@media (max-width: 1023px) {
  .sc-fact .group-vinegar .title-area {
    padding: 60px 0;
  }
}
@media (max-width: 767px) {
  .sc-fact .group-vinegar .title-area {
    padding: 20px 0;
  }
}
.sc-fact .group-vinegar .title-area .txt-ani {
  width: 100%;
}
.sc-fact .group-vinegar .title-area .txt-ani .title {
  font-weight: 900;
  font-size: 9vw;
}
.sc-fact .group-vinegar .title-area .txt-ani .title.txt-lg {
  font-weight: 400;
  font-size: 19.8vw;
}
.sc-fact .group-vinegar .circle-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: hidden;
  margin: 100px 0;
  padding: 0 22px;
  gap: 20px;
}
@media (max-width: 1023px) {
  .sc-fact .group-vinegar .circle-area {
    margin: 82px 0;
  }
}
.sc-fact .group-vinegar .circle-area .circle {
  width: clamp(112px, 20vw, 384px);
}
.sc-fact .group-vinegar .circle-area .circle svg {
  fill: #041a00;
}

.sc-video {
  position: relative;
}
.sc-video .group-title {
  bottom: 25px;
  width: 100%;
  mix-blend-mode: difference;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (max-width: 1023px) {
  .sc-video .group-title {
    bottom: 22px;
  }
}
@media (max-width: 767px) {
  .sc-video .group-title {
    bottom: 14px;
  }
}
.sc-video .group-title .title-area .txt-ani {
  text-align: center;
}
.sc-video .group-title .title-area .txt-ani .title {
  width: 100%;
  font-size: 12vw;
  color: #ababab;
}

.sc-species {
  position: relative;
  padding: 20px;
  background-color: #1d2200;
}
@media (max-width: 1023px) {
  .sc-species {
    padding: 18px;
  }
}
@media (max-width: 767px) {
  .sc-species {
    padding: 14px;
  }
}
.sc-species .dot {
  background-color: #8eff00;
}
.sc-species .dot.dot1 {
  top: 20px;
  left: 20px;
}
@media (max-width: 1023px) {
  .sc-species .dot.dot1 {
    top: 18px;
    left: 18px;
  }
}
@media (max-width: 767px) {
  .sc-species .dot.dot1 {
    top: 14px;
    left: 14px;
  }
}
.sc-species .dot.dot2 {
  top: 20px;
  right: 20px;
}
@media (max-width: 1023px) {
  .sc-species .dot.dot2 {
    top: 18px;
    right: 18px;
  }
}
@media (max-width: 767px) {
  .sc-species .dot.dot2 {
    top: 14px;
    right: 14px;
  }
}
.sc-species .group-title {
  padding: 44px 0;
  text-align: center;
}
@media (max-width: 1023px) {
  .sc-species .group-title {
    padding: 40px 0;
  }
}
@media (max-width: 767px) {
  .sc-species .group-title {
    padding: 36px 0;
  }
}
.sc-species .group-title .title-area .txt-ani .title {
  font-weight: 700;
  font-size: 12vw;
  color: #8eff00;
}
.sc-species .group-title .desc {
  margin-top: 25px;
  font-size: 26px;
  color: #ababab;
  line-height: 1.3;
}
@media (max-width: 1023px) {
  .sc-species .group-title .desc {
    margin-top: 22px;
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .sc-species .group-title .desc {
    margin-top: 14px;
    font-size: 21px;
  }
}
.sc-species .group-swiper .species-swiper .swiper-slide .swiper-box {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
}
@media (max-width: 767px) {
  .sc-species .group-swiper .species-swiper .swiper-slide .swiper-box {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 767px) {
  .sc-species .group-swiper .species-swiper .swiper-slide .swiper-box .swiper-left {
    text-align: center;
    grid-row: 2/2;
    margin-top: 28px;
  }
}
.sc-species .group-swiper .species-swiper .swiper-slide .swiper-box .swiper-left .slide-title {
  font-family: "SharpGrotesk", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}
.sc-species .group-swiper .species-swiper .swiper-slide .swiper-box .swiper-left .slide-title .txt {
  font-size: clamp(48px, 4.16vw, 80px);
  -webkit-transform: translateY(120%);
          transform: translateY(120%);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.sc-species .group-swiper .species-swiper .swiper-slide .swiper-box .swiper-left .desc {
  margin-top: 25px;
  font-size: 17px;
}
@media (max-width: 1023px) {
  .sc-species .group-swiper .species-swiper .swiper-slide .swiper-box .swiper-left .desc {
    margin-top: 22px;
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .sc-species .group-swiper .species-swiper .swiper-slide .swiper-box .swiper-left .desc {
    margin-top: 14px;
    font-size: 14px;
  }
}
.sc-species .group-swiper .species-swiper .swiper-slide .swiper-box .swiper-left .desc .txt {
  line-height: 1.35;
  -webkit-transform: translateY(120%);
          transform: translateY(120%);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s;
  transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s;
}
.sc-species .group-swiper .species-swiper .swiper-slide .swiper-box .swiper-right {
  position: relative;
  width: 100%;
  max-width: 100vmin;
  margin: 0 auto;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s, transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s, transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  opacity: 0;
}
.sc-species .group-swiper .species-swiper .swiper-slide .swiper-box .swiper-right .video-area {
  position: absolute;
  top: 0;
  left: 0;
  aspect-ratio: 1/1;
  pointer-events: none;
  -webkit-clip-path: url(#slider-clip-video);
          clip-path: url(#slider-clip-video);
  z-index: 20;
}
.sc-species .group-swiper .species-swiper .swiper-slide .swiper-box .swiper-right .img-area {
  aspect-ratio: 1/1;
}
.sc-species .group-swiper .species-swiper .swiper-slide .swiper-box .swiper-right .img-area img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sc-species .group-swiper .species-swiper .swiper-slide .swiper-box .swiper-right .img-area img:nth-child(1) {
  z-index: 25;
}
.sc-species .group-swiper .species-swiper .swiper-slide .swiper-box .swiper-right .img-area img:nth-child(2) {
  z-index: 20;
}
.sc-species .group-swiper .species-swiper .swiper-slide .swiper-box .swiper-right .img-area img:nth-child(3) {
  z-index: 10;
}
.sc-species .group-swiper .species-swiper .swiper-slide .swiper-box .swiper-right .img-area img:nth-child(4) {
  z-index: 5;
}
.sc-species .group-swiper .species-swiper .swiper-slide.swiper-slide-active .swiper-left .slide-title .txt {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.sc-species .group-swiper .species-swiper .swiper-slide.swiper-slide-active .swiper-left .desc .txt {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.sc-species .group-swiper .species-swiper .swiper-slide.swiper-slide-active .swiper-right {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
.sc-species .group-swiper .species-swiper .swiper-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0;
}
@media (max-width: 1023px) {
  .sc-species .group-swiper .species-swiper .swiper-controls {
    margin: 22px 0;
  }
}
@media (max-width: 767px) {
  .sc-species .group-swiper .species-swiper .swiper-controls {
    margin: 14px 0;
  }
}
.sc-species .group-swiper .species-swiper .swiper-controls .btn {
  position: static;
  width: 62px;
  height: 50px;
  margin: 0;
  -webkit-transition: fill 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: fill 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  fill: #ababab;
}
.sc-species .group-swiper .species-swiper .swiper-controls .btn::after {
  content: none;
}
@media (max-width: 1023px) {
  .sc-species .group-swiper .species-swiper .swiper-controls .btn {
    width: 40px;
    height: 32px;
  }
}
@media (max-width: 767px) {
  .sc-species .group-swiper .species-swiper .swiper-controls .btn {
    width: 32px;
    height: 26px;
  }
}
.sc-species .group-swiper .species-swiper .swiper-controls .btn:hover {
  fill: #8eff00;
}
.sc-species .group-swiper .species-swiper .swiper-controls .swiper-pagination {
  position: static;
}
.sc-species .group-swiper .species-swiper .swiper-controls .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #ababab;
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  background-color: transparent;
  margin: 0 12px;
}
.sc-species .group-swiper .species-swiper .swiper-controls .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #8eff00;
}
.sc-species .group-swiper .btn-buy {
  display: block;
  margin-top: 45px;
  padding: 7px;
  background-color: #8eff00;
  font-family: "SharpGrotesk", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  font-size: 68px;
  color: #041a00;
  line-height: 0.77;
}
@media (max-width: 1023px) {
  .sc-species .group-swiper .btn-buy {
    margin-top: 22px;
    padding: 4px;
    font-size: 42px;
  }
}
@media (max-width: 767px) {
  .sc-species .group-swiper .btn-buy {
    margin: 14px auto 0;
  }
}

.sc-product {
  position: relative;
  padding: 20px;
  background-color: #262c03;
}
@media (max-width: 1023px) {
  .sc-product {
    padding: 18px;
  }
}
@media (max-width: 767px) {
  .sc-product {
    padding: 14px;
  }
}
.sc-product .dot {
  background-color: #8eff00;
}
.sc-product .dot.dot1 {
  top: 45px;
  left: 45px;
}
@media (max-width: 1023px) {
  .sc-product .dot.dot1 {
    top: 40px;
    left: 40px;
  }
}
@media (max-width: 767px) {
  .sc-product .dot.dot1 {
    top: 28px;
    left: 28px;
  }
}
.sc-product .dot.dot2 {
  top: 45px;
  right: 45px;
}
@media (max-width: 767px) {
  .sc-product .dot.dot2 {
    top: 40px;
    right: 40px;
  }
}
@media (max-width: 767px) {
  .sc-product .dot.dot2 {
    top: 28px;
    right: 28px;
  }
}
.sc-product .group-title {
  padding: 44px 0;
  background-color: #1d2200;
  text-align: center;
}
@media (max-width: 1023px) {
  .sc-product .group-title {
    padding: 40px 0;
  }
}
@media (max-width: 767px) {
  .sc-product .group-title {
    padding: 36px 0;
  }
}
.sc-product .group-title .title-area .txt-ani .title {
  font-weight: 900;
  font-size: 6vw;
  color: #8eff00;
}
@media (max-width: 767px) {
  .sc-product .group-title .title-area .txt-ani .title {
    font-size: 36px;
  }
}
.sc-product .group-title .desc {
  margin-top: 25px;
  font-size: 26px;
  color: #ababab;
  line-height: 1.3;
}
@media (max-width: 1023px) {
  .sc-product .group-title .desc {
    font-size: 22px;
    margin-top: 22px;
  }
}
@media (max-width: 767px) {
  .sc-product .group-title .desc {
    font-size: 21px;
    margin-top: 14px;
  }
}
.sc-product .group-product {
  background-color: #1d2200;
}
.sc-product .group-product .product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #262c03;
}
@media (max-width: 767px) {
  .sc-product .group-product .product-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.sc-product .group-product .product-list .product-item {
  padding: 25px;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (max-width: 1023px) {
  .sc-product .group-product .product-list .product-item {
    padding: 22px;
  }
}
@media (max-width: 767px) {
  .sc-product .group-product .product-list .product-item {
    padding: 14px;
  }
}
.sc-product .group-product .product-list .product-item + .product-item {
  border-left: 1px solid #262c03;
}
.sc-product .group-product .product-list .product-item .prd-title {
  margin-bottom: 25px;
  font-family: "SharpGrotesk", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  font-size: clamp(48px, 4.16vw, 80px);
  color: #8eff00;
}
@media (max-width: 1023px) {
  .sc-product .group-product .product-list .product-item .prd-title {
    margin-bottom: 22px;
  }
}
@media (max-width: 767px) {
  .sc-product .group-product .product-list .product-item .prd-title {
    margin-bottom: 14px;
  }
}
.sc-product .group-product .product-list .product-item .prd-desc {
  display: block;
  font-size: 17px;
  color: #ababab;
}
@media (max-width: 1023px) {
  .sc-product .group-product .product-list .product-item .prd-desc {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .sc-product .group-product .product-list .product-item .prd-desc {
    font-size: 14px;
  }
}

.sc-pickle {
  position: relative;
  z-index: -1;
  height: 400vh;
  margin-top: -100vh;
  background-color: #fff;
}
.sc-pickle::after {
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(38, 44, 3, 0)), to(#262c03));
  background-image: linear-gradient(to bottom, rgba(38, 44, 3, 0), #262c03);
  display: block;
  position: absolute;
  content: "";
}
.sc-pickle .sticky .pickle-area iframe {
  width: 100%;
  height: 100vh;
  border: none;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: #8eff00;
  border-radius: 50%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 995;
}/*# sourceMappingURL=style.css.map */