.blind {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
}

.pc {
    display: block;

    @include tablet() {
        display: none;
    }
}

.mobile {
    display: none;

    @include tablet() {
        display: block;
    }
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
}

.cursor {
    --x: 0;
    --y: 0;
    --opacity: 1;
    --xBefore: 0;
    --yBefore: 0;
    position: fixed;
    top: calc(var(--y) * 1px);
    left: calc(var(--x) * 1px);
    width: 1.4em;
    min-width: 7px;
    height: 1.4em;
    min-height: 7px;
    z-index: 999;
    color: var(--light);
    pointer-events: none;
    mix-blend-mode: exclusion;

    &::before {
        // top: calc(var(--yBefore) * 1px);
        // left: calc(var(--xBefore) * 1px);
        width: 30%;
        min-width: 2px;
        height: 30%;
        min-height: 2px;
        background: hsla(0, 0%, 100%, .7);
        border-radius: 50%;
        transition: all .5s cubic-bezier(.22,.61,.36,1);
        opacity: var(--opacity);
        @include absCenter(true, true);
        @include pseudo();
    }

    &::after {
        // top: calc(var(--xAfter));
        // left: calc(var(--xAfter));
        width: 100%;
        height: 100%;
        border: 1px solid hsla(0, 0%, 100%, .4);
        border-radius: 50%;
        transition: all .5s cubic-bezier(.22,.61,.36,1);
        opacity: var(--opacity);
        @include absCenter(true, true);
        @include pseudo();
    }

    &.hover::before {
        opacity: 0;
    }

    &.hover::after {
        transform: translate(-50%, -50%) scale(2);
    }

    .drag {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6em;
        height: 6em;
        @include absCenter(true, true);

        svg {
            &.bg-circle-full {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            &.ico-arw {
                width: 1em;
                opacity: 0;
                margin: 0 .3em;
            }
            &.ico-arw-left {
                transform: translateX(-20px);
            }
            &.ico-arw-right {
                transform: translateX(20px);
            }
        }
    }
}

.chars {
    * {
        font-size: inherit;
        line-height: inherit;
    }
}

.title {
    font-size: 1.778em;
    line-height: 1.1;
    letter-spacing: -.04em;

    @include mobile() {
        font-size: 1.3em;
    }
}

.txt {
    font-size: .889em;
    line-height: 1.6;
}

.ico {
    width: 8em;
}

.group-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-area {
    -webkit-mask-image: url('../images/mask.svg');
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    @include absCenter(true, true);
}

.marquee {
    &:hover {
        .word {
            // animation: translateY 1s .2s;
        }
    }

    .txt {
        display: inline-block;
        overflow: hidden;
    }
}

// @keyframes translateY {
//     0% {
//         transform: translateY(0);
//     }
//     50% {
//         transform : translateY(-100%);
//     }
//     100% {
//         transform: translateY(0);
//     }
// }