.blind {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
}

.pc {
    display: block !important;
    @include portrait() {
        display: none !important;
    }
}

.mob {
    display: none !important;
    @include portrait() {
        display: block !important;
    }
}

.sticky {
    position: sticky;
    top: 0;
    height: 100vh;
}

.absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.font-e {
    font-family: 'e', serif;
}

.txt-stroke {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
}

.ai-center {
    @include flex(_, center);
}

.section {
    position: relative;
    height: 300vh;
    pointer-events: none;

    .sticky {
        --inset: 0;
        clip-path: inset(0 0 calc(var(--inset) * 1%) 0);
        margin-top: -300vh;
        overflow: hidden;
    }

    &.full-w {
        .sticky {
            @include flex(center, center);
            @include portrait() {
                flex-direction: column;
            }
        }
        
        @extend .txt-type1;
    }

    &.half {
        display: flex;

        .sticky {
            display: flex;
            @include portrait() {
                flex-direction: column;
            }
        }

        & > *,
        .sticky > * {
            flex: 1;
            @include portrait() {
                flex: unset;
            }
        }

        .inner {
            width: 100%;
            padding: 0 7.380949999999999vw;
            @include portrait() {
                padding: 0 8.51064vw;
            }
        }

        .sc-left {
            @extend .txt-type2;
            @include portrait() {
                height: 44%;
            }
        }

        &:not(.color) {
            .sc-right {
                @extend .txt-type2;
                @include portrait() {
                    height: 56%;
                }
            }
        }
        
        &:not(.color, .sc-img) {
            .sc-right {
                @include portToTablet() {
                    padding-top: 4.61538vh;
                }
            }
        }
    }
}

.txt-wrap {
    display: block;
    overflow: hidden;
    perspective: 250px;
    .txt { 
        display: block;
    }
}

.ani-marquee {
    .txt-wrap {
        position: relative;

        .txt {
            display: block;

            &:last-child {
                position: absolute;
                top: 0;
                left: 0;
                transform: translateY(100%);
            }
        }
    }
}

.img-box {
    height: 100%;
    overflow: hidden;
    .img {
        width: 100%;
        height: 100%;
    }
}

.tab-cont {
    position: relative;
    overflow: hidden;
    height: 100%;

    .con {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        clip-path: inset(100% 0% 0% 0%);
        &.active {
            clip-path: inset(0% 0% 0% 0%);
        }
    }
}

.dimmed {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 990;
    background-color: #080812;
    transition: all .3s;
    opacity: 0;
    visibility: hidden;

    &.active {
        opacity: 0.4;
        visibility: visible;
    }
}

.modal {
    position: fixed;
    top: 0;
    width: 630px;
    height: 100vh;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    z-index: 1000;
    transition: transform .3s;
    will-change: transform;
    transform: translateX(0);
    overflow-y: auto;
    
    &.modal-right {
        right: 0;
    }
    
    &.modal-closed {
        transform: translateX(100%);
    }

    .modal-inner {
        padding: 70px 70px 210px;

        .txt {
            width: 90%;
        }

        .form-wrap {
            margin-top: 50px;
        }
    }
}

.btn {
    &.btn-select {
        position: relative;

        .ico {
            &.ico-arw-down {
                position: absolute;
                display: block;
                right: 0;
                top: 19px;
                width: 14px;
                height: 14px;
                transition: transform 300ms cubic-bezier(.165,.84,.44,1);
                will-change: transform;
            }
        }
    }
    
    &.btn-submit {
        display: block;
        width: 96px;
        height: 50px;
        margin-top: 24px;
        background-color: #1a2348;
        font-weight: 600;
        font-size: 10px;
        color: #fff;
        border-radius: 3px;
    }
}

.group-form {
    display: flex;
    gap: 58px;

     * {
        flex: 1;
    }

    & + &  {
        margin-top: 32px;
    }

    &.textarea {
        // .form-box {
        //     display: flex;
        //     flex-direction: column;
        //     height: 100%;
        // }

        .form-textarea {
            flex: 1;
        }
    }

    .form-label {
        display: block;
        font-weight: 600;
        font-size: 10px;
        color: #b4b4b4;
    }

    .form-text ,
    .btn-select {
        width: 100%;
        height: 52px;
        border-bottom: 1.34px solid #dadada;
        line-height: 52px;
    }

    .form-textarea {
        padding: 10px;
        box-sizing: border-box;
        margin-top: 16px;
        width: 100%;
        height: 272px;
        resize: none;
        border: 1.34px solid #dadada; 
    }
}