#main {
  width: 100vw;
  height: 100vh;
}

.section {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  font-weight: 600;
  color: #fff;
}
.section > * {
  flex: 1;
}
.section .inner {
  padding: 0 100px;
}
.section .title {
  font-size: 72px;
  line-height: 1.28;
}

.txt {
  font-size: 24px;
  line-height: 1.67;
}

.horizon {
  height: 100vh;
}

.move-horizon {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
}
.move-horizon .txt-area {
  flex-shrink: 0;
  padding-right: 160px;
}
.move-horizon .group-card {
  flex-shrink: 0;
}
.move-horizon .group-card .card-item {
  padding-right: 40px;
}
.move-horizon .group-card .card-item:last-child {
  padding-right: 0;
}

.card-list {
  display: flex;
  align-items: center;
}
.card-list .card {
  position: relative;
  width: 400px;
  height: 540px;
  padding: 34px;
  color: #fff;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.card-list .card .card-bg {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-list .card .card-bg::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 42%, 0.3);
  background-blend-mode: multiply;
  display: block;
  position: absolute;
  content: "";
}
.card-list .card .card-bg img {
  position: relative;
  z-index: -1;
  filter: url(#sharpBlur);
}
.card-list .card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 110px;
}
.card-list .card .card-header .title {
  font-size: 50px;
  line-height: 1;
}
.card-list .card .card-header .star {
  font-size: 30px;
  line-height: 0.67;
}
.card-list .card .card-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 56px;
}
.card-list .card .card-body .img-area {
  max-width: 280px;
}
.card-list .card .card-body .txt {
  font-size: 16px;
  line-height: 1.63;
}
.card-list .card .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-list .card .card-footer .profile {
  display: flex;
  align-items: center;
  gap: 9px;
}
.card-list .card .card-footer .profile .ico {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.card-list .card .card-footer .profile .ico.ico-profile1 {
  background-color: #ff009d;
}
.card-list .card .card-footer .profile .ico.ico-profile2 {
  background-color: #0049ff;
}
.card-list .card .card-footer .profile .ico.ico-profile3 {
  background-color: #26ff00;
}
.card-list .card .card-footer .profile .profile-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.63;
}
.card-list .card .card-footer .ico.ico-card {
  display: block;
  width: 40px;
  height: 40px;
  background: url("../images/icon-contract.png") no-repeat center center/100% auto;
}

.sc-01::before {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  display: block;
  position: absolute;
  content: "";
}
.sc-01 .video-area video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sc-01 .txt-box {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sc-01 .txt-box .txt {
  width: fit-content;
  margin: 0 auto;
  font-weight: 700;
  font-size: 52px;
  line-height: 1.35;
}
.sc-01 .txt-box .txt.desc {
  font-size: 24px;
  line-height: 1.67;
}
.sc-01 .scroll-down {
  bottom: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.sc-02 .img-area .img-cover {
  position: relative;
  overflow: hidden;
  height: 100vh;
}
.sc-02 .img-area .img-cover .bg {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  position: absolute;
}
.sc-02 .txt-area {
  max-width: 600px;
  padding: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sc-02 .txt-area:not(.fade-in) .txt {
  z-index: 5;
  font-size: 100px;
  line-height: 1.2;
}

.sc-03, .sc-10 {
  justify-content: center;
  color: #000;
}
.sc-03 .inner, .sc-10 .inner {
  flex: unset;
}
.sc-03 .inner .txt, .sc-10 .inner .txt {
  width: 50%;
  margin-left: auto;
  padding-left: 100px;
  word-break: keep-all;
}

.sc-04 {
  background: url("../images/bg-sc04.jpg") no-repeat center center/100% auto;
}

.sc-11 {
  background: url("../images/bg-sc11.jpg") no-repeat center center/100% auto;
}

.sc-04, .sc-11 {
  height: 720px;
  font-size: 72px;
  text-align: center;
  line-height: 1.28;
}
.sc-04 .bg-area .bg1,
.sc-04 .bg-area .bg2, .sc-11 .bg-area .bg1,
.sc-11 .bg-area .bg2 {
  position: absolute;
  width: 100%;
  max-width: 21.875%;
  height: 140px;
  background-color: #fff;
}
.sc-04 .bg-area .bg1, .sc-11 .bg-area .bg1 {
  top: 0;
  right: 0;
}
.sc-04 .bg-area .bg2, .sc-11 .bg-area .bg2 {
  bottom: 0;
  left: 0;
}
.sc-04 .txt-area, .sc-11 .txt-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sc-04 .txt-area .txt-move, .sc-11 .txt-area .txt-move {
  width: fit-content;
  margin: 0 auto;
}

.sc-05 {
  height: unset;
  color: #000;
}
.sc-05 .inner {
  display: flex;
  justify-content: space-between;
}
.sc-05 .inner .txt-area {
  flex: 0 0 470px;
}
.sc-05 .inner .txt-area .txt-box {
  display: flex;
  align-items: center;
  height: 100vh;
}
.sc-05 .inner .img-area {
  padding-top: 100vh;
  flex: 1;
}
.sc-05 .inner .img-area .img-box {
  max-width: 46%;
}
.sc-05 .inner .img-area .img-box + .img-box {
  margin-top: 185px;
}
.sc-05 .inner .img-area .img-box:nth-child(2n-1) {
  margin-left: auto;
}
.sc-05 .inner .img-area .img-box .txt {
  margin-top: 12px;
  font-size: 16px;
  line-height: 1.5;
}

.sc-06 .inner, .sc-12 .inner, .sc-14 .inner {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sc-06 .inner .move-horizon, .sc-12 .inner .move-horizon, .sc-14 .inner .move-horizon {
  width: fit-content;
  height: 100%;
  padding: 0 100px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.sc-06 {
  color: #000;
}
.sc-06 .inner .move-horizon .id-list {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.sc-06 .inner .move-horizon .id-list .id-item {
  width: 300px;
}
.sc-06 .inner .move-horizon .id-list .id-item + .id-item {
  margin-left: 75px;
}
.sc-06 .inner .move-horizon .id-list .id-item + .id-item .img-area::before {
  top: 50%;
  left: -28px;
  width: 20px;
  height: 20px;
  border: 8px solid #fff;
  border-bottom: 0;
  border-left: 0;
  transform: translateX(-100%) rotate(45deg);
  display: block;
  position: absolute;
  content: "";
}
.sc-06 .inner .move-horizon .id-list .id-item .img-area {
  position: relative;
  width: 100%;
  padding-top: 100%;
  border: 2px solid #fff;
  background-color: #000;
  border-radius: 58px;
}
.sc-06 .inner .move-horizon .id-list .id-item .img-area img {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sc-06 .inner .move-horizon .id-list .id-item .txt {
  margin-top: 24px;
  padding: 0 0 0 20px;
  font-weight: 700;
}
.sc-06 .inner .move-horizon .graphic-wrap {
  flex-shrink: 0;
  padding: 0 160px;
}
.sc-06 .inner .move-horizon .graphic-wrap .graphic-area {
  width: calc(100vw - 100px);
  padding-left: 100px;
}
.sc-06 .inner .move-horizon .graphic-wrap .graphic-area .graphic-box {
  position: relative;
  width: 506px;
  margin: 0 auto;
}
.sc-06 .inner .move-horizon .graphic-wrap .graphic-area .graphic-box .txt-area .txt-box {
  position: absolute;
  text-align: center;
}
.sc-06 .inner .move-horizon .graphic-wrap .graphic-area .graphic-box .txt-area .txt-box:nth-child(1) {
  top: 9%;
  width: 100%;
}
.sc-06 .inner .move-horizon .graphic-wrap .graphic-area .graphic-box .txt-area .txt-box:nth-child(2), .sc-06 .inner .move-horizon .graphic-wrap .graphic-area .graphic-box .txt-area .txt-box:nth-child(3) {
  bottom: 26.3%;
  width: 33.5%;
}
.sc-06 .inner .move-horizon .graphic-wrap .graphic-area .graphic-box .txt-area .txt-box:nth-child(3) {
  right: 0;
}
.sc-06 .inner .move-horizon .graphic-wrap .graphic-area .graphic-box .txt-area .txt-box .title {
  font-size: 24px;
  line-height: 1.42;
}
.sc-06 .inner .move-horizon .graphic-wrap .graphic-area .graphic-box .txt-area .txt-box .desc {
  font-size: 16px;
  line-height: 1.63;
}
.sc-06 .inner > .txt {
  position: absolute;
  right: 0;
  bottom: 4.1667vh;
  left: 0;
  padding: 0 100px;
  font-size: 14px;
  color: hsla(0, 0%, 100%, 0.6);
  line-height: 1.63;
}

.sc-07 {
  justify-content: center;
  background-color: #000;
}
.sc-07 .inner {
  flex: unset;
}
.sc-07 .inner .txt {
  width: 50%;
  margin-left: auto;
  padding-left: 100px;
}

.sc-08 {
  height: 173px;
  background-color: #000;
}
.sc-08 .bg-area {
  display: flex;
}
.sc-08 .bg-area .bg-box {
  flex: 1;
}
.sc-08 .bg-area .bg-box:nth-child(1) {
  background-color: #e657af;
}
.sc-08 .bg-area .bg-box:nth-child(2) {
  background-color: #0049ff;
}
.sc-08 .bg-area .bg-box:nth-child(3) {
  background-color: #00bf41;
}
.sc-08 .bg-area .bg-box.filter {
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sc-08 .txt-area {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sc-08 .txt-area .title {
  font-size: 40px;
  line-height: 1.25;
}

.sc-09 {
  height: unset;
  background-color: #000;
}
.sc-09 .card {
  border: 2px solid #fff;
  background-color: #000;
}
.sc-09 .card.border-gradient {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sc-09 .card.border-gradient .title {
  font-size: 40px;
  line-height: 1.25;
}
.sc-09 .horizon1 .border-gradient .img-area {
  position: relative;
  width: 100%;
  height: 100%;
}
.sc-09 .horizon1 .border-gradient .img-area img {
  width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sc-09 .horizon2 .card-item:first-child {
  position: relative;
  z-index: 5;
  opacity: 0;
}
.sc-09 .horizon2 .card:not(.border-gradient) {
  position: relative;
  overflow: hidden;
  border: none;
  background-color: unset;
}
.sc-09 .vertical {
  margin-top: -100vh;
}
.sc-09 .vertical .service-left {
  width: 400px;
  height: 100vh;
  display: flex;
  align-items: center;
}
.sc-09 .vertical .service-right {
  flex: 0 0 calc(100% - 400px);
}
.sc-09 .vertical1 .move-vertical {
  display: flex;
}
.sc-09 .vertical1 .move-vertical .service-left {
  opacity: 0;
}
.sc-09 .vertical1 .move-vertical .service-right {
  padding: 100vh 0 0 13.5417vw;
}
.sc-09 .vertical1 .move-vertical .service-right .txt-area .txt {
  max-width: 750px;
  margin-top: 34px;
}
.sc-09 .vertical1 .move-vertical .service-right .service-info-list {
  margin-top: 80px;
}
.sc-09 .vertical1 .move-vertical .service-right .service-info-list .service-info-item {
  display: flex;
  align-items: center;
}
.sc-09 .vertical1 .move-vertical .service-right .service-info-list .service-info-item + .service-info-item {
  margin-top: 50px;
}
.sc-09 .vertical1 .move-vertical .service-right .service-info-list .service-info-item .service-info-box {
  height: 200px;
  flex: 0 0.5 400px;
  border-radius: 20px;
}
.sc-09 .vertical1 .move-vertical .service-right .service-info-list .service-info-item .service-info-box .info-box-inner {
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sc-09 .vertical1 .move-vertical .service-right .service-info-list .service-info-item .service-info-box .info-box-inner .info-txt {
  font-size: 28px;
  line-height: 1.43;
}
.sc-09 .vertical1 .move-vertical .service-right .service-info-list .service-info-item .txt {
  margin-left: 52px;
}
.sc-09 .vertical1 .move-vertical .service-right .service-status {
  margin-top: 160px;
}
.sc-09 .vertical1 .move-vertical .service-right .service-status > .title {
  font-size: 60px;
  line-height: 1;
}
.sc-09 .vertical1 .move-vertical .service-right .service-status .service-swiper {
  margin-top: 80px;
}
.sc-09 .vertical1 .move-vertical .service-right .service-status .service-swiper .swiper-slide {
  margin-right: 50px;
  flex: 0 1 300px;
}
.sc-09 .vertical1 .move-vertical .service-right .service-status .service-swiper .swiper-slide .txt-area {
  margin-top: 24px;
}
.sc-09 .vertical1 .move-vertical .service-right .service-status .service-swiper .swiper-slide .txt-area .txt {
  font-weight: 700;
}
.sc-09 .vertical2 {
  opacity: 0;
  display: flex;
  align-items: center;
}
.sc-09 .vertical2 .service-left .card-list .card-item {
  position: relative;
}
.sc-09 .vertical2 .service-left .card-list .card-item .bg-glow {
  position: absolute;
  top: -30%;
  left: -30%;
  width: 160%;
  height: 160%;
  background: url("../images/bg-card-glow.png") no-repeat center center/100% auto;
}
.sc-09 .vertical2 .service-right .txt-area .title {
  padding-left: 200px;
}

.sc-10 {
  background-color: #000;
}

.sc-12 .move-horizon, .sc-14 .move-horizon {
  flex-wrap: nowrap;
}
.sc-12 .move-horizon .desc-area, .sc-14 .move-horizon .desc-area {
  flex-shrink: 0;
  padding: 0 60px 0 160px;
}
.sc-12 .move-horizon .desc-area .txt, .sc-14 .move-horizon .desc-area .txt {
  font-weight: 700;
}

.sc-12 {
  color: #000;
}
@keyframes arrow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.sc-12 .card.card1 {
  background-color: #e657af;
}
.sc-12 .card.card2 {
  background-color: #0049ff;
}
.sc-12 .card .card-header {
  height: unset;
}
.sc-12 .card .card-header .card-header-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.sc-12 .card .card-header .card-header-right .txt {
  font-size: 16px;
  line-height: 1.63;
}
.sc-12 .card .card-body .txt-box + .txt-box {
  margin-top: 30px;
}
.sc-12 .card .card-body .txt-box .title {
  font-size: 20px;
}
.sc-12 .card .card-body .txt-box .txt {
  margin-top: 3px;
  font-weight: 400;
}
.sc-12 .card .card-footer .f-title {
  font-size: 16px;
}

.down-area {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 100%;
  padding: 10px 0 6.5vh;
  background-image: linear-gradient(180deg, hsla(0, 0%, 98%, 0), #fff);
  text-align: center;
  transform: translateX(-50%);
  opacity: 0;
}
.down-area .down {
  display: flex;
  justify-content: center;
  align-items: center;
}
.down-area .down .down-arrow {
  display: block;
  width: 27px;
  height: 27px;
  margin-right: -6px;
  border-width: 8px;
  border-width: 6px;
  border-bottom: 0;
  border-left: 0;
  border-style: solid;
  transform: rotate(45deg);
  animation: arrow 1s infinite alternate;
}
.down-area .down .down-arrow:nth-child(1) {
  border-image: linear-gradient(60deg, #e657af 60%, #0049ff 160%);
  border-image-slice: 1;
  animation-delay: 0.1s;
}
.down-area .down .down-arrow:nth-child(2) {
  border-image: linear-gradient(60deg, #e657af 20%, #0049ff 145%);
  border-image-slice: 1;
  animation-delay: 0.2s;
}
.down-area .down .down-arrow:nth-child(3) {
  border-image: linear-gradient(60deg, #e657af, #0049ff 130%);
  border-image-slice: 1;
  animation-delay: 0.3s;
}
.down-area .down .down-arrow:nth-child(4) {
  border-image: linear-gradient(50deg, #e657af, #0049ff 100%);
  border-image-slice: 1;
  animation-delay: 0.4s;
}
.down-area .down .down-arrow:nth-child(5) {
  border-image: linear-gradient(50deg, #e657af, #0049ff 80%);
  border-image-slice: 1;
  animation-delay: 0.5s;
}
.down-area .down .down-arrow:nth-child(6) {
  border-image: linear-gradient(50deg, #0049ff 45%, #43cf2e 135%);
  border-image-slice: 1;
  animation-delay: 0.6s;
}
.down-area .down .down-arrow:nth-child(7) {
  border-image: linear-gradient(51deg, #0049ff, #43cf2e 75%);
  border-image-slice: 1;
  animation-delay: 0.7s;
}
.down-area .txt-area {
  position: relative;
  margin-top: 15px;
}
.down-area .txt-area .txt {
  position: absolute;
  top: 0;
  left: 50%;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  transform: translateX(-46.5%);
}
.down-area .txt-area .txt:not(:first-child) {
  opacity: 0;
}

.sc-13 {
  background: url("../images/bg-sc13.jpg") no-repeat center center/100% auto;
}
.sc-13 .inner {
  display: flex;
  align-items: center;
}
.sc-13 .inner .txt-area {
  left: 200px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.sc-13 .inner .txt-area .title {
  font-size: 60px;
  line-height: 1.2;
}
.sc-13 .inner .txt-area .desc {
  font-size: 24px;
  line-height: 1.67;
  margin-top: 26px;
}

.sc-14 {
  color: #000;
}
.sc-14 .card.card2 {
  background-color: #0049ff;
}
.sc-14 .card.card3 {
  background-color: #131415;
}
.sc-14 .card.card4 {
  background-color: #00bf41;
}
.sc-14 .card .card-body .txt p {
  margin-top: 24px;
}
.sc-14 .card .card-body .txt p + p {
  margin-top: 8px;
}

.sc-15 {
  height: unset;
  color: #000;
  padding: 200px 0;
}
.sc-15 .txt-area .txt {
  margin-top: 34px;
}
.sc-15 .link-wrap {
  display: flex;
  margin-top: 70px;
  gap: 18px;
}
.sc-15 .link-wrap .link {
  font-size: 18px;
  line-height: 2.22;
  border: 2px solid #000;
  padding: 3px 21px 1px;
  display: block;
}
.sc-15 .link-wrap .link.link-black {
  background: #000;
  color: #fff;
}

.join .marquee {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
}
.join .join-box {
  display: flex;
  position: relative;
}
.join .join-box:after {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(36px);
  display: block;
  position: absolute;
  content: "";
}
.join .join-box .join-item {
  flex-shrink: 0;
}
.join .join-box .join-item:nth-child(3n-1) {
  background: #0049ff;
}
.join .join-box .join-item:nth-child(3n-2) {
  background: #00bf41;
}
.join .join-box .join-item:nth-child(3n) {
  background: #e657af;
}
.join .join-box .join-item .txt {
  position: relative;
  display: block;
  color: #fff;
  padding: 10px 72px;
  white-space: nowrap;
  font-weight: 600;
  z-index: 2;
}
.join .join-box .join-item .txt .txt-italic {
  font-style: italic;
}/*# sourceMappingURL=main.css.map */