#main {
  width: 100vw;
  height: 100vh;
}

.section {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  font-weight: 600;
  color: #fff;
}
.section > * {
  flex: 1;
}
.section .inner {
  padding: 0 100px;
}

.sc-01::before {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  display: block;
  position: absolute;
  content: "";
}
.sc-01 .video-area video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sc-01 .txt-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.sc-01 .txt-box .txt {
  width: fit-content;
  margin: 0 auto;
  font-weight: 700;
  font-size: 52px;
  line-height: 1.35;
}
.sc-01 .txt-box .txt.desc {
  font-size: 24px;
  line-height: 1.67;
}
.sc-01 .scroll-down {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.sc-02 .img-area .img-cover {
  position: relative;
  overflow: hidden;
  height: 100vh;
}
.sc-02 .img-area .img-cover .bg {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  display: block;
  position: absolute;
  content: "";
}
.sc-02 .txt-area {
  max-width: 600px;
  padding: 32px;
  font-size: 24px;
  line-height: 1.67;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sc-02 .txt-area:not(.fade-in) {
  z-index: 5;
  font-size: 100px;
  line-height: 1.2;
}

.sc-03 {
  justify-content: center;
  color: #000;
}
.sc-03 .inner {
  flex: unset;
}
.sc-03 .inner .title {
  font-size: 72px;
  line-height: 1.28;
}
.sc-03 .inner .desc {
  width: 50%;
  margin-left: auto;
  padding-left: 100px;
  font-size: 24px;
  line-height: 1.67;
}

.sc-04 {
  height: 720px;
  font-size: 72px;
  text-align: center;
  line-height: 1.28;
  background: url("../images/bg-sc04.jpg") no-repeat center center/100% auto;
}
.sc-04::before, .sc-04::after {
  width: 100%;
  max-width: 21.875%;
  height: 140px;
  background-color: #fff;
  display: block;
  position: absolute;
  content: "";
}
.sc-04::before {
  top: 0;
  right: 0;
}
.sc-04::after {
  bottom: 0;
  left: 0;
}
.sc-04 .txt-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sc-04 .txt-area .txt-move {
  width: fit-content;
  margin: 0 auto;
}

.sc-05 {
  height: unset;
  color: #000;
}
.sc-05 .inner {
  display: flex;
  justify-content: space-between;
}
.sc-05 .inner .txt-area {
  flex: 0 0 470px;
}
.sc-05 .inner .txt-area .txt-box {
  display: flex;
  align-items: center;
  height: 100vh;
}
.sc-05 .inner .txt-area .txt-box .title {
  font-size: 72px;
  line-height: 1.28;
}
.sc-05 .inner .img-area {
  padding-top: 100vh;
  flex: 1;
}
.sc-05 .inner .img-area .img-box {
  max-width: 46%;
}
.sc-05 .inner .img-area .img-box + .img-box {
  margin-top: 185px;
}
.sc-05 .inner .img-area .img-box:nth-child(2n-1) {
  margin-left: auto;
}
.sc-05 .inner .img-area .img-box .txt {
  margin-top: 12px;
  font-size: 16px;
  line-height: 1.5;
}

.sc-06 {
  color: #000;
}
.sc-06 .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}
.sc-06 .inner .move-horizon {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 100%;
  padding: 0 100px;
}
.sc-06 .inner .move-horizon .txt-area {
  flex-shrink: 0;
  margin-right: 160px;
}
.sc-06 .inner .move-horizon .txt-area .title {
  font-size: 72px;
  line-height: 1.28;
}
.sc-06 .inner .move-horizon .id-list {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sc-06 .inner .move-horizon .id-list .id-item {
  width: 300px;
}
.sc-06 .inner .move-horizon .id-list .id-item + .id-item {
  margin-left: 75px;
}
.sc-06 .inner .move-horizon .id-list .id-item + .id-item .img-area::before {
  display: block;
  position: absolute;
  top: 50%;
  left: -28px;
  width: 20px;
  height: 20px;
  border: 8px solid #fff;
  border-bottom: 0;
  border-left: 0;
  transform: translateX(-100%) rotate(45deg);
  content: "";
}
.sc-06 .inner .move-horizon .id-list .id-item .img-area {
  position: relative;
  width: 100%;
  padding-top: 100%;
  border: 2px solid #fff;
  background-color: #000;
  border-radius: 58px;
}
.sc-06 .inner .move-horizon .id-list .id-item .img-area img {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sc-06 .inner .move-horizon .id-list .id-item .txt {
  margin-top: 24px;
  padding: 0 0 0 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
}
.sc-06 .inner .move-horizon .graphic-wrap {
  flex-shrink: 0;
  padding: 0 160px;
}
.sc-06 .inner .move-horizon .graphic-wrap .graphic-area {
  width: calc(100vw - 100px);
  padding-left: 100px;
}
.sc-06 .inner .move-horizon .graphic-wrap .graphic-area .graphic-box {
  position: relative;
  width: 506px;
  margin: 0 auto;
}
.sc-06 .inner .move-horizon .graphic-wrap .graphic-area .graphic-box .txt-area .txt-box {
  position: absolute;
  text-align: center;
}
.sc-06 .inner .move-horizon .graphic-wrap .graphic-area .graphic-box .txt-area .txt-box:nth-child(1) {
  top: 9%;
  width: 100%;
}
.sc-06 .inner .move-horizon .graphic-wrap .graphic-area .graphic-box .txt-area .txt-box:nth-child(2), .sc-06 .inner .move-horizon .graphic-wrap .graphic-area .graphic-box .txt-area .txt-box:nth-child(3) {
  width: 33.5%;
  bottom: 26.3%;
}
.sc-06 .inner .move-horizon .graphic-wrap .graphic-area .graphic-box .txt-area .txt-box:nth-child(3) {
  right: 0;
}
.sc-06 .inner .move-horizon .graphic-wrap .graphic-area .graphic-box .txt-area .txt-box .title {
  font-size: 24px;
  line-height: 1.42;
}
.sc-06 .inner .move-horizon .graphic-wrap .graphic-area .graphic-box .txt-area .txt-box .desc {
  font-size: 16px;
  line-height: 1.63;
}
.sc-06 .inner > .txt {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4.1667vh;
  padding: 0 100px;
  font-size: 14px;
  color: hsla(0, 0%, 100%, 0.6);
  line-height: 1.63;
}

.sc-07 {
  justify-content: center;
  background-color: #000;
}
.sc-07 .inner {
  flex: unset;
}
.sc-07 .inner .title {
  width: 50%;
  font-size: 72px;
  line-height: 1.28;
}
.sc-07 .inner .txt {
  width: 50%;
  font-size: 24px;
  padding-left: 100px;
  line-height: 1.67;
  margin-left: auto;
}

.sc-08 {
  height: 173px;
  background-color: #000;
}
.sc-08 .bg-area {
  display: flex;
}
.sc-08 .bg-area .bg-box {
  flex: 1;
}
.sc-08 .bg-area .bg-box:nth-child(1) {
  background-color: #e657af;
}
.sc-08 .bg-area .bg-box:nth-child(2) {
  background-color: #0049ff;
}
.sc-08 .bg-area .bg-box:nth-child(3) {
  background-color: #00bf41;
}
.sc-08 .bg-area .bg-box.filter {
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sc-08 .txt-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  line-height: 1.25;
  width: 100%;
  text-align: center;
}

.sc-09 {
  height: unset;
  background-color: #000;
}
.sc-09 .horizon1 {
  height: 100vh;
}
.sc-09 .horizon1 .move-horizon {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 100%;
}
.sc-09 .horizon1 .move-horizon .txt-area {
  flex-shrink: 0;
  padding-right: 160px;
}
.sc-09 .horizon1 .move-horizon .txt-area .title {
  font-size: 72px;
  line-height: 1.28;
}
.sc-09 .horizon1 .move-horizon .group-card {
  flex-shrink: 0;
}
.sc-09 .horizon1 .move-horizon .group-card .card-item {
  padding-right: 40px;
}
.sc-09 .horizon1 .move-horizon .group-card .card-item:last-child {
  padding-right: 0;
}
.sc-09 .horizon1 .move-horizon .group-card .card-item:last-child .img-area {
  position: relative;
  height: 100%;
}
.sc-09 .horizon1 .move-horizon .group-card .card-item:last-child .img-area img {
  width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sc-09 .vertical .move-vertical {
  margin-top: -100vh;
  display: flex;
}
.sc-09 .vertical .move-vertical .service-left {
  top: 0;
  width: 400px;
  height: 100vh;
  display: flex;
  align-items: center;
}
.sc-09 .vertical .move-vertical .service-left .card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sc-09 .vertical .move-vertical .service-left .card .title {
  font-size: 40px;
  line-height: 1.25;
}
.sc-09 .vertical .move-vertical .service-right {
  flex: 0 0 calc(100% - 400px);
  padding: calc(var(--full-height, 100vh) * 1) 0 calc(var(--full-height, 100vh) * 1) 13.5417vw;
}
.sc-09 .vertical .move-vertical .service-right .txt-area .title {
  font-size: 72px;
  line-height: 1.28;
}
.sc-09 .vertical .move-vertical .service-right .txt-area .desc {
  max-width: 750px;
  margin-top: 34px;
  font-size: 24px;
  line-height: 1.67;
}
.sc-09 .vertical .move-vertical .service-right .service-info-list {
  margin-top: 80px;
}
.sc-09 .vertical .move-vertical .service-right .service-info-list .service-info-item {
  display: flex;
  align-items: center;
}
.sc-09 .vertical .move-vertical .service-right .service-info-list .service-info-item + .service-info-item {
  margin-top: 50px;
}
.sc-09 .vertical .move-vertical .service-right .service-info-list .service-info-item .service-info-box {
  flex: 0 0.5 400px;
  height: 200px;
  border-radius: 20px;
}
.sc-09 .vertical .move-vertical .service-right .service-info-list .service-info-item .service-info-box .info-box-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}
.sc-09 .vertical .move-vertical .service-right .service-info-list .service-info-item .service-info-box .info-box-inner .info-txt {
  font-size: 28px;
  line-height: 1.43;
}
.sc-09 .vertical .move-vertical .service-right .service-info-list .service-info-item .txt {
  font-size: 24px;
  line-height: 1.67;
  margin-left: 52px;
}
.sc-09 .vertical .move-vertical .service-right .service-status {
  margin-top: 160px;
}
.sc-09 .vertical .move-vertical .service-right .service-status > .title {
  font-size: 60px;
  line-height: 1;
}
.sc-09 .vertical .move-vertical .service-right .service-status .service-swiper {
  margin-top: 80px;
}
.sc-10 {
  background-color: #000;
}/*# sourceMappingURL=main.css.map */