.intro {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: #262c03;

}

.ico-loader {
    position: absolute;
    right: 1.25rem;
    bottom: 1.25rem;
    font-size: clamp(48px, 8.75vw, 140px);
    line-height: 1;
}

.group-bg {
    .video {
        display: block;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
}

.sc-hero {
    position: relative;
    height: 100vh;

    .group-title {
        bottom: 25px;
        color: #8eff00;
        mix-blend-mode: difference;
        @include absCenter(true, false);
        @include tablet() {
            bottom: 22px;
        }
        @include mobile() {
            bottom: 14px;
        }
        
        .txt-ani {
            text-align: center;
            
            .title {
                font-size: 10.8vw;
                text-align: center;
                
                &.txt-sm {
                    font-weight: 700;
                    font-size: 6vw;
                }
                &.txt-lg {
                    font-weight: 900;
                    font-size: 12.6vw;
                }
            }
        }
    }

    .dot {
        bottom: 25px;
        background-color: #ababab;
        @include tablet() {
            bottom: 22px;
        }
        @include mobile() {
            bottom: 14px;
        }

        &.dot1 {
            left: 25px;
            @include tablet() {
                left: 22px;
            }
            @include mobile() {
                left: 14px;
            }
        }

        &.dot2 {
            right: 25px;
            @include tablet() {
                right: 22px;
            }
            @include mobile() {
                right: 14px;
            }
        }
    }
}

.sc-character {
    position: relative;
    height: calc(100vh * 446 / 20);

    &.active::after {
        transition: opacity .5s cubic-bezier(.215,.61,.355,1);
        opacity: 0;
    }

    &::after {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #262c03;
        transition: opacity .25s cubic-bezier(.215,.61,.355,1);
        opacity: 1;
        pointer-events: none;
        @include pseudo();
    }

    .sticky {
        @include flex(center, center);

        &::before {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: #262c03;
            background-image: radial-gradient(circle at 50%, rgba(174, 169, 0, .3), rgba(174, 169, 0, 0));
            content: "";
        }
    }

    .group-img {
        width: calc(718 / 1920 * 100%);
        @include tablet() {
            width: calc(660 / 1024 * 100%);
        }
        @include mobile() {
            width: calc(614 / 768 * 100%);
        }

        .img-area {
            position: relative;
            width: 100%;
            padding-top: 100%;

            .img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    .txt-area {
        position: absolute;
        bottom: 25px;
        left: 25px;
        @include tablet() {
            bottom: 22px;
            left: 22px;
        }
        @include mobile() {
            bottom: 14px;
            left: 14px;
        }

        .title-box {
            margin-bottom: 25px;
            @include tablet() {
                margin-bottom: 22px;
            }
            @include mobile() {
                margin-bottom: 14px;
            }

            .line {
                line-height: 0.775;
                font-size: 68px;
                color: #8eff00;
                transform: translateY(100%);
                transition: 1.5s cubic-bezier(.215, .61, .355, 1);
                @include tablet() {
                    font-size: 44px;
                }
                @include mobile() {
                    font-size: 42px;
                }
            }
        }
        
        .txt-box {
            .line {
                font-size: 18px;
                color: #ababab;
                line-height: 1.4;
                transform: translateY(100%);
                transition: 1.5s cubic-bezier(.215, .61, .355, 1);
                @include tablet() {
                    font-size: 15px;
                }
                @include mobile() {
                    font-size: 14px;
                }
            }
        }

        &.ani-translate {
            .line {
                transform: translateY(0);
            }
        }
    }
}

.sc-fact {
    background-color: #8eff00;
    color: #041a00;

    .group-title {
        padding: 128px 0;
        @include tablet() {
            padding: 60px 0;
        }
        @include mobile() {
            padding: 46px 0;
        }

        .title-area {
            .txt-ani {
                width: 100%;
                
                .title {
                    font-weight: 700;
                    font-size: 9vw;
                    text-align: center;

                    &.txt-md {
                        font-size: 13.2vw;
                    }

                    &.fw-900 {
                        font-weight: 900;
                    }
                    
                    &.txt-lg {
                        font-weight: 900;
                        font-size: 17.4vw;
                    }
                }
            }
        }
    }

    .group-info {
        margin-bottom: 28px;
        text-align: center;
        
        &.is-ani {
            .info-hdr .txt-ani .txt {
                transform: translateY(0);
            }

            .info-hdr {
                &::before,
                &::after {
                    transform: translateX(-50%) scaleX(1);
                }
            }
        }

        .info-hdr {
            position: relative;
            padding: 28px 0;
            @include tablet() {
                padding: 22px 0;
            }
            @include mobile() {
                padding: 14px 0;
            }

            &::before,
            &::after {
                left: 50%;
                width: 100%;
                height: 1px;
                background-color: #041a00;
                transform: translateX(-50%) scaleX(0);
                transition: transform 1s cubic-bezier(.215, .61, .355, 1);
                @include pseudo();
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }
            
            .txt-ani {
                font-family: "SharpGrotesk", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;

                .txt {
                    font-size: 68px;
                    transform: translateY(120%);
                    transition: 1.5s cubic-bezier(.215, .61, .355, 1);
                    @include tablet() {
                        font-size: 44px;
                    }
                    @include mobile() {
                        font-size: 42px;
                    }
                }
            }
        }

        .info-bdy {
            overflow: hidden;

            .info-list {
                display: flex;
                width: max-content;

                .info-item {
                    width: 100%;
                    max-width: 40vw;
                    padding: 36px;
                    border-bottom: 1px solid #041a00;
                    font-size: 20px;
                    line-height: 1.4;
                    @include tablet() {
                        padding: 30px;
                        font-size: 16px;
                    }
                    @include mobile() {
                        padding: 28px;
                        font-size: 15px;
                    }

                    & + .info-item {
                        border-left: 1px solid #041a00;
                    }
                }
            }
        }
    }

    .group-banner {
        --padding: 54px;
        --moveY: var(--padding);
        position: relative;
        padding: 0 22px 28px;
        @include tablet() {
            padding: 0 18px 22px;
        }
        @include mobile() {
            padding: 0 14px 14px;
        }

        .banner-box {
            position: relative;
            overflow: hidden;
            padding: 54px 0;
            @include tablet() {
                padding: 45px 0;
            }
            @include mobile() {
                padding: 28px 0;
            }
            
            .txt-area {
                overflow: hidden;
                padding: 28px 0;
                background: #041a00;
                transform-origin: 50% 50%;
                @include tablet() {
                    padding: 22px 0;
                }
                @include mobile() {
                    padding: 14px 0;
                }

                .txt-ani {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .txt {
                        font-family: "SharpGrotesk", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
                        font-size: 9vw;
                        color: #ababab;
                        white-space: nowrap;
                        
                        &.txt-lg {
                            font-weight: 900;
                            font-size: 12vw;
                        }
                    }
                }
            }

            .dot {
                background-color: #041a00;
                opacity: 0;
    
                &.dot1 {
                    top: var(--moveY);
                    left: 0;
                }
                &.dot2 {
                    top: var(--moveY);
                    right: 0;
                }
                &.dot3 {
                    bottom: var(--moveY);
                    left: 0;
                }
                &.dot4 {
                    right: 0;
                    bottom: var(--moveY);
                }
            }

        }

        &.banner2 {
            .banner-box .txt-area .txt-ani .txt {
                font-weight: 900;
                font-size: 5.4vw;

                &.txt-lg {
                    font-weight: 400;
                    font-size: 25vw;
                    @include mobile() {
                        font-size: 24vw;
                    }
                }
            }
        }

    }

    .group-vinegar {
        color: #041a00;
        text-align: center;

        .txt-ani {
            .txt {
                font-size: 27px;
                line-height: 1.3;
                @include tablet() {
                    font-size: 22px;
                }
            }   
        }

        .sub-title-area {
            .txt-ani {
                &.flex {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    max-width: 1034px;
                    margin: 0 auto;
                    @include tablet() {
                        flex-direction: column;
                        gap: 20px;
                    }

                    & .txt:last-child {
                        @include tablet() {
                            display: none;
                        }
                    }
                }

                & + .txt-ani {
                    margin-top: 28px;
                    @include tablet() {
                        margin-top: 22px;
                    }
                }
            }
        }

        .title-area {
            padding: 128px 0;
            @include tablet() {
                padding: 60px 0;
            }
            @include mobile() {
                padding: 20px 0;
            }
            
            .txt-ani {
                width: 100%;

                .title {
                    font-weight: 900;
                    font-size: 9vw;
                    
                    &.txt-lg {
                        font-weight: 400;
                        font-size: 19.8vw;
                    }
                }
            }
        }

        .circle-area {
            display: flex;
            justify-content: space-around;
            overflow: hidden;
            margin: 100px 0;
            padding: 0 22px;
            gap: 20px;
            @include tablet() {
                margin: 82px 0;
            }

            .circle {
                width: clamp(112px, 20vw, 384px);

                svg {
                    fill: #041a00;
                }
            }
        }
    }
}

.sc-video {
    position: relative;

    .group-title {
        bottom: 25px;
        width: 100%;
        mix-blend-mode: difference;
        @include absCenter(true, false);
        @include tablet() {
            bottom: 22px;
        }
        @include mobile() {
            bottom: 14px;
        }

        .title-area {
            .txt-ani {
                text-align: center;
                
                .title {
                    width: 100%;
                    font-size: 12vw;
                    color: #ababab;
                }
            }
        }
    }
}

.sc-species {
    --x: 0;
    --y: 0;
    position: relative;
    z-index: 2;
    padding: 20px;
    background-color: #1d2200;
    @include tablet() {
        padding: 18px;
    }
    @include mobile() {
        padding: 14px;
    }

    @keyframes m1 {
        0%{
            transform: translateY(120%);
        }
        100%{
            transform: translateY(0%);
        }
    }

    &.first {
        .swiper-slide {
            .swiper-left{
                .txt {
                    transform: translateY(120%);
                    animation: m1 1s;
                }
            }
        }
    }

    .dot {
        background-color: #8eff00;

        &.dot1 {
            top: 20px;
            left: 20px;
            @include tablet() {
                top: 18px;
                left: 18px;
            }
            @include mobile() {
                top: 14px;
                left: 14px;
            }
        }
        &.dot2 {
            top: 20px;
            right: 20px;
            @include tablet() {
                top: 18px;
                right: 18px;
            }
            @include mobile() {
                top: 14px;
                right: 14px;
            }
        }
    }

    .group-title {
        padding: 44px 0;
        text-align: center;
        @include tablet() {
            padding: 40px 0;
        }
        @include mobile() {
            padding: 36px 0;
        }

        .title-area {
            .txt-ani {
                .title {
                    font-weight: 700;
                    font-size: 12vw;
                    color: #8eff00;
                }
            }
        }
        .desc {
            margin-top: 25px;
            font-size: 26px;
            color: #ababab;
            line-height: 1.3;
            @include tablet() {
                margin-top: 22px;
                font-size: 22px;
            }
            @include mobile() {
                margin-top: 14px;
                font-size: 21px;
            }
        }
    }
    
    .group-swiper {
        .swiper-box {
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: auto;
            @include mobile() {
                grid-template-columns: 1fr;
            }
        }
    
        .swiper-left {
            @include mobile() {
                margin-top: 28px;
                text-align: center;
                grid-row: 2 / 2;
            }
            .slide-title {
                font-family: "SharpGrotesk", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    
                .txt {
                    font-size: clamp(48px, 4.16vw, 80px);
                    transform: translateY(120%);
                    transition: transform .5s cubic-bezier(.215, .61, .355, 1);
                }
            }
    
            .desc {
                margin-top: 25px;
                font-size: 17px;
                @include tablet() {
                    margin-top: 22px;
                    font-size: 15px;
                }
                @include mobile() {
                    margin-top: 14px;
                    font-size: 14px;
                }
    
                .line {
                    line-height: 1.35;
                    transform: translateY(120%);
                    transition: transform .5s cubic-bezier(.215, .61, .355, 1) 0.2s;
                }
            }
        }
    
        .swiper-right {
            position: relative;
            width: 100%;
            max-width: 100vmin;
            margin: 0 auto;
            transform: scale(0.5);
            transition: opacity 1s cubic-bezier(.165,.84,.44,1) .5s, transform 1s cubic-bezier(.165,.84,.44,1) .5s;
            opacity: 0;
    
            .video-area {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 20;
                aspect-ratio: 1 / 1;
                pointer-events: none;
                clip-path: url(#slider-clip-video);
            }
    
            .img-area {
                aspect-ratio: 1 / 1;
    
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    &:nth-child(1) {
                        z-index: 25;
                        transform: translate(calc(var(--x) * 1%), calc(var(--y) * 1%));
                    }
                    &:nth-child(2) {
                        z-index: 20;
                        transform: translate(calc(var(--x) * -1%), calc(var(--y) * -1%));
                    }
                    &:nth-child(3) {
                        z-index: 10;
                        transform: translate(calc(var(--x) * -1%), calc(var(--y) * -1%));
                    }
                    &:nth-child(4) {
                        z-index: 5;
                        transform: translate(calc(var(--x) * 1%), calc(var(--y) * 1%));
                    }
                }
            }
        }
    
        .swiper-slide-active {
            .swiper-left {
                .slide-title {
                    .txt {
                        transform: translateY(0);
                    }
                }
    
                .desc {
                    .line {
                        transform: translateY(0);
                    }
                }
            }
    
            .swiper-right {
                transform: scale(1);
                opacity: 1;
            }
        }
        
        .swiper-controls {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 25px 0;
            @include tablet() {
                margin: 22px 0;
            }
            @include mobile() {
                margin: 14px 0;
            } 

            .btn {
                position: static;
                width: 62px;
                height: 50px;
                margin: 0;
                transition: fill .5s cubic-bezier(.215,.61,.355,1);
                fill: #ababab;
                @include tablet() {
                    width: 40px;
                    height: 32px;
                }
                @include mobile() {
                    width: 32px;
                    height: 26px;
                }
                &::after {
                    content: none;
                }

                &:hover {
                    fill: #8eff00;
                }
            }
            
            .swiper-pagination {
                position: static;

                .swiper-pagination-bullet {
                    width: 10px;
                    height: 10px;
                    margin: 0 12px;
                    border: 1px solid #ababab;
                    background-color: transparent;
                    transition: all .5s cubic-bezier(.215,.61,.355,1);
                    border-radius: 50%;
                    &.swiper-pagination-bullet-active {
                        background-color: #8eff00;
                    }
                }
            }
        }

        .btn-buy {
            display: block;
            margin-top: 45px; 
            padding: 7px;
            background-color: #8eff00;
            font-family: "SharpGrotesk", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
            font-size: 68px;
            color: #041a00;
            line-height: 0.77;
            @include tablet() {
                margin-top: 22px;
                padding: 4px;
                font-size: 42px;
            }
            @include mobile() {
                margin: 14px auto 0;
            }
        }
    }
}

.sc-product {
    position: relative;
    z-index: 1;
    padding: 20px;
    background-color: #262c03;
    @include tablet() {
        padding: 18px;
    }
    @include mobile() {
        padding: 14px;
    }

    .dot {
        background-color: #8eff00;

        &.dot1 {
            top: 45px;
            left: 45px;
            @include tablet() {
                top: 40px;
                left: 40px;
            }
            @include mobile() {
                top: 28px;
                left: 28px;
            }
        }
        &.dot2 {
            top: 45px;
            right: 45px;
            @include mobile() {
                top: 40px;
                right: 40px;
            }
            @include mobile() {
                top: 28px;
                right: 28px;
            }
        }
    }

    .group-title {
        padding: 44px 0;
        background-color: #1d2200;
        text-align: center;
        @include tablet() {
            padding: 40px 0;
        }
        @include mobile() {
            padding: 36px 0;
        }

        .title-area {
            .txt-ani {
                .title {
                    font-weight: 900;
                    font-size: 6vw;
                    color: #8eff00;
                    @include mobile() {
                        font-size: 36px;
                    }
                }
            }
        }
        .desc {
            margin-top: 25px;
            font-size: 26px;
            color: #ababab;
            line-height: 1.3;
            @include tablet() {
                margin-top: 22px;
                font-size: 22px;
            }
            @include mobile() {
                margin-top: 14px;
                font-size: 21px;
            } 
        }
    }
    
    .group-product {
        background-color: #1d2200;

        .product-list {
            display: flex;
            border-top: 1px solid #262c03;
            @include mobile() {
                flex-direction: column;
            }

            .product-item {
                padding: 25px;
                text-align: center;
                flex: 1;
                @include tablet() {
                    padding: 22px;
                }
                @include mobile() {
                    padding: 14px;
                } 

                & + .product-item { 
                    border-left: 1px solid #262c03;
                }
                
                .prd-title {
                    margin-bottom: 25px; 
                    font-family: "SharpGrotesk", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
                    font-size: clamp(48px, 4.16vw, 80px);
                    color: #8eff00;
                    @include tablet() {
                        margin-bottom: 22px;
                    }
                    @include mobile() {
                        margin-bottom: 14px;
                    }
                }

                .prd-desc {
                    display: block;
                    font-size: 17px;
                    color: #ababab;
                    @include tablet() {
                        font-size: 15px;
                    }
                    @include mobile() {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.sc-pickle {
    position: relative;
    height: 400vh;
    background-color: #fff;

    &::after {
        bottom: 0;
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(to bottom, rgba(38, 44, 3, 0), #262c03);
        @include pseudo();
    }
    
    .sticky {
        margin-top: -100vh;

        .pickle-area {
            iframe {
                width: 100%;
                height: 100vh;
                border: none;
            }
        }
    }
}

.cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 995;
    width: 18px;
    height: 18px;
    background-color: #8eff00;
    border-radius: 50%;
    transform-origin: 50% 50%;
    pointer-events: none;
    mix-blend-mode: difference;
}