header {}
header .top{ position: relative; display: flex; justify-content: space-between; align-items: flex-start; height: 100px; background-color: #ccc;}
header .top h1{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
header .top h1 a{ display: block; width: 100px; height: 50px; background-color: #f00;}
header .bottom{ background-color: #666;}
header .bottom ul{ display: flex; justify-content: center;}
header .bottom ul li{}
header .bottom ul li a{ display: block; padding: 10px;}

main { width: 800px; margin: 10px auto;}
main > * { margin-top: 10px;}

.box1 { padding: 10px; background-color: #ccc;}
.box1 > * + * { margin-top: 10px;}
.box1 .top{ height: 100px; background-color: #fff;}
.box1 .bottom{ display: flex; gap: 10px; padding: 10px; background-color: #fff;}
.box1 .bottom .left{ flex: 1;}
.box1 .bottom .left ul{ display: grid; gap: 10px; grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(2, 100px); background-color: #0f0;}
.box1 .bottom .left ul li{ background-color: #f00;}
.box1 .bottom .right{ width: 150px; background-color: #f00;}

.box2 { padding: 10px; background-color: #ccc;}
.box2 ul{ }
.box2 ul li + li { margin-top: 10px;}
.box2 ul a{ display: flex; gap: 10px;}
.box2 ul img{ width: 150px;}
.box2 ul p{ flex: 1; background-color: #fff;}

footer { height: 100px; background-color: #f00;}