header { height: 100px; background-color: #f00;}
.inner { width: 800px; margin: 10px auto;}
.inner > * + * { margin-top: 10px;}

.box1 { display: flex; gap: 10px;}
.box1 .item { position: relative; flex: 1; height: 200px; background-color: #ccc;}
.box1 .btn { position: absolute; top: 50%; transform: translateY(-50%);}
.box1 .btn.prev { left: 10px;}
.box1 .btn.next { right: 10px;}

.box2 { height: 100px; background-color: #f00;}

.box3 { padding: 10px; background-color: #ccc;}
.box3 ul{ display: grid;  grid-template-columns: repeat(10, 1fr); grid-template-rows: repeat(2, auto); gap: 10px;}
.box3 ul li{ height: 100px; background-color: #f00;}
.box3 ul li:nth-child(1){ grid-column: span 7;}
.box3 ul li:nth-child(2){ grid-column: span 3;}
.box3 ul li:nth-child(3){ grid-column: span 2;}
.box3 ul li:nth-child(4){ grid-column: span 8;}

.box4 { display: flex; align-items: center;padding: 10px; background-color: #ccc;}
.box4 h2{}
.box4 p{}
.box4 .navi{ display: flex; margin-left: auto;}
.box4 .navi a{height: 50px;width: 50px; background-color: #f00;}

.box5 {}
.box5 ul { display: grid;  grid-template-columns: repeat(4, 1fr); grid-template-rows: repeat(2, auto); gap: 10px; }
.box5 ul li { min-width: 0;}
.box5 ul a { display: flex; flex-direction: column; gap: 10px; padding: 10px; background-color: #f00;}
.box5 ul strong { background-color: #fff; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.box5 ul p { background-color: #fff; display: -webkit-box; overflow: hidden; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}

footer { height: 100px; background-color: #f00;}