#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    padding: 25px;
    mix-blend-mode: difference;

    .header-inner {
        .nav {
            position: relative;
            @include flex(between, center);
        }

        .logo {
            position: absolute;
            top: 0;
            left: 50%;
            width: clamp(78px, 4.8vw, 92px);
            transform: translateX(-50%);
            transform-origin: 50% 0;

            svg {
                display: block;
                fill: #8eff00;
            }
        }
        
        .link-utils {
            overflow: hidden;
            
            &:hover {
                .txt {
                    text-decoration: underline;
                }
            }
            .txt { 
                display: block;
                font-size: 17px;
                @include tablet() {
                    font-size: 15px;
                }
                @include mobile() {
                    font-size: 14px;
                }
            }
        }
    }
}