@import '../utils/function';
@import '../utils/mixin';
@import '../utils/vars';

/* base */
@import '../base/common';
@import '../base/fonts';
@import '../base/reset';

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    .header-inner {
        mix-blend-mode: difference;
        padding: calc(var(--grid-gutter)* 1);
        @include flex(between, center);

        .logo {
            top: calc(var(--grid-gutter)* 1);
            left: calc(50% - 1.15em);
            width: 2.3em;
            font-size: 2.375rem;
            transform-origin: 50% 0;
            @include absCenter(true, false);

            svg {
                display: block;
                width: 2.3em;
                height: calc(2.3em* .652173913);
                fill: #8eff00;
            }
        }
    }
}