/* utils */
/* base */
.blind {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
}

.inner {
  padding: 0 20px;
}

.txt-cover {
  overflow: hidden;
  padding-right: 0.06em;
}

.marquee {
  display: flex;
  white-space: nowrap;
}
.marquee__txt {
  display: block;
  padding: 0 0.225em;
}

@font-face {
  font-family: "Neue";
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/PPNeueMontreal-Regular.woff') format('woff');
}
@font-face {
  font-family: "Neue";
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/PPNeueMontreal-Medium.woff') format('woff');
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  list-style: none;
}

fieldset, input {
  border: 0;
}

body {
  font-family: "Neue", sans-serif;
  font-weight: 400;
  color: #dfe3e8;
  background-color: #23272d;
}

/* pages */
.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}
.header__inner {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin: 26px 0;
}
.logo img {
  width: 80px;
}

.gnb__list {
  display: flex;
  gap: 30px;
}
.gnb__link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.008em;
  text-transform: uppercase;
}
.gnb__link--active::before {
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  display: block;
  position: absolute;
  content: "";
}

.section {
  padding: 12.5px 0;
  border-top: 1px solid #dfe3e8;
}
.section__inner {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.section__inner > * {
  display: flex;
}
.section__left {
  flex-direction: column;
  position: sticky;
  top: 0;
  flex: 3;
}
.section__right {
  flex: 7;
}
.section__title-area {
  display: flex;
  align-items: center;
  height: 100vh;
  margin: 0 -20px;
}
.section__title {
  position: relative;
  font-weight: 500;
  font-size: 13vw;
  line-height: 0.8;
  letter-spacing: -0.06em;
  text-transform: uppercase;
}

.tag, .sc-work__tag--review, .project-card__tag {
  padding: 12px 14px;
  font-size: 12px;
  border-radius: 1000px;
  backdrop-filter: blur(5px);
}
.tag--review {
  position: relative;
  gap: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tag--review::after {
  width: 14px;
  height: 14px;
  transform: rotate(90deg);
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  will-change: transform;
  display: block;
  position: static;
  content: "";
}
.tag--review:hover::after {
  transform: rotate(45deg);
}

.sc-visual__title .txt-cover:last-child .line {
  text-align: right !important;
}
.sc-visual__title::before, .sc-visual__title::after {
  z-index: 10;
  aspect-ratio: 1/1;
  display: block;
  position: absolute;
  content: "";
}
.sc-visual__title::before {
  top: 15.5vw;
  left: 27vw;
  width: 100%;
  max-width: 12vw;
  background: url("../images/img/img-visual1.svg") no-repeat center center/100% auto;
}
.sc-visual__title::after {
  top: 0;
  width: 13vw;
  margin-left: 63vw;
  transform: translateY(-4vw);
  background: url("../images/img/img-visual2.svg") no-repeat center center/100% auto;
}
.sc-visual__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin-top: 10px;
  font-size: 0.9vw;
  line-height: 0.95;
}
.sc-visual__info-txt {
  bottom: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.sc-about__inner {
  height: 600vh;
}
.sc-about__inner > * {
  padding: 14vw 0;
}
.sc-about .section__left {
  justify-content: center;
}
.sc-about .section__right {
  align-items: center;
  position: sticky;
  top: 0;
  margin-top: 86vh;
}
.sc-about__title {
  font-weight: 500;
  font-size: 3.2vw;
  line-height: 0.85;
  letter-spacing: -1px;
}
.sc-about__desc {
  margin-top: 24px;
}
.sc-about__txt {
  font-size: 2vw;
}
.sc-about .char {
  opacity: 0.2;
}

.sc-project {
  position: relative;
}
.sc-project__title {
  width: 100%;
}
.sc-project__title .txt-cover {
  width: fit-content;
}
.sc-project__title .txt-cover .line {
  padding: 0 20px;
}
.sc-project__title .txt-cover:nth-of-type(2) {
  margin-left: auto;
}
.sc-project__item {
  position: relative;
}
.sc-project__item:nth-of-type(1) .project-card__bg {
  background: url("../images/img/@portfolio1.jpg") no-repeat center center/100% auto;
  background-attachment: fixed;
}
.sc-project__item:nth-of-type(2) .project-card__bg {
  background: url("../images/img/@portfolio2.jpg") no-repeat center center/100% auto;
  background-attachment: fixed;
}
.sc-project__item:nth-of-type(3) .project-card__bg {
  background: url("../images/img/@portfolio3.jpg") no-repeat center center/100% auto;
  background-attachment: fixed;
}
.sc-project__item:nth-of-type(4) .project-card__bg {
  background: url("../images/img/@portfolio4.jpg") no-repeat center center/100% auto;
  background-attachment: fixed;
}
.sc-project__item:nth-of-type(5) .project-card__bg {
  background: url("../images/img/@portfolio5.jpg") no-repeat center center/100% auto;
  background-attachment: fixed;
}
.sc-project__item:nth-of-type(6) .project-card__bg {
  background: url("../images/img/@portfolio6.jpg") no-repeat center center/100% auto;
  background-attachment: fixed;
}
.sc-project__item:nth-of-type(7) .project-card__bg {
  background: url("../images/img/@portfolio7.jpg") no-repeat center center/100% auto;
  background-attachment: fixed;
}
.sc-project__item:nth-of-type(8) .project-card__bg {
  background: url("../images/img/@portfolio8.jpg") no-repeat center center/100% auto;
  background-attachment: fixed;
}
.sc-project__item:nth-of-type(9) .project-card__bg {
  background: url("../images/img/@portfolio9.jpg") no-repeat center center/100% auto;
  background-attachment: fixed;
}
.sc-project__item:nth-of-type(10) .project-card__bg {
  background: url("../images/img/@portfolio10.jpg") no-repeat center center/100% auto;
  background-attachment: fixed;
}
.sc-project__item + .sc-project__item {
  margin-top: 20px;
}

.project-card {
  display: block;
  position: relative;
  overflow: hidden;
}
.project-card:hover .project-card__bg {
  background-size: 105% auto;
}
.project-card:hover .project-card__bg::before {
  backdrop-filter: blur(0);
}
.project-card__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  transition: all 0.3s cubic-bezier(0.45, 0, 0.55, 1) 0.2s;
}
.project-card__bg::before {
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 39, 45, 0.2);
  transition: all 0.5s cubic-bezier(0.55, 0, 1, 0.45);
  pointer-events: none;
  backdrop-filter: blur(4px);
  display: block;
  position: absolute;
  content: "";
}
.project-card__tags {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.25rem;
  padding-bottom: 0;
  gap: 0.25rem;
  z-index: 10;
  display: flex;
  align-items: center;
}
.project-card__tag {
  background-color: rgba(249, 249, 249, 0.7490196078);
  color: #242424;
}
.project-card__tag--review {
  background-color: #fff;
}
.project-card__tag::after {
  background: url("../images/icons/icon-arw-up.svg") no-repeat center center/100% auto;
}
.project-card__title {
  padding: calc(10vw + 60px) 0 10vw;
  font-weight: 500;
  font-size: 13vw;
  line-height: 1;
  text-transform: uppercase;
}

.sc-work {
  position: relative;
}
.sc-work__inner > * {
  padding: 10vw 0;
}
.sc-work__title-area {
  display: flex;
  align-items: center;
  height: 100vh;
  margin: 0 -20px;
}
.sc-work__title {
  width: 100%;
}
.sc-work__title .txt-cover {
  width: fit-content;
  margin-left: auto;
}
.sc-work__title .txt-cover .line {
  padding: 0 20px;
}
.sc-work__title .txt-cover:nth-of-type(2) {
  margin-left: 0;
}
.sc-work__link--more {
  position: relative;
  width: fit-content;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 700;
}
.sc-work__link--more::before {
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.5px;
  background-color: #dfe3e8;
  transition: all 0.3s;
  display: block;
  position: absolute;
  content: "";
}
.sc-work__link--more:hover::before {
  width: 100%;
}
.sc-work__list {
  width: 100%;
}
.sc-work__item {
  --x: 0;
  --y: 0;
  --inset: 50%;
  padding: 2vw 2vw calc(2vw + 68px) 0;
  counter-increment: item-counter;
  border-bottom: 1px solid #dfe3e8;
}
.sc-work__item::before {
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s;
  display: block;
  position: absolute;
  content: "";
}
.sc-work__item::after {
  top: calc(var(--y) * 1px);
  left: calc(var(--x) * 1px);
  height: 120%;
  aspect-ratio: 1.8;
  border-radius: 8px;
  clip-path: inset(var(--inset));
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: -1;
  display: block;
  position: absolute;
  content: "";
}
.sc-work__item:nth-child(1)::after {
  background: url("../images/img/@work1.jpg") no-repeat center center/100% auto;
}
.sc-work__item:nth-child(2)::after {
  background: url("../images/img/@work2.jpg") no-repeat center center/100% auto;
}
.sc-work__item:nth-child(3)::after {
  background: url("../images/img/@work3.jpg") no-repeat center center/100% auto;
}
.sc-work__item:nth-child(4)::after {
  background: url("../images/img/@work4.jpg") no-repeat center center/100% auto;
}
.sc-work__item:nth-child(5)::after {
  background: url("../images/img/@work5.jpg") no-repeat center center/100% auto;
}
.sc-work__item:nth-child(6)::after {
  background: url("../images/img/@work6.jpg") no-repeat center center/100% auto;
}
.sc-work__item:nth-child(7)::after {
  background: url("../images/img/@work7.jpg") no-repeat center center/100% auto;
}
.sc-work__item:nth-child(8)::after {
  background: url("../images/img/@work8.jpg") no-repeat center center/100% auto;
}
.sc-work__item:nth-child(9)::after {
  background: url("../images/img/@work9.jpg") no-repeat center center/100% auto;
}
.sc-work__item:nth-child(10)::after {
  background: url("../images/img/@work10.jpg") no-repeat center center/100% auto;
}
.sc-work__item:nth-child(11)::after {
  background: url("../images/img/@work11.jpg") no-repeat center center/100% auto;
}
.sc-work__item:nth-child(12)::after {
  background: url("../images/img/@work12.jpg") no-repeat center center/100% auto;
}
.sc-work__item:nth-child(13)::after {
  background: url("../images/img/@work13.jpg") no-repeat center center/100% auto;
}
.sc-work__item:nth-child(14)::after {
  background: url("../images/img/@work14.jpg") no-repeat center center/100% auto;
}
.sc-work__item:hover::before {
  width: 100%;
}
.sc-work__item:hover .work-card::after {
  transform: translateY(-50%) rotate(45deg);
}
.sc-work__item .work-card::before {
  content: counter(item-counter);
  display: block;
  font-size: 14px;
  line-height: 1;
}
.sc-work__item:nth-child(-n+9) .work-card::before {
  content: "0" counter(item-counter);
}
.sc-work__tag--review {
  position: absolute;
  left: calc(1.35vw + 17px);
  bottom: 2vw;
  border: 1px solid #dfe3e8;
}
.sc-work__tag--review::after {
  background: url("../images/icons/icon-arw-up-white.svg") no-repeat center center/100% auto;
}

.work-card {
  display: flex;
  position: relative;
  gap: 1.35vw;
}
.work-card::after {
  top: calc(50% + 15px);
  right: 0;
  width: 32px;
  height: 32px;
  background: url("../images/icons/icon-arw-up-white.svg") no-repeat center center/100% auto;
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  transform: translateY(-50%) rotate(90deg);
  display: block;
  position: absolute;
  content: "";
}
.work-card__title-area {
  border-bottom: #dfe3e8;
}
.work-card__title {
  display: block;
  font-size: 3.33vw;
  line-height: 1;
  text-transform: uppercase;
}
.work-card__desc {
  margin-top: 16px;
  font-size: 14px;
}

.snb {
  padding-top: 2vw;
}
.snb__item {
  width: fit-content;
  opacity: 0.3;
  font-size: 14px;
  line-height: 1.15;
}
.snb__item--active {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */