/* utils */
/* base */
.mobile {
  display: none;
}
@media (max-width: 768px) {
  .mobile {
    display: block;
  }
}

.pc {
  display: block;
}
@media (max-width: 768px) {
  .pc {
    display: none;
  }
}

.blind {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
}

.inner {
  padding: 0 20px;
}

.txt-aniY .txt-cover {
  display: block !important;
  overflow: hidden;
  position: relative;
}
.txt-aniY .word:nth-of-type(2) {
  position: absolute !important;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.txt-cover {
  padding-right: 0.06em;
}

.marquee {
  display: flex;
  white-space: nowrap;
}
.marquee__txt {
  display: block;
  padding: 0 0.225em;
}

.btn__hamburger {
  position: relative;
  width: 16px;
  height: 16px;
  gap: 4px;
  z-index: 999;
}
@media (max-width: 768px) {
  .btn__hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.btn__hamburger .line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #dfe3e8;
  transform-origin: 50% 50%;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.btn__hamburger.open .line:first-child {
  transform: rotate(45deg) translate(0.5px, 3px);
}
.btn__hamburger.open .line:last-child {
  transform: rotate(-45deg) translate(0.5px, -3px);
}

@font-face {
  font-family: "Neue";
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/PPNeueMontreal-Regular.woff') format('woff');
}
@font-face {
  font-family: "Neue";
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/PPNeueMontreal-Medium.woff') format('woff');
}
@font-face {
  font-family: "LeagueSpartan";
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/LeagueSpartan-Bold.otf') format('opentype');
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  list-style: none;
}

fieldset, input {
  border: 0;
}

body {
  --scaleX: 0;
  font-family: "Neue", sans-serif;
  font-weight: 400;
  color: #dfe3e8;
  background-color: #23272d;
}

/* pages */
.header {
  position: fixed;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
}
.header:not(.open) {
  mix-blend-mode: difference;
}
.header__inner {
  position: relative;
  height: 70px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .header__inner {
    padding: 0 2.6vw;
  }
}

.logo {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo__link {
  display: block;
  font-family: "LeagueSpartan", sans-serif;
  font-size: 2vw;
  line-height: 1;
  letter-spacing: -0.02em;
}
@media (max-width: 1080px) {
  .logo__link {
    font-size: 3.5vw;
  }
}
@media (max-width: 768px) {
  .logo__link {
    font-size: 4.9vw;
  }
}

@media (max-width: 768px) {
  .gnb {
    --inset1: 100;
    --inset2: 100;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 990;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gnb::before, .gnb::after {
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    content: "";
  }
  .gnb::before {
    clip-path: inset(0 0 calc(var(--inset1) * 1%) 0);
    background-color: #dfe3e8;
  }
  .gnb::after {
    clip-path: inset(0 0 calc(var(--inset2) * 1%) 0);
    background-color: #23272d;
  }
}
.gnb__list {
  display: flex;
  gap: 30px;
}
@media (max-width: 1080px) {
  .gnb__list {
    gap: 2.78vw;
  }
}
@media (max-width: 768px) {
  .gnb__list {
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 4vw;
  }
}
@media (max-width: 768px) {
  .gnb__item {
    overflow: hidden;
  }
}
.gnb__link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.008em;
  text-transform: uppercase;
}
@media (max-width: 1080px) {
  .gnb__link {
    font-size: 1.67vw;
  }
}
@media (max-width: 768px) {
  .gnb__link {
    display: block;
    font-size: 6vw;
  }
}
.gnb__link--active::before {
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  display: block;
  position: absolute;
  content: "";
}
@media (max-width: 768px) {
  .gnb__link--active::before {
    display: none;
  }
}

.utils {
  display: flex;
  position: relative;
  z-index: 999;
  gap: 30px;
}
@media (max-width: 1080px) {
  .utils {
    gap: 2.78vw;
  }
}
@media (max-width: 768px) {
  .utils {
    gap: 3.9063vw;
  }
}
.utils__link {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: invert(1);
}
@media (max-width: 1080px) {
  .utils__link {
    width: 16px;
    height: 16px;
  }
}
.utils__link--velog {
  background-image: url("../images/icons/icon-velog.png");
}
.utils__link--github {
  background-image: url("../images/icons/icon-github.png");
}

.footer {
  position: relative;
  overflow: hidden;
}
.footer::before {
  left: 50%;
  width: calc(100% - 40px);
  height: 1px;
  background-color: #dfe3e8;
  transform: translateX(-50%) scale(var(--scaleX));
  display: block;
  position: absolute;
  content: "";
}
.footer .section__title-area {
  height: 45vh;
}
.footer__top {
  padding: 70px 0;
}
.footer__bottom {
  position: relative;
  z-index: -1;
  color: #23272d;
}
.footer__inner {
  position: relative;
}
.footer__title {
  font-size: 4.6875vw;
  text-transform: uppercase;
  font-weight: 700;
}
.footer__title .txt-cover {
  display: block;
  overflow: hidden;
  width: fit-content;
}
.footer__title .txt-cover:nth-of-type(2) {
  margin-left: 17vw;
}
.footer__title .txt-cover:nth-of-type(3) {
  margin-left: 5.4vw;
}
.footer .copyright {
  display: block;
  position: absolute;
  right: 20px;
  bottom: 0;
  text-align: right;
  opacity: 0.4;
}
.footer__marquee {
  padding: 0 1vw;
  mix-blend-mode: difference;
}
.footer__marquee .marquee__txt {
  font-size: 24vw;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}
.footer__marquee .marquee__txt span {
  font-weight: 400;
}
.footer__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: grayscale(1);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
.f-nav {
  margin-top: 2vw;
}
.f-nav__list {
  flex-wrap: wrap;
  gap: 1vw;
  display: flex;
  align-items: center;
}
.f-nav__item:nth-of-type(1) {
  width: 100%;
  font-size: 18px;
}
.f-nav__item:nth-of-type(1) .word {
  position: relative;
}
.f-nav__item:nth-of-type(1) .word::before {
  bottom: -2px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #dfe3e8;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  will-change: transform;
  transform-origin: 0% 50%;
  display: block;
  position: absolute;
  content: "";
}
.f-nav__item:nth-of-type(1) .word:hover::before {
  transform: scaleX(1);
}
.f-nav__item:nth-of-type(n+2) .f-nav__link {
  display: flex;
  gap: 7px;
  position: relative;
  padding-right: 18px;
}
.f-nav__item:nth-of-type(n+2) .f-nav__link::before {
  top: 50%;
  right: 0;
  width: 14px;
  height: 14px;
  background: url("../images/icons/icon-arw-up-white.svg") no-repeat center center/100% auto;
  transform: translateY(-50%) rotate(45deg);
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: block;
  position: absolute;
  content: "";
}
.f-nav__item:nth-of-type(n+2) .f-nav__link:hover::before {
  transform: translateY(-50%) rotate(90deg);
}
.f-nav__txt {
  opacity: 0.4;
}

.section {
  position: relative;
  padding: 12.5px 0;
}
.section + .section::before {
  left: 50%;
  width: calc(100% - 40px);
  height: 1px;
  background-color: #dfe3e8;
  transform: translateX(-50%) scale(var(--scaleX));
  display: block;
  position: absolute;
  content: "";
}
.section__inner {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .section__inner {
    display: block;
  }
}
.section__inner > * {
  display: flex;
}
.section__left {
  flex-direction: column;
  position: sticky;
  top: 0;
}
.section__title-area {
  display: flex;
  align-items: center;
  height: 100vh;
}
.section__title {
  position: relative;
  font-weight: 500;
  font-size: 13vw;
  line-height: 0.8;
  letter-spacing: -0.06em;
  text-transform: uppercase;
}

.tag, .sc-work__tag--review, .project-card__tag {
  padding: 12px 14px;
  font-size: 12px;
  border-radius: 1000px;
  backdrop-filter: blur(5px);
}
.tag--review {
  position: relative;
  padding-right: 42px;
  font-weight: 500;
}
.tag--review::after {
  top: 50%;
  right: 14px;
  width: 14px;
  height: 14px;
  margin-left: 14px;
  transform: translateY(-50%) rotate(90deg);
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  will-change: transform;
  display: block;
  position: absolute;
  content: "";
}
.tag--review:hover::after {
  transform: translateY(-50%) rotate(45deg);
}

.intro {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.intro .intro__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.intro .intro__bg--black {
  background-color: #23272d;
}
.intro .intro__bg--white {
  background-color: #dfe3e8;
}
.intro .inner {
  height: 100%;
}
.intro__txt-box {
  z-index: 10;
  overflow: hidden;
  width: 100%;
  height: 1.8vw;
  mix-blend-mode: difference;
}
.intro__txt {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: #23272d;
  font-weight: 700;
  font-size: 1.5vw;
  text-align: center;
  transform: translateX(-50%);
  text-transform: uppercase;
}
.intro__txt:nth-child(1) {
  z-index: calc(-1 * 1);
}
.intro__txt:nth-child(2) {
  z-index: calc(-1 * 2);
}
.intro__txt:nth-child(3) {
  z-index: calc(-1 * 3);
}
.intro__txt:nth-child(4) {
  z-index: calc(-1 * 4);
}
.intro__txt:nth-child(5) {
  z-index: calc(-1 * 5);
}
.intro__txt:nth-child(2n) {
  background-color: #dfe3e8;
  color: #23272d;
}

.sc-visual {
  --y: 100;
  --opacity: 0;
  padding-top: 0;
  user-select: none;
}
.sc-visual__video-area {
  overflow: hidden;
  height: 100vh;
}
.sc-visual__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}
.sc-visual .inner {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
.sc-visual__title-area {
  height: 600vh;
}
.sc-visual__title-area .sticky {
  display: flex;
  align-items: center;
}
.sc-visual__inner {
  width: 100%;
}
.sc-visual__title {
  overflow: hidden;
  width: 100%;
}
.sc-visual__title .txt-cover:last-child .line {
  text-align: right !important;
}
.sc-visual__title::before, .sc-visual__title::after {
  z-index: 10;
  aspect-ratio: 1/1;
  display: block;
  position: absolute;
  content: "";
}
.sc-visual__title::before {
  top: 15.5vw;
  left: 27vw;
  width: 100%;
  max-width: 12vw;
  transform: translateY(var(--y));
  opacity: var(--opacity);
  background: url("../images/img/img-visual1.svg") no-repeat center center/100% auto;
}
.sc-visual__title::after {
  top: 3.2vw;
  width: 13vw;
  margin-left: 50.3vw;
  opacity: var(--opacity);
  background: url("../images/img/img-visual2.svg") no-repeat center center/100% auto;
}
.sc-visual__info {
  position: absolute;
  top: 20px;
  right: 20px;
  left: 20px;
  overflow: hidden;
  margin-top: 10px;
  font-size: 0.9vw;
  line-height: 0.95;
  mix-blend-mode: difference;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.sc-visual__info-txt {
  top: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.sc-about {
  user-select: none;
}
.sc-about__top {
  height: 600vh;
}
.sc-about__bottom {
  height: 600vh;
}
.sc-about__inner {
  height: 600vh;
  gap: 2vw;
}
@media (max-width: 768px) {
  .sc-about__inner {
    display: block;
    position: sticky;
    top: 0;
    height: 100vh;
  }
}
.sc-about__inner > * {
  padding: 14vw 0;
}
@media (max-width: 768px) {
  .sc-about__inner > * {
    padding: 14vw 0 0;
  }
}
.sc-about .section__left {
  justify-content: center;
  flex: 3;
}
@media (max-width: 768px) {
  .sc-about .section__left {
    position: static;
  }
}
.sc-about .section__right {
  position: sticky;
  top: 0;
  flex: 7;
}
@media (max-width: 768px) {
  .sc-about .section__right {
    position: static;
  }
}
.sc-about__title {
  font-weight: 500;
  font-size: 3.2vw;
  line-height: 0.85;
  letter-spacing: -1px;
}
.sc-about__desc {
  margin-top: 24px;
}
.sc-about__txt {
  font-size: 2vw;
}
.sc-about__txt + .sc-about__txt {
  margin-top: 24px;
}
.sc-about .char {
  opacity: 0.2;
}

.keywords {
  display: flex;
  align-items: center;
  justify-content: center;
}
.keywords__list {
  flex-wrap: wrap;
  max-width: 80vw;
  gap: 1vw;
  display: flex;
  justify-content: center;
}
@media (max-width: 1080px) {
  .keywords__list {
    gap: 2vw;
  }
}
@media (max-width: 768px) {
  .keywords__list {
    gap: 3vw 2vw;
  }
}
.keywords__item {
  padding: 10px 50px;
  border: 4px solid #dfe3e8;
  font-size: 4vw;
  line-height: 1;
  text-transform: uppercase;
  border-radius: 100px;
}
@media (max-width: 1080px) {
  .keywords__item {
    padding: 0.9vw 4.6vw;
    border-width: 2px;
    font-size: 3vw;
  }
}
@media (max-width: 768px) {
  .keywords__item {
    border-width: 1px;
    font-size: 14px;
  }
}

.sc-project {
  position: relative;
  overflow: hidden;
}
.sc-project__title {
  width: 100%;
}
.sc-project__title .txt-cover {
  width: fit-content;
}
.sc-project__title .txt-cover .line {
  padding: 0 20px;
}
.sc-project__title .txt-cover:nth-of-type(2) {
  margin-left: auto;
}
.sc-project__item {
  position: relative;
}
.sc-project__item:nth-of-type(1) .project-card__bg {
  background: url("../images/img/@portfolio1.jpg") no-repeat center center/cover;
  background-attachment: fixed;
}
.sc-project__item:nth-of-type(2) .project-card__bg {
  background: url("../images/img/@portfolio2.jpg") no-repeat center center/cover;
  background-attachment: fixed;
}
.sc-project__item:nth-of-type(3) .project-card__bg {
  background: url("../images/img/@portfolio3.jpg") no-repeat center center/cover;
  background-attachment: fixed;
}
.sc-project__item:nth-of-type(4) .project-card__bg {
  background: url("../images/img/@portfolio4.jpg") no-repeat center center/cover;
  background-attachment: fixed;
}
.sc-project__item:nth-of-type(5) .project-card__bg {
  background: url("../images/img/@portfolio5.jpg") no-repeat center center/cover;
  background-attachment: fixed;
}
.sc-project__item:nth-of-type(6) .project-card__bg {
  background: url("../images/img/@portfolio6.jpg") no-repeat center center/cover;
  background-attachment: fixed;
}
.sc-project__item:nth-of-type(7) .project-card__bg {
  background: url("../images/img/@portfolio7.jpg") no-repeat center center/cover;
  background-attachment: fixed;
}
.sc-project__item:nth-of-type(8) .project-card__bg {
  background: url("../images/img/@portfolio8.jpg") no-repeat center center/cover;
  background-attachment: fixed;
}
.sc-project__item:nth-of-type(9) .project-card__bg {
  background: url("../images/img/@portfolio9.jpg") no-repeat center center/cover;
  background-attachment: fixed;
}
.sc-project__item:nth-of-type(10) .project-card__bg {
  background: url("../images/img/@portfolio10.jpg") no-repeat center center/cover;
  background-attachment: fixed;
}
.sc-project__item + .sc-project__item {
  margin-top: 20px;
}
.sc-project__link-wrap {
  margin: 10vw 0 10vw 20px;
}
.sc-project__link {
  --rotate: 0;
  position: relative;
  width: fit-content;
  padding: 0 6vw;
  border: 2px solid #40454b;
  font-weight: 500;
  font-size: 13vw;
  line-height: 1.2;
  gap: 6vw;
  border-radius: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sc-project__link::after {
  width: 10vw;
  height: 10vw;
  transform: rotate(calc(var(--rotate) * 1deg));
  background: url("../images/img/img-portfolio1.svg") no-repeat center center/100% auto;
  display: block;
  position: static;
  content: "";
}

.project-card {
  display: block;
  position: relative;
  overflow: hidden;
}
.project-card:hover .project-card__bg::before {
  background-color: rgba(35, 39, 45, 0.5);
}
.project-card__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  transition: all 0.3s cubic-bezier(0.45, 0, 0.55, 1);
}
.project-card__bg::before {
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 39, 45, 0.2);
  transition: all 0.5s cubic-bezier(0.55, 0, 1, 0.45);
  pointer-events: none;
  display: block;
  position: absolute;
  content: "";
}
.project-card__tags {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 1.25rem;
  padding-bottom: 0;
  gap: 0.25rem;
  display: flex;
  align-items: center;
}
.project-card__tag {
  background-color: rgba(249, 249, 249, 0.7490196078);
  color: #242424;
}
.project-card__tag--review {
  background-color: #fff;
}
.project-card__tag::after {
  background: url("../images/icons/icon-arw-up.svg") no-repeat center center/100% auto;
}
.project-card__inner {
  padding: calc(10vw + 60px) 0 10vw;
}
.project-card__content {
  --scaleX: 0;
  position: relative;
  overflow: hidden;
}
.project-card__content::before, .project-card__content::after {
  left: 50%;
  width: calc(100% - 40px);
  height: 3px;
  background-color: #dfe3e8;
  transform: translateX(-50%) scaleX(var(--scaleX));
  display: block;
  position: absolute;
  content: "";
}
.project-card__content::before {
  top: 0;
}
.project-card__content::after {
  bottom: 0;
}
.project-card__title {
  font-weight: 500;
  font-size: 13vw;
  line-height: 1;
  text-transform: uppercase;
}

.sc-work {
  position: relative;
  overflow: hidden;
}
.sc-work__left {
  padding-top: 10vw;
  padding-bottom: 17.5vh;
  flex: 1;
}
.sc-work__right {
  position: relative;
  overflow: hidden;
  width: calc(70% + 12.5vw);
  padding: 10vw 20px 17.5vh 12.5vw;
}
.sc-work__title-area {
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
.sc-work__title {
  width: 100%;
}
.sc-work__title .txt-cover {
  width: fit-content;
  margin-left: auto;
}
.sc-work__title .txt-cover .line {
  padding: 0 20px;
}
.sc-work__title .txt-cover:nth-of-type(2) {
  margin-left: 0;
}
.sc-work__title-box {
  position: relative;
  width: 100%;
}
.sc-work__desc-box {
  width: 100%;
  gap: 0.5vw;
  display: flex;
  align-items: center;
}
.sc-work__desc-box:last-child {
  top: 50%;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.sc-work__desc-box .hr__line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #dfe3e8;
  transform: scaleX(0);
}
.sc-work__desc-box .hr__line:nth-of-type(1) {
  transform-origin: 100% 50%;
}
.sc-work__desc-box .hr__line:nth-of-type(2) {
  transform-origin: 0% 50%;
}
.sc-work__desc {
  text-transform: uppercase;
  white-space: nowrap;
}
.sc-work__txt {
  position: relative;
  padding: 0 1vw;
  display: flex;
  align-items: center;
}
.sc-work__txt::before {
  width: 10vw;
  height: 10vw;
  display: block;
  position: static;
  content: "";
}
.sc-work .line {
  display: flex;
}
@keyframes translateX {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.sc-work .line + .line {
  margin-top: 38px;
}
.sc-work .line:nth-of-type(1) {
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.sc-work .line:nth-of-type(1) .sc-work__txt {
  animation: translateX 10s linear reverse infinite;
}
.sc-work .line:nth-of-type(1) .sc-work__txt::before {
  background: url("../images/img/img-work1.svg") no-repeat center center/100% auto;
}
.sc-work .line:nth-of-type(2) .sc-work__txt {
  animation: translateX 10s linear infinite forwards;
}
.sc-work .line:nth-of-type(2) .sc-work__txt::before {
  background: url("../images/img/img-work2.svg") no-repeat center center/100% auto;
}
.sc-work__link--more {
  position: relative;
  width: fit-content;
  margin-top: 20px;
  font-weight: 700;
  font-size: 14px;
}
.sc-work__link--more::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.5px;
  background-color: #dfe3e8;
  transition: all 0.3s;
  display: block;
  position: absolute;
  content: "";
}
.sc-work__link--more:hover::before {
  width: 100%;
}
.sc-work__list {
  width: 100%;
}
.sc-work__item {
  padding: 2vw 2vw calc(2vw + 68px) 0;
  border-bottom: 1px solid #dfe3e8;
  counter-increment: item-counter;
}
.sc-work__item:first-child {
  padding-top: 0;
}
.sc-work__item::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s;
  display: block;
  position: absolute;
  content: "";
}
.sc-work__item:hover::before {
  width: 100%;
}
.sc-work__item:hover .work-card::after {
  transform: translateY(-50%) rotate(45deg);
}
.sc-work__item .work-card::before {
  display: block;
  font-size: 14px;
  line-height: 1;
  content: counter(item-counter);
}
.sc-work__item:nth-child(-n+9) .work-card::before {
  content: "0" counter(item-counter);
}
.sc-work__tag--review {
  position: absolute;
  bottom: 2vw;
  left: calc(1.35vw + 17px);
  border: 1px solid #dfe3e8;
}
.sc-work__tag--review::after {
  background: url("../images/icons/icon-arw-up-white.svg") no-repeat center center/100% auto;
}
.sc-work__bg-area {
  --x: 0;
  --y: 0;
  --inset: 50%;
  position: fixed;
  top: calc(var(--y) * 1px);
  left: calc(var(--x) * 1px);
  z-index: -1;
  overflow: hidden;
  width: 25vw;
  height: 35vh;
  transform: translate(-50%, -50%);
  clip-path: inset(var(--inset));
  pointer-events: none;
  user-select: none;
  border-radius: 8px;
}
.sc-work__bg-area .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: inset(0% 0 0% 0);
}
.sc-work__bg-area .bg:nth-child(1) {
  z-index: -1;
  background: url("../images/img/@work1.jpg") no-repeat center center/cover;
}
.sc-work__bg-area .bg:nth-child(2) {
  z-index: -2;
  background: url("../images/img/@work2.jpg") no-repeat center center/cover;
}
.sc-work__bg-area .bg:nth-child(3) {
  z-index: -3;
  background: url("../images/img/@work3.jpg") no-repeat center center/cover;
}
.sc-work__bg-area .bg:nth-child(4) {
  z-index: -4;
  background: url("../images/img/@work4.jpg") no-repeat center center/cover;
}
.sc-work__bg-area .bg:nth-child(5) {
  z-index: -5;
  background: url("../images/img/@work5.jpg") no-repeat center center/cover;
}
.sc-work__bg-area .bg:nth-child(6) {
  z-index: -6;
  background: url("../images/img/@work6.jpg") no-repeat center center/cover;
}
.sc-work__bg-area .bg:nth-child(7) {
  z-index: -7;
  background: url("../images/img/@work7.jpg") no-repeat center center/cover;
}
.sc-work__bg-area .bg:nth-child(8) {
  z-index: -8;
  background: url("../images/img/@work8.jpg") no-repeat center center/cover;
}
.sc-work__bg-area .bg:nth-child(9) {
  z-index: -9;
  background: url("../images/img/@work9.jpg") no-repeat center center/cover;
}
.sc-work__bg-area .bg:nth-child(10) {
  z-index: -10;
  background: url("../images/img/@work10.jpg") no-repeat center center/cover;
}
.sc-work__bg-area .bg:nth-child(11) {
  z-index: -11;
  background: url("../images/img/@work11.jpg") no-repeat center center/cover;
}
.sc-work__bg-area .bg:nth-child(12) {
  z-index: -12;
  background: url("../images/img/@work12.jpg") no-repeat center center/cover;
}
.sc-work__bg-area .bg:nth-child(13) {
  z-index: -13;
  background: url("../images/img/@work13.jpg") no-repeat center center/cover;
}
.sc-work__bg-area .bg:nth-child(14) {
  z-index: -14;
  background: url("../images/img/@work14.jpg") no-repeat center center/cover;
}

.work-card {
  display: flex;
  position: relative;
  padding-right: calc(2vw + 32px);
  gap: 1.35vw;
}
.work-card::after {
  top: calc(50% + 15px);
  right: 0;
  width: 32px;
  height: 32px;
  background: url("../images/icons/icon-arw-up-white.svg") no-repeat center center/100% auto;
  transform: translateY(-50%) rotate(90deg);
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  display: block;
  position: absolute;
  content: "";
}
.work-card__title-area {
  border-bottom: #dfe3e8;
}
.work-card__title {
  display: block;
  font-size: 3.33vw;
  line-height: 1;
  text-transform: uppercase;
}
.work-card__desc {
  margin-top: 16px;
  font-size: 14px;
}

.sc-goal {
  height: 300vh;
}
.sc-goal__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sc-goal__title {
  font-size: 16px;
  text-transform: uppercase;
}
.sc-goal__txt {
  margin-top: 24px;
  font-size: 2vw;
}
.sc-goal__txt .char {
  opacity: 0.2;
}

.snb__item {
  width: fit-content;
  font-size: 14px;
  line-height: 1.15;
  opacity: 0.3;
}
.snb__item--active {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */