/* utils */
/* base */
.blind {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
}

.inner {
  padding: 0 20px;
}

.txt-cover {
  overflow: hidden;
}

.word {
  transform: translateY(120%);
}

.marquee {
  display: flex;
  white-space: nowrap;
}
.marquee__txt {
  display: block;
  padding: 0 0.225em;
}

@font-face {
  font-family: "Neue";
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/PPNeueMontreal-Regular.woff') format('woff');
}
@font-face {
  font-family: "Neue";
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/PPNeueMontreal-Medium.woff') format('woff');
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  list-style: none;
}

fieldset, input {
  border: 0;
}

body {
  font-family: "Neue", sans-serif;
  font-weight: 400;
  color: #dfe3e8;
  background-color: #23272d;
}

/* pages */
.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}
.header__inner {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin: 26px 0;
}
.logo img {
  width: 80px;
}

.gnb__list {
  display: flex;
  gap: 30px;
}
.gnb__link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.008em;
  text-transform: uppercase;
}
.gnb__link--active::before {
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  display: block;
  position: absolute;
  content: "";
}

.section {
  padding: 12.5px 0;
  border-top: 1px solid #dfe3e8;
}
.section__inner {
  display: flex;
}

.sc-visual__title {
  position: relative;
  font-weight: 500;
  font-size: 13vw;
  line-height: 0.8;
  letter-spacing: -0.06em;
  text-transform: uppercase;
}
.sc-visual__title .line:last-child {
  text-align: right !important;
}
.sc-visual__title::before, .sc-visual__title::after {
  z-index: 10;
  aspect-ratio: 1/1;
  display: block;
  position: absolute;
  content: "";
}
.sc-visual__title::before {
  top: 15.5vw;
  left: 27vw;
  width: 100%;
  max-width: 12vw;
  background: url("../images/img/img-visual1.svg") no-repeat center center/100% auto;
}
.sc-visual__title::after {
  top: 0;
  width: 13vw;
  margin-left: 63vw;
  transform: translateY(-4vw);
  background: url("../images/img/img-visual2.svg") no-repeat center center/100% auto;
}
.sc-visual__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin-top: 10px;
  font-size: 0.9vw;
  line-height: 0.95;
}
.sc-visual__info-txt {
  bottom: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.sc-about {
  position: relative;
  height: 300vh;
}
.sc-about__inner {
  justify-content: space-between;
  padding: 14vw 0;
}
.sc-about__left {
  flex: 3;
}
.sc-about__right {
  flex: 7;
}
.sc-about__title {
  font-weight: 500;
  font-size: 3.2vw;
  line-height: 0.85;
  letter-spacing: -1px;
}
.sc-about__desc {
  margin-top: 24px;
}
.sc-about__txt {
  font-size: 2vw;
}
.sc-about .char {
  opacity: 0.2;
}

.sc-project {
  position: relative;
  height: 600vh;
}
.sc-project__item + .sc-project__item {
  margin-top: 20px;
}

.project-card {
  display: block;
  position: relative;
  overflow: hidden;
  padding: 10vw 0;
}
.project-card__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  background: url("../images/img/@portfolio1.jpg") no-repeat center center/cover;
  background-attachment: fixed;
}
.project-card__tags {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.25rem;
  gap: 0.25rem;
}
.project-card__tag {
  padding: 12px 14px;
  background-color: rgba(249, 249, 249, 0.7490196078);
  font-size: 12px;
  color: #242424;
  line-height: 1;
  backdrop-filter: blur(5px);
  border-radius: 1000px;
}
.project-card__title {
  font-weight: 500;
  font-size: 13vw;
  line-height: 1;
  text-transform: uppercase;
}/*# sourceMappingURL=style.css.map */