.blind { position: absolute; overflow: hidden; width: 1px; height: 1px; margin: -1px; clip: rect(0, 0, 0, 0);}

#skipNav {
    position: absolute;
}
#skipNav a{
    position: absolute;
    top: -50px;
    padding: 10px;
    background-color: #000;
    color: #fff;
    white-space: nowrap;
}
#skipNav a:focus,
#skipNav a:active{
    top: 0;
}

/* sp1 */
#header .util-area > *::after,
#header .group-search .btn-keyboard::after,
#header .group-search .btn-auto::after,
#header .group-nav .icon::before,
#header .group-nav .icon::after,
#header .group-nav .ic-new,
.control-style1 .btn::before,
.control-style1 .view-area [class*="btn-"]::before,
.sc-login .icon.ic-login,
.sc-news .group-issue .btn-all::after {
    background-image: url(../images/sp-bg1.png);
    background-repeat: no-repeat;
    background-size: 463px auto;
}

#header .group-nav .icon.ic-stream::after {
    background-image: url(../images/icon_stream.png);
    background-size: 44px 44px;
}
