html {
    font-size: 10.5px;
    line-height: 10.5px;
}

body {
    font-size: 1.4rem;
    line-height: 1.7rem;
}

.main{ display: flex; justify-content: space-between; width: 1280px; margin: 0 auto;}
.main-left{
    width: 830px;
}
.main-right{
    width: 420px;
}
.main .frame {
    position: relative;
    background-color: #fff;
    background-color: var(--color_block_bg);
    -webkit-box-shadow: 0 0 0 1px #e3e5e8,0 1px 2px 0 rgba(0,0,0,.04);
    box-shadow: 0 0 0 1px #e3e5e8,0 1px 2px 0 rgba(0,0,0,.04);
    border-radius: 8px;
}
.main .frame + .frame {
    margin-top: 16px;
}
.frame.img-area {
    overflow: hidden;
}
.main .frame2 {
    border: 1px solid rgba(0,0,0,.05);
    background-color: rgba(245,248,251,.6);
    border-radius: 4px;
}

.tab-style1 {
    display: flex;
    padding: 18px 20px 17px;
}
.tab-style1 .tab-item {
}
.tab-style1 .tab-item.dot {
    display: flex;
}
.tab-style1 .tab-item.dot .tab{
    display: flex;
    align-items: center;
}
.tab-style1 .tab-item.dot .tab + .tab::before {
    width: 4px;
    height: 4px;
    margin: 0 10px;
    background-color: var(--color_dot_divider);
    content: '';
    border-radius: 50%;
}
.tab-style1 .tab-item + .tab-item {
    position: relative;
    padding-left: 26px;
}
.tab-style1 .tab-item + .tab-item::before {
    position: absolute;
    top: 4px;
    left: 13px;
    width: 1px;
    height: 15px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
    -webkit-transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    transform: skewX(-15deg);
    content: "";
}
.tab-style1 .tab-item .tab {
    display: block;
    font-weight: 800;
    font-size: 1.6rem;
    color: rgba(8,8,8,.5);
    line-height: 23px;
    -webkit-font-smoothing: antialiased;
}

.control-style1 {
    position: relative;
    padding: 10px 0 11px;
    border-top: 1px solid #ebebeb;
    border-top: 1px solid var(--color_border_in);
    text-align: center;
    line-height: 34px;
}
.control-style1 .control-area{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.control-style1 .btn {
    position: relative;
    width: 36px;
    height: 36px;
    border: 1px solid var(--color_button_border);
    border-radius: 50%;
}
.control-style1 .btn::before {
    position: absolute;
    top: 0;right: 0;bottom: 0;left: 0;
    width: 10px;height: 12px;
    margin: auto; 
    content: '';
}
.control-style1 .btn.prev::before {
    background-position: -452px -104px;
    transform: rotate(180deg);
}
.control-style1 .btn.next::before {
    background-position: -452px -91px;
}
.pagination {
    display: flex;
    align-items: center;
    color: rgba(96, 96, 96, .5);
} 
.pagination .more,
.pagination .curr { 
    font-weight: bold;
    color: #606060;
}

.control-style1 .view-area{
    display: flex;
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    gap: 18px;
}
.control-style1 .view-area [class*="btn-"] {
    position: relative;
    width: 20px;
    height: 20px;
}
.control-style1 .view-area [class*="btn-"]::before {
    display: block;
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    content: '';
}
.control-style1 .view-area .btn-list::before {
    background-position: -219px -376px;
}
.control-style1 .view-area .btn-thumbnail::before {
    background-position: -296px -403px;
}

.ad-banner {
    overflow: hidden;
}

.feed-style1 .feed-area {
    margin: 0 20px;
}
.feed-style1 .feed-list {
    display: flex;
    gap: 20px;
}
.feed-style1 .feed-item {
    min-width: 0;
    flex: 1;
}
.feed-style1 .link-feed {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.feed-style1 .txt-area {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.feed-style1 .name {
    font-weight: 700;
    font-size: 1.3rem;
    color: #ebaa00;
    line-height: 20px;
}
.feed-style1 .feed-title {
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
    max-height: 40px;
    line-height: 20px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.feed-style1 .feed-desc {
    display: -webkit-box;
    overflow: hidden;
    margin-top: 4px;
    font-size: 1.3rem;
    color: var(--color_caption1);
    line-height: 20px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.sc-news {}
.sc-news .group-head{}

.sc-news .group-issue{
    display: flex;
    margin: 0 20px;
    padding: 12px 20px;
    background-color: #f5f7f8;
    background-color: var(--color_option_bg);
    line-height: 26px;
    border-radius: 4px;
}
.sc-news .group-issue .issue-area{
    display: flex;
    flex: 1;
}
.sc-news .group-issue .btn-all {
    display: flex;
    align-items: center;
    position: relative;
}
.sc-news .group-issue .btn-all::after {
    width: 9px;
    height: 6px;
    margin-left: 5px;
    background-position: -242px -184px;
    content: '';
}
.sc-news .group-issue .link-media {
    display: flex;
    align-items: center;
    position: relative;
}
.sc-news .group-issue .link-media::before {
    width: 1px;
    height: 12px;
    margin: 0 12px;
    background-color: var(--color_dot_divider);
    content: '';
}
.sc-news .group-issue .link-media::after {
    width: 3px;
    height: 3px;
    margin: 0 6px;
    background-color: var(--color_dot_divider);
    content: '';
    border-radius: 50%;
}
.sc-news .group-issue .link-issue{
    flex: 1;
}
.sc-news .group-issue .news-area{
    display: flex;
}
.sc-news .group-issue .link-news{
    display: flex;
    align-items: center;
    position: relative;
}
.sc-news .group-issue .link-news + .link-news::before {
    width: 1px;
    height: 12px;
    margin: 0 12px;
    background-color: var(--color_dot_divider);
    content: '';
}

.sc-news .group-media{
    margin: 18px 20px 18px 20px;
}
.sc-news .group-media .content{
    position: relative;
    overflow: hidden;
    height: 224px;
    border: 1px solid #ebebeb;
    border: 1px solid var(--color_border_in);
    border-radius: 4px;
}
.sc-news .group-media .media-list{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4, 1fr);
}
.sc-news .group-media .media-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sc-news .group-media .media-item img{
    height: 20px;
}
.sc-news .group-media .vt-line{
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #ebebeb;
}
.sc-news .group-media .vt-line.vt1{left: calc((100% / 6) * 1);}
.sc-news .group-media .vt-line.vt2{left: calc((100% / 6) * 2);}
.sc-news .group-media .vt-line.vt3{left: calc((100% / 6) * 3);}
.sc-news .group-media .vt-line.vt4{left: calc((100% / 6) * 4);}
.sc-news .group-media .vt-line.vt5{left: calc((100% / 6) * 5);}
.sc-news .group-media .hr-line{
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ebebeb;
}
.sc-news .group-media .hr-line.hr1{top: calc((100% / 4) * 1);}
.sc-news .group-media .hr-line.hr2{top: calc((100% / 4) * 2);}
.sc-news .group-media .hr-line.hr3{top: calc((100% / 4) * 3);}

.sc-news .group-control .pagination .point { color: var(--color_news);}

.sc-login {
    padding: 21px 20px 18px;
}
.sc-login .login-msg {
    font-size: 1.4rem;
    text-align: center;
}
.sc-login .link-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 13px auto 16px;
    padding: 17px 0;
    border: 1px solid rgba(0, 0, 0, .06);
    background-color: #03c75a;
    font-size: 1.4rem;
    color: #fff;
    text-align: center;
    gap: 8px;
    border-radius: 4px;
}
.sc-login .icon.ic-login {
    display: block;
    width: 72px;
    height: 14px;
    background-position: 0px -301px;
}
.sc-login .login-more {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: var(--color_caption2);
}
.sc-login .login-more .link-more {
    display: flex;
    align-items: center;
}
.sc-login .login-more .link-more + .link-more::before {
    width: 1px;
    height: 12px;
    margin: 0 12px;
    background-color: var(--color_dot_divider);
    content: '';
}

.sc-shop .group-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sc-shop .group-head .control-area {
    display: flex;
    padding: 18px 20px 17px;
    gap: 9px;
}
.sc-shop .group-head .control-area .navi {
    display: flex;
}
.sc-shop .group-head .control-area .navi .btn { 
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(211, 213, 215, .8);
    border-radius: 4px;
}
.sc-shop .group-head .control-area .navi .btn::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    border: 2px solid #80868c;
    border-right: none;
    border-bottom: none;
    content: '';
}
.sc-shop .group-head .control-area .navi .btn.prev {
    border-radius: 4px 0 0 4px;
}
.sc-shop .group-head .control-area .navi .btn.prev::before {
    transform: translate(-50%, -50%) rotate(-45deg);
}
.sc-shop .group-head .control-area .navi .btn.next {
    left: -1px;
    border-radius: 0 4px 4px 0;
}
.sc-shop .group-head .control-area .navi .btn.next::before {
    transform: translate(-50%, -50%) rotate(135deg);
}
.sc-shop .group-shop {
    display: flex;
    padding: 0 20px;
    gap: 20px;
}
.sc-shop .shop-left {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
}
.sc-shop .shop-right {
    width: 522px;
}
.sc-shop .brand-area {
    padding: 9px 11px 4px;
    border-radius: 4px;
}
.sc-shop .brand-area .brand-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sc-shop .brand-area .brand-box + .brand-box {
    margin-top: 5px;
}
.sc-shop .brand-area .link-brand {
    font-size: 13px;
    color: var(--color_caption1);
    line-height: 20px;
    letter-spacing: -.6px;
}
.sc-shop .brand-area .link-brand strong {
    font-weight: bold;
    color: var(--color_body);
}
.sc-shop .brand-area .ic-dot {
    display: block;
    width: 3px;
    height: 3px;
    background-color: var(--color_dot_divider);
    border-radius: 50%;
}

.sc-shop .member-area {
    padding: 9px;
}
.sc-shop .member-area .member-list{
    display: flex;
    justify-content: space-between;
}
.sc-shop .member-area .member-item{

}
.sc-shop .member-area .member-item .link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    color: var(--color_caption1);
    gap: 2px;
}
.sc-shop .member-area .icon{
    display: block;
    position: relative;
    width: 32px;
    height: 32px;
    border: 1px solid rgba(238,242,248,.8);
    background-color: #fff;
    border-radius: 50%;
}
.sc-shop .member-area .icon::before {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    content: '';
}
.sc-shop .member-area .icon.ic-my::before{
    background-position: -34px 0;
}
.sc-shop .member-area .icon.ic-review::before{
    background-position: -68px -34px;
}
.sc-shop .member-area .icon.ic-order::before{
    background-position: -34px -34px;
}
.sc-shop .member-area .icon.ic-cart::before{
    width: 17px;
    height: 16px;
    background-position: -19px -121px;
}
.sc-shop .shop-banner .txt {
    margin-top: 8px;
    font-size: 1.3rem;
    text-align: center;
    line-height: 19px;
}
.sc-shop .shop-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 14px 8px;
}
.sc-shop .shop-list .link-shop {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.sc-shop .shop-list .shop-item .txt {
    font-size: 1.3rem;
    line-height: 19px;
    letter-spacing: -.4px;
    white-space: nowrap;
}

.sc-shop .group-today {
    padding: 18px 20px;
}
.sc-shop .group-today .today-area {
    display: flex;
    align-items: center;
    padding: 15px 20px 14px;
    background-color: var(--color_option_bg);
    border-radius: 4px;
}
.sc-shop .group-today .today-title {
    font-weight: bold;
}
.sc-shop .group-today .link-today {
    display: flex;
    align-items: center;
    position: relative;
}
.sc-shop .group-today .link-today::before {
    width: 3px;
    height: 3px;
    margin: 0 8px;
    background-color: var(--color_dot_divider);
    content: '';
    border-radius: 50%;
}
.sc-shop .group-today .icon {
    display: block;
    width: 83px;
    height: 13px;
    margin-right: 8px;
}
.sc-shop .group-today .icon.ic-auction {
    background: url(../images/ic-auction.png) no-repeat center center / 100% auto;
}
.sc-shop .group-today .point {
    color: #9858f5;
}
.sc-shop .group-control .pagination .point {
    color: #9858f5;
}
.sc-shop .group-control .tag-area {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.sc-shop .group-control .ad-tag {
    display: block;
    width: 30px;
    border: 1px solid var(--color_border_out);
    font-size: 1.2rem;
    color: var(--color_caption2);
    text-align: center;
    line-height: 18px;
    border-radius: 4px;
}
.sc-feed .group-feed .feed-title {
    display: block;
    white-space: nowrap;
    font-weight: 500;
}
.sc-feed .group-feed2 {
    margin-top: 24px;
    padding: 20px;
}
.sc-feed .group-recipe .feed-title {
    font-weight: 600;
}