html {
    font-size: 10.5px;
    line-height: 10.5px;
}

body {
    font-size: 1.4rem;
    line-height: 1.7rem;
}

.main{ display: flex; justify-content: space-between; width: 1280px; margin: 0 auto;}
.main-left{
    width: 830px;
}
.main-right{
    width: 420px;
}
.main .frame {
    position: relative;
    background-color: #fff;
    background-color: var(--color_block_bg);
    -webkit-box-shadow: 0 0 0 1px #e3e5e8,0 1px 2px 0 rgba(0,0,0,.04);
    box-shadow: 0 0 0 1px #e3e5e8,0 1px 2px 0 rgba(0,0,0,.04);
    border-radius: 8px;
}
.main .frame + .frame {
    margin-top: 16px;
}

.tab-style1 {
    display: flex;
    padding: 18px 20px 17px;
}
.tab-style1 .tab-item {
}
.tab-style1 .tab-item.dot {
    display: flex;
}
.tab-style1 .tab-item.dot .tab{
    display: flex;
    align-items: center;
}
.tab-style1 .tab-item.dot .tab + .tab::before {
    width: 4px;
    height: 4px;
    margin: 0 10px;
    background-color: var(--color_dot_divider);
    content: '';
    border-radius: 50%;
}
.tab-style1 .tab-item + .tab-item {
    position: relative;
    padding-left: 26px;
}
.tab-style1 .tab-item + .tab-item::before {
    position: absolute;
    top: 4px;
    left: 13px;
    width: 1px;
    height: 15px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
    -webkit-transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    transform: skewX(-15deg);
    content: "";
}
.tab-style1 .tab-item .tab {
    display: block;
    font-weight: 800;
    font-size: 1.6rem;
    color: rgba(8,8,8,.5);
    line-height: 23px;
    -webkit-font-smoothing: antialiased;
}

.control-style1 {
    position: relative;
    padding: 10px 0 11px;
    border-top: 1px solid #ebebeb;
    border-top: 1px solid var(--color_border_in);
    text-align: center;
    line-height: 34px;
}
.control-style1 .control-area{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.control-style1 .btn {
    position: relative;
    width: 36px;
    height: 36px;
    border: 1px solid var(--color_button_border);
    border-radius: 50%;
}
.control-style1 .btn::before {
    position: absolute;
    top: 0;right: 0;bottom: 0;left: 0;
    width: 10px;height: 12px;
    margin: auto; 
    content: '';
}
.control-style1 .btn.prev::before {
    background-position: -452px -104px;
    transform: rotate(180deg);
}
.control-style1 .btn.next::before {
    background-position: -452px -91px;
}
.pagination {
    display: flex;
    align-items: center;
    color: rgba(96, 96, 96, .5);
} 
.pagination .more,
.pagination .curr { 
    font-weight: bold;
    color: #606060;
}

.control-style1 .view-area{
    display: flex;
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    gap: 18px;
}
.control-style1 .view-area [class*="btn-"] {
    position: relative;
    width: 20px;
    height: 20px;
}
.control-style1 .view-area [class*="btn-"]::before {
    display: block;
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    content: '';
}
.control-style1 .view-area .btn-list::before {
    background-position: -219px -376px;
}
.control-style1 .view-area .btn-thumbnail::before {
    background-position: -296px -403px;
}

.ad-banner {
    overflow: hidden;
}

.sc-news {}
.sc-news .group-head{}

.sc-news .group-issue{
    display: flex;
    margin: 0 20px;
    padding: 12px 20px;
    background-color: #f5f7f8;
    background-color: var(--color_option_bg);
    line-height: 26px;
    border-radius: 4px;
}
.sc-news .group-issue .issue-area{
    display: flex;
    flex: 1;
}
.sc-news .group-issue .btn-all {
    display: flex;
    align-items: center;
    position: relative;
}
.sc-news .group-issue .btn-all::after {
    content: '';
    width: 9px;
    height: 6px;
    margin-left: 5px;
    background-position: -242px -184px;
}
.sc-news .group-issue .link-media {
    display: flex;
    align-items: center;
    position: relative;
}
.sc-news .group-issue .link-media::before {
    content: '';
    width: 1px;
    height: 12px;
    background-color: var(--color_dot_divider);
    margin: 0 12px;
}
.sc-news .group-issue .link-media::after {
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: var(--color_dot_divider);
    margin: 0 6px;
}
.sc-news .group-issue .link-issue{
    flex: 1;
}
.sc-news .group-issue .news-area{
    display: flex;
}
.sc-news .group-issue .link-news{
    display: flex;
    align-items: center;
    position: relative;
}
.sc-news .group-issue .link-news + .link-news::before {
    content: '';
    width: 1px;
    height: 12px;
    background-color: var(--color_dot_divider);
    margin: 0 12px;
}

.sc-news .group-media{
    margin: 18px 20px 18px 20px;
}
.sc-news .group-media .content{
    position: relative;
    overflow: hidden;
    height: 224px;
    border: 1px solid #ebebeb;
    border: 1px solid var(--color_border_in);
    border-radius: 4px;
}
.sc-news .group-media .media-list{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4, 1fr);
}
.sc-news .group-media .media-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sc-news .group-media .media-item img{
    height: 20px;
}
.sc-news .group-media .vt-line{
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #ebebeb;
}
.sc-news .group-media .vt-line.vt1{left: calc((100% / 6) * 1);}
.sc-news .group-media .vt-line.vt2{left: calc((100% / 6) * 2);}
.sc-news .group-media .vt-line.vt3{left: calc((100% / 6) * 3);}
.sc-news .group-media .vt-line.vt4{left: calc((100% / 6) * 4);}
.sc-news .group-media .vt-line.vt5{left: calc((100% / 6) * 5);}
.sc-news .group-media .hr-line{
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ebebeb;
}
.sc-news .group-media .hr-line.hr1{top: calc((100% / 4) * 1);}
.sc-news .group-media .hr-line.hr2{top: calc((100% / 4) * 2);}
.sc-news .group-media .hr-line.hr3{top: calc((100% / 4) * 3);}

.sc-news .group-control .pagination .point { color: var(--color_news);}

.sc-login {
    padding: 21px 20px 18px;
}
.sc-login .login-msg {
    font-size: 1.4rem;
    text-align: center;
}
.sc-login .link-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 13px auto 16px;
    padding: 17px 0;
    border: 1px solid rgba(0, 0, 0, .06);
    background-color: #03c75a;
    font-size: 1.4rem;
    color: #fff;
    text-align: center;
    gap: 8px;
    border-radius: 4px;
}
.sc-login .icon.ic-login {
    display: block;
    width: 72px;
    height: 14px;
    background-position: 0px -301px;
}
.sc-login .login-more {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: var(--color_caption2);
}
.sc-login .login-more .link-more {
    display: flex;
    align-items: center;
}
.sc-login .login-more .link-more + .link-more::before {
    width: 1px;
    height: 12px;
    margin: 0 12px;
    background-color: var(--color_dot_divider);
    content: '';
}

.sc-shop .group-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sc-shop .control-area {
    display: flex;
    gap: 9px;
    padding: 18px 20px 17px;
}
.sc-shop .control-area .navi {
    display: flex;
}
.sc-shop .control-area .navi .btn { 
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(211, 213, 215, .8);
    border-radius: 4px;
}
.sc-shop .control-area .navi .btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    border: 2px solid #80868c;
    border-right: none;
    border-bottom: none;
}
.sc-shop .control-area .navi .btn.prev {
    border-radius: 4px 0 0 4px;
}
.sc-shop .control-area .navi .btn.prev::before {
    transform: translate(-50%, -50%) rotate(-45deg);
}
.sc-shop .control-area .navi .btn.next {
    border-radius: 0 4px 4px 0;
}
.sc-shop .control-area .navi .btn.next::before {
    transform: translate(-50%, -50%) rotate(135deg);
}