#footer {
    background-color: #180d0a;

    .inner {
        max-width: unset;
        padding: 0 5em;
        border-top: 1px solid #2c1712;
        @include mobile() {
            padding: 0 2em;
        }

        .ft-top {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 7.5em 0;
            color: var(--light);
            @include mobile() {
                padding: 4em 0;
            }

            > *:not(:first-child) {
                min-width: 8em;
                margin-right: 7%;
                @include tablet() {
                    margin-top: 3em;
                }
            }

            .d-dt {
                font-size: 1.333em;
            }

            .d-dd {
                margin-top: 1.5em;
            }

            .ft-logo {
                flex: 16.667% 0 0;
                @include tablet() {
                    flex-basis: 100%;
                    img {
                        height: 184px;
                    }
                }
            }

            .about-item {
                & + .about-item {
                    margin-top: .8em;
                }
            }

            .contact {
                @include mobile() {
                    flex-basis: 100%;
                }
                .sns-list {
                    display: flex;
                    gap: 1em;
                    
                    .link {
                        position: relative;
                        width: 2.25em;
                        height: 2.25em;
                        border: 1px solid hsla(43, 78%, 98%, .5);
                        transition: border .5s cubic-bezier(.22,.61,.36,1);
                        border-radius: 50%;
                        @include flex(center, center);

                        &::before {
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            background: var(--orange);
                            transform: scale(0);
                            border-radius: 50%;
                            transition: transform .5s cubic-bezier(.22,.61,.36,1);
                            will-change: transform;
                            @include pseudo();
                        }
                        
                        &:hover {
                            border-color: transparent;

                            &::before {
                                transform: scale(1);
                            }
                        }

                        .ico {
                            overflow: hidden;
                            width: 1em;
                            height: 1em;
                        }
                    }
                }
            }

            .call {
                margin-top: 4em;

                .d-dd {
                    display: flex;
                    align-items: center;
                    gap: 0.8em;

                    .ico {
                        &.ico-call {
                            width: 1em;
                        }
                    }
                }
            }

            .subscribe {
                @include tablet() {
                    flex-basis: 100%;
                    margin-right: 0;
                }

                .form {
                    @include laptop() {
                        width: 24em;
                    }
                    @include tablet() {
                        width: 100%;
                    }

                    .input-text {
                        width: 100%;
                        padding: 1em 0;
                        border: none;
                        border-bottom: 1px solid hsla(20, 18%, 80%, .2);
                        background: none;
                        color: var(--coffe-light);
                        outline: none;
                    }

                    .btn {
                        &.btn-submit {
                            width: 100%;
                            margin-top: 1.5em;
                            padding: 1em 1.4em;
                            background: var(--orange);
                            text-align: center;
                        }
                    }
                }
            }
        }

        .ft-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5em 0 3.125em;
            color: hsla(43, 78%, 98%, .7);
            @include mobile() {
                flex-direction: column-reverse;
                align-items: start;
                padding: 3em 0;
                gap: .5em;
            }

            ul {
                display: flex;
                gap: 2em;
            }

            .link {
                position: relative;

                &::before {
                    right: 0;
                    bottom: -.2em;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: currentColor;
                    transform: scaleX(0);
                    transition: transform .5s cubic-bezier(.22,.61,.36,1);
                    transform-origin: 0 0;
                    will-change: transform;
                    @include pseudo();
                }

                &:hover::before {
                    transform: scaleX(1);
                }
            }
        }
    }
}