#header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    text-transform: uppercase;

    .header-inner {
        padding: 2em 5em;
        @include flex(between, center);
        @include tablet() {
            padding: 1.5em 3em;
        }
        @include mobile() {
            padding: 1.5em 2em;
        }

        .logo {
            position: relative;
            z-index: 996;

            .link {
                display: block;
                width: 13em;
            }
        }

        .group-nav {
            font-family: 'gothamlight';
            @include absCenter(true, true);
            @include tablet() {
                flex-direction: column;
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 995;
                width: 100vw;
                height: 100vh;
                background: #180d0a;
                transform: translate(0);
                opacity: 0;
                visibility: hidden;
                @include flex(center, center);

                &::before {
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 4em;
                    @include bg('bg-pattern.webp');
                    @include pseudo();
                }
            }

            .nav-list {
                gap: 2.8em;
                @include flex(center, center);
                @include tablet() {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 2em;

                    .nav-item {
                        font-size: 2em;

                        &.active .link {
                            color: var(--gold);
                        }
                    }
                }

            }

            .sns {
                margin-top: 5em;

                dt {
                    font-size: 1.333em;
                    color: var(--light);
                }
                
                .sns-list {
                    display: flex;
                    margin-top: 1.5em;
                    gap: 1em;
    
                    .link {
                        width: 2.25em;
                        height: 2.25em;
                        border: 1px solid hsla(43, 78%, 98%, .5);
                        border-radius: 50%;
                        @include flex(center, center);
    
                        &::before {
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            background: var(--orange);
                            transform: scale(0);
                            border-radius: 50%;
                            transition: transform .5s cubic-bezier(.22,.61,.36,1);
                            will-change: transform;
                            @include pseudo();
                        }
                        
                        &:hover {
                            border-color: transparent;

                            &::before {
                                transform: scale(1);
                            }
                        }

                        .ico {
                            overflow: hidden;
                            width: 1em;
                            height: 1em;
                        }
                    }
                }
            }
        }

        .utils {
            display: flex;
            gap: 2em;

            .btn-hamburger {
                @at-root #header.on .header-inner .btn-hamburger {
                    justify-content: center;
                }
                @include tablet() {
                    --x: 0;
                    --y: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    position: relative;
                    top: var(--y);
                    left: var(--x);
                    z-index: 996;
                    height: 21px;
                    gap: 2.5px;
                }
    
                span {
                    width: 17px;
                    height: 2px;
                    background: var(--light);
                    transition: all .5s cubic-bezier(.22,.61,.36,1);
                    transform-origin: 50% 50%;
                    @at-root #header.on .header-inner .utils span {
                        background: var(--gold);

                        &:nth-child(1) {
                            opacity: 0;
                        }
                        &:nth-child(2) {
                            transform: rotate(45deg);
                        }
                        &:nth-child(3) {
                            transform: rotate(-45deg) translate(7px, -7px);
                        }
                    }
                }
            }
        }
        
        .link {
            display: block;
            transform: translateY(-100%);
            opacity: 0;
            visibility: hidden;

            .txt, &.link-lang {
                color: var(--light);
                transition: color .5s cubic-bezier(.22,.61,.36,1);
            }
            
            &:hover .txt,
            &.link-lang:hover {
                color: hsla(43,78%,98%,.7);
            }

            &.link-lang {
                position: relative;
                top: .1em;
                z-index: 996;
                width: 2.3em;
            }
        }
    }
}