#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    .header-inner {
        padding: 2em 5em;
        @include flex(between, center);

        .logo {
            .link {
                display: block;
                width: 13em;
            }
        }

        .group-nav {
            @include absCenter(true, true);

            .nav-list {
                gap: 2.8em;
                @include flex(center, center);
            }
        }
        
        .link {
            color: var(--light);
            transition: color .5s cubic-bezier(.22,.61,.36,1);
            
            &:hover {
                color: hsla(43,78%,98%,.7);
            }

            &.link-lang {
                position: relative;
                top: .1em;
                width: 2.3em;
            }
        }
    }
}