.sc-visual {

    .group-bg {
        position: relative;
        height: 100vh;

        &:before {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(49,31,29,.5);
            @include pseudo();
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}