.intro {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: #311f1d;
    transition: opacity .3s;
    opacity: 1;
    will-change: opacity;
    pointer-events: none;
    @include flex(center, center);

    .is-loaded & {
        opacity: 0;
        .spinner {
            animation-play-state: paused;
        }
    }

    .spinner {
        display: block;
        width: 20px;
        height: 20px;
        border: 2px solid hsla(0, 0%, 100%, .3);
        border-bottom-color: #fff;
        border-radius: 50%;
        animation: rotateSpinner .3s linear infinite;
    }
}

@keyframes rotateSpinner {
    100% {
        transform: rotate(360deg);
    }
}

.sticky-wrap {
    position: relative;

    .sub-sticky {
        position: absolute;
        top: 0;
        left: 3em;
        height: 100%;
        @include tablet() {
            left: 1em;
        }
    }
}

.snb {
    position: sticky;
    top: 0;
    z-index: 990;
    max-width: 6em;
    height: 100vh;
    color: var(--dark);
    mix-blend-mode: exclusion;
    @include flex(_, center);

    .snb-list {
        .snb-item {
            padding: 1em;

            @include mobile() {
                width: 3.5em;
                padding: 1em 0;
            }

            &:hover,
            &.active {
                opacity: 1;
            }
        }
    }
}

.sc-visual {
    position: relative;
    height: 100vh;
    color: var(--light);
    text-transform: uppercase;
    
    .group-bg {

        &:before {
            top: 0;
            left: 0;
            z-index: 5;
            width: 100%;
            height: 100%;
            background: rgba(49,31,29,.5);
            pointer-events: none;
            @include pseudo();
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    .group-line {
        position: absolute;
        z-index: 10;
        
        .line {
            &.line-logo {
                height: 6.333em;
                margin-top: -3.1665em;
                @include absCenter(true, false);
                
                svg {
                    width: unset;
                    max-width: unset;
                }

                .logo-roots {
                    opacity: 0;
                    visibility: hidden;
                }
            }
            
            &.line-gradient {
                top: 3.05em;
                width: 6.7em;
                height: calc(100vh - 20.2em);
                margin-right: 0.6em;
                @include absCenter(true, false);
            }
        }
    }

    .txt-area {
        z-index: 10;
        text-align: center;
        transform: translateY(2em);

        .title {
            margin: 0.1em 0;
            font-family: "gothamlight", sans-serif;
            font-size: 8.222em;

            @include mobile() {
                font-size: 6em;
            }
        }
    }

    .scroll-circle {
        position: absolute;
        right: 5em;
        bottom: 5em;
        width: 6.7em;
        height: 6.7em;
        color: var(--light);

        .ico {
            position: absolute;
            
            &.ico-rotate {
                animation: rotateSpinner 7s linear infinite;
            }
        }
    }
}

.bg-bean {
    position: relative;
    width: 100%;
    max-width: 25.6666em;
    height: 34.5em;
    padding: 1em;
    @include flex(center, center);

    .bg-area {
        z-index: -1;
        width: 100%;
        @include absCenter(true, true);
        
        .bg-bean {
            padding: 1em;
        }

        .line {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .ico {
        bottom: 2em;
        @include absCenter(true, false);
    }
}

.sc-bean {
    position: relative;
    height: 100vh;
    color: #341212;
    @include flex(center, center);

    .group-bg {
        z-index: -1;
        
        video {
            object-fit: cover;
        }
    }

    .group-cnt {
        @extend .bg-bean;

        .txt-area {
            padding: 1em;
            text-align: center;

            .txt {
                margin-top: 1em;
            }
        }
    }
}

.sc-grain {
    position: relative;
    height: 60em;
    background-color: #341212;
    color: var(--light);
    @include flex(center, center);
    @include tablet() {
        height: 79.5em;
    }

    .group-bg {
        .line {
            &.line-grain {
                position: absolute;
                top: calc(-50vh + 17em);
                left: 50%;
                width: 26.3333em;
                height: calc(64vh + 18em);

                @include tablet() {
                    top: calc(-50vh + 17.1em);
                    width: 1.5em;
                    height: calc(50vh - 4.2em);
                    transform: translateX(-50%);
                }
            }

            &.line-grain2 {
                top: 47.2em;
                width: 1.5em;
                height: 6em;
                @include absCenter(true, false);
            }

            &.line-farmer {
                bottom: 0;
                width: 11.388em;
                height: 25em;
                margin-left: 27.63em;
                @include absCenter(true, false);
                @include tablet() {
                    width: unset;
                    height: 26.5em;
                    margin-left: 0;

                    svg {
                        width: auto;
                        max-width: unset;
                    }
                }
            }
        }

        .cherry-box {
            position: absolute;
            z-index: 10;
            width: 6em;
            height: 5em;
            
            &:nth-of-type(1) {
                top: 5%;
                left: 28em;

                .bg1 {
                    transform: scale(0.7) rotate(38.2779deg);
                    filter: blur(5px);
                }
            }
            &:nth-of-type(2) {
                top: 33.33333333333333%;
                right: 4.6875%;

                .bg2 {
                    transform: scale(0.5) rotate(54.9446deg);
                    filter: blur(10px);
                }
            }
            &:nth-of-type(3) {
                bottom: 17em;
                left: 18em;

                .bg3 {
                    transform: rotate(120deg);
                }
            }
        }
    }

    .group-cnt {
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 100%;

        @include tablet() {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 25.6666em;
            height: 32.5em;
            margin: -19.5em auto 0;

            .bg-area {
                width: 100%;
                @include absCenter(true, true);
                
                .bg-bean {
                    padding: 1em;
                }
            }
        }

        .txt-area {
            z-index: 10;
            text-align: center;
            @include desktop() {
                margin-top: -5em;
            }
            @include tablet() {
                .ico {
                    position: absolute;
                    bottom: 0;
                }
            }

            &:nth-of-type(1) {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 15.2777em;
                gap: 1em;
            }

            &:last-child {
                width: 20em;
            }
        }

        .video-area {
            z-index: 5;
            width: 25.6666em;
            height: 32.5em;
        }
    }
}

.sc-tech {
    --yPercent: 0;
    height: 60em;
    background: #ead7ca;
    color: #341212;
    @include tablet() {
        height: 81.7em;
    }

    .group-bg {
        .line {
            top: 0;
            z-index: 10;
            width: auto;
            height: 60em;
            margin-left: 4.76em;
            @include absCenter(true, false);
            @include tablet() {
                top: 28.8em;
                height: 53em;
                margin-left: -6.01em;
            }
        }
    }

    .group-cnt {
        @include tablet() {
            // width: 75em;
            height: 33em;
            margin-top: 22em;
            @include flex(center, center);

            .cnt-wrap {
                position: relative;
                height: 100%;
                @include flex(center, center);

                .video-area {
                    width: 25.692em;
                    height: 34.5em;
                    opacity: .6;
                    video {
                        min-width: 960px;
                        min-height: 540px;
                        @include absCenter(true, true);
                    }
                }
                .ico {
                    position: absolute;
                    bottom: 2em;
                    width: 6em;
                }
            }
        }
        
        .txt-area {
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 10;
            width: 20em;
            text-align: center;
            gap: 1em;
        }

        .floating-beans {
            display: flex;
            justify-content: center;
            position: absolute;
            top: 0;
            right: 17em;
            width: 15em;
            @include desktop() {
                bottom: 10em;
            }
            @include tablet() {
                left: 50%;
                height: 16em;
                transform: translateX(-50%);
            }

            .floating-bean {
                position: absolute;
                width: 5em;

                @include desktop() {
                    &:first-child svg {
                        top: -1em;
                        margin-left: -2em;
                        transform: rotate(-16deg) scale(.2);
                    }
                
                    &:nth-child(2) svg {
                        margin-left: 1em;
                        transform: rotate(-64deg) scale(.4);
                    }
                
                    &:nth-child(3) svg {
                        top: 3em;
                        margin-left: -2em;
                        transform: rotate(-116deg) scale(.4);
                    }
                
                    &:nth-child(4) svg {
                        top: 5em;
                        margin-left: 1.5em;
                        transform: rotate(-25deg) scale(.4);
                    }
                
                    &:nth-child(5) svg {
                        top: 9em;
                        margin-left: -2em;
                        transform: rotate(-86deg) scale(.6);
                    }
                
                    &:nth-child(6) svg {
                        top: 12em;
                        margin-left: 1.5em;
                        transform: rotate(-16deg) scale(.4);
                    }
                
                    &:nth-child(7) svg {
                        top: 14em;
                        margin-left: -3em;
                        transform: rotate(-26deg) scale(.5);
                    }
                
                    &:nth-child(8) svg {
                        top: 17em;
                        transform: rotate(-66deg) scale(.3);
                    }
                
                    &:nth-child(9) svg {
                        top: 20em;
                        margin-left: 3em;
                        transform: rotate(-27deg) scale(.7);
                    }
                
                    &:nth-child(10) svg {
                        top: 22em;        
                        margin-left: -2em;
                        transform: rotate(-66deg) scale(.45);
                    }
                
                    &:nth-child(11) svg {
                        top: 26.5em;         
                        margin-left: 1em;
                        transform: rotate(-16deg) scale(.4);
                    }
                
                    &:nth-child(12) svg {
                        top: 29em;
                        margin-left: -3em;
                        transform: rotate(84deg) scale(.6);
                    }
                
                    &:nth-child(13) svg {
                        top: 32em;
                        margin-left: 2em;
                        transform: rotate(-66deg) scale(.35);
                    }
                }
                @include tablet() {
                    width: 3em;

                    &:first-child svg {
                        top: -1em;
                        margin-left: -2em;
                        transform: rotate(-16deg) scale(.2);
                    }
                
                    &:nth-child(2) svg {
                        margin-left: 1em;
                        transform: rotate(-64deg) scale(.4);
                    }
                
                    &:nth-child(3) svg {
                        top: 1em;
                        margin-left: -1em;
                        transform: rotate(-116deg) scale(.4);
                    }
                
                    &:nth-child(4) svg {
                        top: 2em;
                        margin-left: 1.5em;
                        transform: rotate(-25deg) scale(.4);
                    }
                
                    &:nth-child(5) svg {
                        top: 4em;
                        margin-left: -2em;
                        transform: rotate(-86deg) scale(.6);
                    }
                
                    &:nth-child(6) svg {
                        top: 5em;
                        margin-left: .5em;
                        transform: rotate(-16deg) scale(.4);
                    }
                
                    &:nth-child(7) svg {
                        top: 7em;
                        margin-left: -1em;
                        transform: rotate(-26deg) scale(.5);
                    }
                
                    &:nth-child(8) svg {
                        top: 7em;
                        margin-left: 2em;
                        transform: rotate(-66deg) scale(.3);
                    }
                
                    &:nth-child(9) svg {
                        top: 9em;
                        margin-left: 1em;
                        transform: rotate(-27deg) scale(.2);
                    }
                
                    &:nth-child(10) svg {
                        top: 8.5em;
                        margin-left: -3em;
                        transform: rotate(-66deg) scale(.45);
                    }
                
                    &:nth-child(11) svg {
                        top: 10.5em;
                        margin-left: 3em;
                        transform: rotate(-16deg) scale(.4);
                    }
                
                    &:nth-child(12) svg {
                        top: 10em;
                        margin-left: -1em;
                        transform: rotate(84deg) scale(.4);
                    }
                
                    &:nth-child(13) svg {
                        top: 11em;
                        margin-left: 1em;
                        transform: rotate(-66deg) scale(.35);
                    }
                }

                &:first-child {
                    --yPercent: 360;
                    transform: translateY(calc(var(--yPercent) * 1%));
                }
            
                &:nth-child(2) {
                    --yPercent: 220;
                    transform: translateY(calc(var(--yPercent) * 1%));
                }
            
                &:nth-child(3) {
                     --yPercent: 290;
                     transform: translateY(calc(var(--yPercent) * 1%));
                }
            
                &:nth-child(4) {
                    --yPercent: 340;
                    transform: translateY(calc(var(--yPercent) * 1%));
                }
            
                &:nth-child(5) {
                    --yPercent: 230;
                    transform: translateY(calc(var(--yPercent) * 1%));
                }
            
                &:nth-child(6) {
                    --yPercent: 310;
                    transform: translateY(calc(var(--yPercent) * 1%));
                }
            
                &:nth-child(7) {
                    --yPercent: 290;
                    transform: translateY(calc(var(--yPercent) * 1%));
                }
            
                &:nth-child(8) {
                    --yPercent: 190;
                    transform: translateY(calc(var(--yPercent) * 1%));
                }
            
                &:nth-child(9) {
                    --yPercent: 310;
                    transform: translateY(calc(var(--yPercent) * 1%));
                }
            
                &:nth-child(10) {
                    --yPercent: 240;
                    transform: translateY(calc(var(--yPercent) * 1%));
                }
            
                &:nth-child(11) {
                    --yPercent: 230;
                    transform: translateY(calc(var(--yPercent) * 1%));
                }
            
                &:nth-child(12) {
                    --yPercent: 210;
                    transform: translateY(calc(var(--yPercent) * 1%));
                }
            
                &:nth-child(13) {
                    --yPercent: 290;
                    transform: translateY(calc(var(--yPercent) * 1%));
                }

                svg {
                    position: relative;
                }
            }
        }

        .bag {
            bottom: -3em;
            height: 15.889em;
            margin-left: 28.8em;
            @include absCenter(true, false);
            @include tablet() {
                top: 13em;
                margin-left: 0;
                background: #e9d6c9;
                svg {
                    width: unset;
                    max-width: unset;
                    height: 100%;
                }
            }
        }
    }
}

.sc-roast {
    --inset: 100;
    display: block;
    position: relative;
    z-index: 5;
    height: 200vh;

    .sticky {

        .group-bg {
            .bg-wrap {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
                
                &#roast {
                    clip-path: inset(calc(var(--inset) * 1%) 0 0 0);
                }

                &#flavor {
                    z-index: -1;
                }
            }
        }

        .group-cnt {
            @include absCenter(true, true);
            @extend .bg-bean;

            .txt-area {
                width: 100%;
                padding: 0 2em;
                text-align: center;
                @include absCenter(true, false);

                .txt {
                    margin-top: 0.5em;
                }
            }
        }
    
        .line-area {
            position: absolute;

            &.top {
                top: 0;
                height: calc(50vh - 17.15em);
                margin-right: .05em;
                @include absCenter(true, false);
            }
            &.bottom {
                top: calc(50vh + 17.15em);
                width: 4.2em;
                height: calc(50vh + 7.4em);
                @include absCenter(true, false);
            }
        }
    }
}

.sc-discover {
    position: relative;
    z-index: 1;
    height: 60em;
    background: #180d0a;
    color: var(--light);
    @include mobile() {
        height: 100em;
    }

    &::before {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 9.044em;
        @include bg('bg-pattern.webp');
        @include pseudo();
    }

    .inner {
        max-width: 91.25em;

        .group-cnt {
            display: flex;
            justify-content: space-between;
            position: relative;
            @include tablet() {
                top: 12em;
                padding: 0 2em;
            }
            @include mobile() {
                flex-direction: column;
                top: 14em;
            }
    
            .cnt-left,
            .cnt-right {
                flex-direction: column;
                position: relative;
                width: 29.875em;
                height: 28.433em;
                text-align: center;
                @include flex(center, center);
                @include tablet() {
                    width: 20.875em;
                    height: 19.875em;
                }
                @include mobile() {
                    width: 24.875em;
                    height: 23.875em;
                    margin: 0 auto;
                    margin-bottom: 3em;
                }

                .bg-area {
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                    @include absCenter(center, center);
                }

                .txt-area {
                    .title {
                        display: block;
                        margin-top: .5em;
                    }
                }
                
                .link {
                    &.link-discover {
                        display: block;
                        margin-top: 6em;
                        padding: 1em 1.4em;
                        background: hsla(0, 0%, 100%, .15);
                        @include tablet() {
                            margin-top: 2em;
                        }
                    }
                }
                
                .ico {
                    display: block;
                    width: 2.25em;
                    margin: 0 auto;
                }
            }
            
            .cnt-right {
                .bg-area {
                    svg {
                        transform: rotate(-90deg);
                    }
                }
            }
        }
    
        .group-bg {
            width: auto;
            height: 9.113em;
            margin-top: -1em;
            @include absCenter(true, true);
            @include mobile() {
                margin-top: -21em;
            }
        }
    }
}

.gl-title-area {
    width: 100%;
    max-width: 45.625em;
    margin: 0 auto;
    text-align: center;

    .title {
        font-family: 'gothamlight';
        font-size: 4.444em;
        @include tablet() {
            font-size: 3em;
        }
    }
    
    .txt {
        max-width: 23em;
        margin: 1em auto 0;
        color: hsla(19, 36%, 91%, .8);
    }
}

.btn-hover {
    color: var(--orange) !important;
                
    &::before {
        border-color: var(--orange) !important;
        transform: scale(0.8);
    }

    &.btn-prev .ico-arw {
        transform: translateX(-50%);
    }
    &.btn-next .ico-arw {
        transform: translateX(50%);
    }

    .line {
        width: 2.8em !important;
        background: var(--orange) !important;
    }
}

.swiper-controller {
    display: flex;

    .swiper-btn-wrap {
        &:hover {
            .btn {
                @extend .btn-hover;
            }
        }
    }

    .btn {
        position: relative;
        width: 3.813em;
        height: 3.813em;
        color: var(--light);
        transition: all .5s cubic-bezier(.22,.61,.36,1);
        @include mobile() {
            width: 3em;
            height: 3em;
        }
        
        &::before {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 1px solid var(--light);
            transition: all .5s cubic-bezier(.22,.61,.36,1);
            border-radius: 50%;
            transform-origin: 50% 50%;
            @include pseudo();
        }
        
        .ico-arw {
            transition: all .5s cubic-bezier(.22,.61,.36,1);
            @include flex(center, center);

            .arw-hdr {
                width: .479em;
            }
    
            .line {
                display: block;
                position: relative;
                width: 1em;
                height: 1px;
                margin-top: -1px;
                background: var(--light);
                transition: all .5s cubic-bezier(.22,.61,.36,1);
            }
        }

        &.btn-prev .line {
            margin-left: -5px;
        }
        
        &.btn-next .line {
            margin-right: -5px;
        }

        &:hover {
            @extend .btn-hover;
        }
    }
}

.sc-product {
    display: block;
    overflow: hidden;
    padding: 10em 5em;
    background: #180d0a;
    color: var(--light);
    text-align: center;
    @include tablet() {
        padding: 5em 3em;
    }
    @include mobile() {
        padding: 5em 2em;
    }

    .title-area {
        @extend .gl-title-area;
    }

    .swiper-product {
        overflow: visible;
        margin-top: 3em;

        .swiper-slide {
            // img {
            //     transform: scale(1);
            //     transform-origin: 50% 50%;
            //     transition: all .5s cubic-bezier(.22,.61,.36,1);
            // }

            // &:not(.swiper-slide-active) img {
            //     transform: scale(0.46);
            // }
        }

        .swiper-controller {
            justify-content: space-between;
            z-index: 5;
            width: 100%;
            max-width: 45.625em;
            @include absCenter(true, true);
            @extend .swiper-controller;
        }

        .swiper-btn-wrap {
            pointer-events: all;

            .swiper-button-disabled {
                pointer-events: none;
            }
        }
    }
}

.sc-center {
    flex-direction: column;
    padding: 15em 0 6em;
    background-size: cover;
    color: var(--light);
    gap: 10em;
    @include bg('bg-center.webp', $size: cover);
    @include mobile() {
        padding: 5em 0 6em;
        gap: 0;
    }

    &::before {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, .3);
        @include pseudo();
    }

    .title-area {
        position: relative;
        z-index: 5;
        @extend .gl-title-area;
        @include tablet() {
            padding: 5em 3em;
        }
        @include mobile() {
            padding: 5em 2em;
        }

        .link {
            &.link-direction {
                display: inline-block;
                margin-top: 3em;
                padding: 1em 1.4em;
                background: var(--light);
                color: var(--dark);
                text-align: center;
                .txt {
                    margin: 0;
                    color: inherit;
                    line-height: 1;
                }
            }
        }
        
        .txt {
            display: block;
        }
    }

    .group-info {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 5;
        width: 100%;
        max-width: 46.875em;
        @include mobile() {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3em;
        }
        
        .location {
            max-width: 250px;
        }
        .menu {
            .link-menu {
                display: block;
                position: relative;
                color: var(--orange);
                
                &::before {
                    bottom: -.2em;
                    left: 0;
                    z-index: 10;
                    width: 100%;
                    height: 1px;
                    background-color: var(--orange);
                    transform: scaleX(0);
                    transition: all .5s cubic-bezier(.22,.61,.36,1);
                    will-change: transform;
                    transform-origin: 0% 50%;
                    @include pseudo();
                }
                &:hover::before {
                    transform: scaleX(1);
                }
            }
        }
        
        .info-title {
            font-size: 1.333em;
            text-align: center;
        }

        .info-txt {
            margin-top: .7em;
        }
    }
}

.sc-news {
    overflow: hidden;
    padding: 10em 0;
    background: #180d0a;
    color: var(--light);
    @include tablet() {
        padding: 5em 0;
    }

    .inner {
        max-width: unset;
        padding: 0 5em;
        @include tablet() {
            padding: 0 3em;
        }
        @include mobile() {
            padding: 0 2em;
        }

        .title-area {
            padding-bottom: 1.5em;
            border-bottom: 1px solid hsla(43, 78%, 98%, .1);
            @include flex(between, center);

            .title {
                font-size: 2.667em;
                @include mobile() {
                    font-size: 2.2em;
                }
            }

            .swiper-controller {
                gap: 1em;
                @extend .swiper-controller;
            }
        }

        .swiper {
            overflow: visible;
            margin-top: 5.313em;

            .swiper-slide {
                width: 33.125em;
                @include mobile() {
                    width: 92%;
                }

                & + .swiper-slide {
                    margin-left: 2.875em;
                    @include mobile() {
                        margin-left: 2em;
                    }
                }

                .news-hdr {
                    display: flex;
                    justify-content: space-between;

                    span {
                        color: hsla(19, 36%, 91%, .8);
                    }
                }

                .news-bdy {

                    .img-area {
                        height: 33.125em; 
                        margin: 1.5em 0 3em;
                        @include mobile() {
                            height: 27em;
                        }
    
                        img {
                            height: 100%;
                            object-fit: cover;
                        }
                    }
    
                    .txt-area {
                        .title {
                            font-size: 1.333em;
                        }

                        .txt {
                            margin-top: 1em;
                            color: hsla(19, 36%, 91%, .8);
                        }
                    }

                }
            }
        }
    }

}