#header {
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 999;
    width: 100%;
    font-weight: 600;
    letter-spacing: .06em;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    @include mob() {
        top: 20px;
    }

    .header-inner {
        padding: 0 5.714284999999997vw;
        @include mob() {
            padding: 0 8.510640000000002vw;
        }

        .group-nav {
            height: 56px;
            @include flex(between, center);
            @include portrait() {
                flex-direction: row-reverse;
                height: 50px;
            }

            .menu {
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 990;
                background: #091933;
                padding: 0 5.714285vw;
                @include mob() {
                    padding: 0 8.510640000000002vw;
                }
            }

            & *:not(.menu) {
                z-index: 995;
            }

            .btn {
                font-size: inherit;
                text-transform: inherit;
            }
        }
    }
}

.menu {
    opacity: 0;
    visibility: hidden;

    .inner {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;

        .nav-list {
            display: grid;
            width: 100%;
            grid-template-columns: 45.71vw 42.86vw;
            grid-template-rows: repeat(3, auto);
            grid-auto-flow: column;
            gap: 3.1746vh 0;
            @include portrait() {
                grid-template-columns: 1fr;
                grid-auto-flow: unset;
            }
            @include mob() {
                grid-template-columns: 1fr;
                grid-auto-flow: unset;
            }
    
            .nav-item {

                .txt {
                    display: block;
                    line-height: 80px;
                    font-weight: 300;
                    @include pcToLand() {
                        line-height: 4.7619vw;
                    }
                }

                &:nth-child(n+4) {
                    .txt {
                        font-family: "m";
                        letter-spacing: -.06em;
                        -webkit-text-stroke: 1px #fff;
                        color: transparent;
                        font-size: 76px;
                        @include pcToLand() {
                            font-size: 4.52381vw;
                        }
                    }
                }

                &:nth-child(-n+3) {
                    .txt {
                        font-size: 86px;
                        font-family: "e";
                        @include pcToLand() {
                            font-size: 5.11905vw;
                        }
                    }
                }

                @include portrait() {
                    .txt {
                        line-height: 6.66667vw;
                    }
                    &:nth-child(2n) {
                        .txt {
                            font-family: "m";
                            letter-spacing: -.06em;
                            -webkit-text-stroke: 1px #fff;
                            color: transparent;
                            font-size: 6.33333vw;
                        }
                    }

                    &:nth-child(2n+1) {
                        .txt {
                            font-family: "e";
                            color: unset;
                            -webkit-text-stroke: unset;
                            font-size: 7.16667vw;
                        }
                    }
                }

                @include portToMob() {
                    .txt {
                        line-height: 9.1954vw;
                    }
                    &:nth-child(2n) {
                        .txt {
                            font-size: 8.73563vw;
                        }
                    }

                    &:nth-child(2n+1) {
                        .txt {
                            font-size: 9.88506vw;
                        }
                    }
                }

                .link {
                    display: flex;
                    font-weight: 300;
                    gap: 1.90476vw;
                    @include portToMob() {
                        gap: 3.67816vw;
                    }

                    &.txt-stroke {
                        letter-spacing: -0.06em;
                        font-size: 4.52381vw;
                    }

                    .txt-wrap {
                        height: fit-content;

                        &:first-child {
                            margin-top: 0.65475vw;
                        }

                        .num {
                            display: block;
                            font-weight: 600;
                            font-family: 'm', sans-serif;
                            font-size: 1.07143vw;
                            color: #fff;
                            line-height: 1;
                            letter-spacing: 0;
                            -webkit-text-stroke: 0;
                            @include ratio() {
                                font-size: 1.07143vw;
                                line-height: 1.07143vw;
                            }
                            @include portrait() {
                                font-size: 1.83333vw;
                                line-height: 1.83333vw;
                            }
                            @include portToMob() {
                                font-size: 3.21839vw;
                                line-height: 3.21839vw;
                            }
                        }
                    }
                }
            }
        }
    
        .link-credit {
            position: absolute;
            bottom: 76px;
            left: 0;
            @include mob() {
                bottom: 44px;
            }
        }
    }
}


.btn-hamburger {
    display: flex;
    align-items: center;
    gap: 20px;
    text-transform: uppercase;

    .ico-box {
        width: 34px;
        height: 34px;
        border: 1px solid #fff;
        border-radius: 50%;
        flex-direction: column;
        @include flex(center, center);
        @include portrait() {
            width: 42px;
            height: 42px
        }

        .ico-line {
            display: block;
            width: 16px;
            height: 1px;
            background-color: #fff;
            transform-origin: 50% 50%;
            transition: transform .3s;
            will-change: transform;
            @include portrait() {
                width: 20px;
                height: 1.3px;
            }

            &:first-child {
                transform: translateY(-1.5px);
                @include portrait() {
                    transform: translateY(-1.8px);
                }
                @at-root .open & {
                    transform: translateY(0.5px) rotate(45deg);
                }
            }
            
            &:last-child {
                transform: translateY(1.5px);
                @include portrait() {
                    transform: translateY(1.8px);
                }
                @at-root .open & {
                    transform: translateY(-0.5px) rotate(-45deg);
                }
            }
        }

    }
}

.logo {
    width: 47px;
    height: 100%;
    @include absCenter(true, true);
    @include portrait() {
        position: static;
        transform: translate(0);
    }
}