// common
.section {
    padding: 12.5px 0;
    border-top: 1px solid #dfe3e8;

    &__inner {
        position: relative;
        width: 100%;
        height: 600vh;
        @include flex(between, start);

        > * {
            display: flex;
        }
    }

    &__left {
        flex-direction: column;
        position: sticky;
        top: 0;
        flex: 3;
    }

    &__right {
        flex: 7;
    }

    &__title-area {
        display: flex;
        align-items: center;
        height: 100vh;
        margin: 0 -20px;
    }

    &__title {
        position: relative;
        font-weight: 500;
        font-size: 13vw;
        line-height: 0.8;
        letter-spacing: -0.06em;
        text-transform: uppercase;
    }
}
// sc-visual
.sc-visual {
    &__title {
        .txt-cover {
            &:last-child .line {
                text-align: right !important;
            }
        }

        &::before, &::after {
            z-index: 10;
            aspect-ratio: 1 / 1;
            @include pseudo();
        }

        &::before {
            top: 15.5vw;
            left: 27vw;
            width: 100%;
            max-width: 12vw;
            @include bg('img-visual1.svg');
        }
        
        &::after {
            top: 0;
            width: 13vw;
            margin-left: 63vw;
            transform: translateY(-4vw);
            @include bg('img-visual2.svg');
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        position: relative;
        margin-top: 10px;
        font-size: 0.9vw;
        line-height: 0.95;

        &-txt {
            bottom: 0;
            @include absCenter(true, false);
        }
    }
}
// sc-about
.sc-about {
    &__inner {
        > * {
            padding: 14vw 0;
        }
    }

    .section__left {
        justify-content: center;
    }
    
    .section__right {
        align-items: center;
        position: sticky;
        top: 0;
        margin-top: 86vh;
    }

    &__title {
        font-weight: 500;
        font-size: 3.2vw;
        line-height: 0.85;
        letter-spacing: -1px;
    }

    &__desc {
        margin-top: 24px;
    }
    
    &__txt {
        font-size: 2vw;
    }

    .char {
        opacity: .2;
    }
    
}
// sc-project
.sc-project {
    position: relative;

    &__title {
        width: 100%;
        
        .txt-cover {
            width: fit-content;

            .line {
                padding: 0 20px;
                // transform: translateX(-50%);
            }

            &:nth-of-type(2) {
                margin-left: auto;

                .line {
                    // transform: translateX(50%);
                }
            }
        }
    }
    
    &__item {
        position: relative;

        @for $i from 1 through 10 {
            &:nth-of-type(#{$i}) .project-card__bg {
                background: url('../images/img/@portfolio#{$i}.jpg') no-repeat center center / 100% auto;
                background-attachment: fixed;
            }
        }
    }

    &__item + &__item {
        margin-top: 20px;
    }

    // &__bg-area {
    //     position: absolute;
    //     top: 0;
    //     width: 100%;
    //     height: 100vh;
    //     z-index: -1;
    // }

    // &__bg {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     overflow: hidden;
    //     height: 100vh;
    // }

    // &__img {
    //     width: 100%;
    //     height: 100vh;
    //     object-fit: cover;
    // }
}
.project-card {
    // position: absolute;
    display: block;
    position: relative;
    overflow: hidden;

    &:hover {
        .project-card__bg {
            background-size: 105% auto;
        }

        .project-card__bg::before {
            backdrop-filter: blur(0);
        }
    }
    
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        overflow: hidden;
        width: 100%;
        height: 100vh;
        transition: all 0.3s cubic-bezier(0.45, 0, 0.55, 1) .2s;
        
        &::before {
            top: 0;
            left: 0;
            z-index: 10;
            width: 100%;
            height: 100%;
            background-color: rgba(#23272d, .2);
            transition: all .5s cubic-bezier(0.55, 0, 1, 0.45);
            pointer-events: none;
            backdrop-filter: blur(4px);
            @include pseudo();
        }
    }
    
    &__tags {
        position: absolute;
        top: 0;
        left: 0;
        padding: 1.25rem;
        padding-bottom: 0;
        gap: .25rem;
        z-index: 10;
        @include flex(_, center);
    }
    
    &__tag {
        padding: 12px 14px;
        background-color: #f9f9f9bf;
        font-size: 12px;
        color: #242424;
        line-height: 1;
        border-radius: 1000px;
        backdrop-filter: blur(5px);

        &--review {
            position: relative;
            background-color: #fff;
            gap: 14px;
            font-weight: 500;
            @include flex(center, center);

            &::after {
                width: 14px;
                height: 14px;
                background: url('../images/icons/icon-arw-up.svg') no-repeat center center / 100% auto;
                transform: rotate(90deg);
                transition: transform .3s cubic-bezier(0.34, 1.56, 0.64, 1);
                will-change: transform;
                @include pseudo($pos: static);
            }
            
            &:hover::after {
                transform: rotate(45deg);
            }
        }
    }

    &__title {
        padding: calc(10vw + 56px) 0 10vw;
        font-weight: 500;
        font-size: 13vw;
        line-height: 1;
        text-transform: uppercase;
    }
}
// work
.sc-work {
    position: relative;

    &__inner {
        > * {
            padding: 10vw 0;
        }
    }
    
    &__title-area {
        display: flex;
        align-items: center;
        height: 100vh;
        margin: 0 -20px;
    }

    &__title {
        width: 100%;
        
        .txt-cover {
            width: fit-content;
            margin-left: auto;

            .line {
                padding: 0 20px;
                // transform: translateX(50%);
            }
            
            &:nth-of-type(2) {
                margin-left: 0;

                .line {
                    // transform: translateX(-50%);
                }
            }
        }
    }

    &__link--more {
        position: relative;
        width: fit-content;
        margin-top: 20px;
        font-size: 14px;
        font-weight: 700;

        &::before {
            left: 0;
            bottom: 0;
            width: 0;
            height: .5px;
            background-color: #dfe3e8;
            transition: all .3s;
            @include pseudo();
        }

        &:hover::before {
            width: 100%;
        }
    }

    &__list {
        width: 100%;
    }

    &__item {
        position: relative;
        padding: 2vw 2vw calc(2vw + 30px) 0;
        counter-increment: item-counter;
        border-bottom: 1px solid #dfe3e8;
        
        &:first-child {
            padding-top: 0;
        }

        &::before {
            left: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            background-color: #fff;
            transition: all .3s;
            @include pseudo();
        }

        &:hover {
            &::before {
                width: 100%;
            }

            .work-card::after {
                transform: translateY(-50%) rotate(45deg);
            }
        }

        .work-card::before {
            content: counter(item-counter);
            display: block;
            font-size: 14px;
            line-height: 1;
        }
        
        &:nth-child(-n+9) .work-card::before {
            content: '0' counter(item-counter);
        }
    }

    &__review {
        position: absolute;
        left: calc(1.35vw + 17px);
        bottom: 2vw;
        font-size: 14px;
        line-height: 1;
        text-transform: uppercase;

        &::before {
            left: 0;
            bottom: 0;
            width: 0;
            height: .5px;
            background-color: #fff;
            transition: all .3s;
            @include pseudo();
        }

        &:hover::before {
            width: 100%;
        }
    }
}
.work-card {
    display: flex;
    position: relative;
    gap: 1.35vw;

    &::after {
        top: calc(50% + 15px);
        right: 0;
        width: 32px;
        height: 32px;
        background: url('../images/icons/icon-arw-up-white.svg') no-repeat center center / 100% auto;
        transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
        transform: translateY(-50%) rotate(90deg);
        @include pseudo();
    }

    &__num {
        font-size: 14px;
        line-height: 1;
    }

    &__title-area {
        border-bottom: #dfe3e8;
    }

    &__title {
        display: block;
        font-size: 3.33vw;
        line-height: 1;
        text-transform: uppercase;
    }

    &__desc {
        margin-top: 16px;
        font-size: 14px;
    }
}
.snb {
    &__item {
        width: fit-content;
        opacity: .3;
        font-size: 14px;
        line-height: 1.15;

        &--active {
            opacity: 1;
        }
    }
}