.blind { position: absolute; overflow: hidden; width: 1px; height: 1px; margin: -1px; clip: rect(0, 0, 0, 0);}
#skipNav { position: absolute;}
#skipNav a{ position: absolute; top: -50px; padding: 10px; background-color: #000; color: #fff; white-space: nowrap;}
#skipNav a:focus,
#skipNav a:active{ top: 0;}

/* sp1 */
#header .util-area > *::after,
#header .group-search .btn-keyboard::after,
#header .group-search .btn-auto::after,
#header .group-nav .icon::before,
#header .group-nav .icon::after,
#header .group-nav .ic-new,
.control-style1 .btn::before,
.control-style1 .view-area [class*="btn-"]::before,
.sc-login .icon.ic-login,
.sc-news .group-issue .btn-all::after,
.sc-weather .group-head .link-compare::before,
.sc-stock .group-head .link-more,
.sc-stock .group-head .btn-refresh,
.sc-stock .group-info .info-right .icon.ic-down,
.sc-stock .group-info .info-right .stock-item.more .link-stock::after,
.sc-stock .group-info .info-left .icon.ic-up,
.sc-widget .group-dictionary .btn-search::before,
.sc-widget .group-papago .icon.ic-papago::before,
.sc-widget .group-papago .icon.ic-papago::after,
.sc-widget .download-area .link-download::before,
.sc-widget .download-area .link-download::after,
#footer .group-notice .link-all::after,
.floating-area .btn.btn-top::before,
.floating-area .btn.btn-setting::before,
.modal-setting .link .ico::before,
.modal-setting .group-setting.theme .title-area .btn,
.modal-setting .btn.btn-option .thumbnail .ico::before,
.modal-setting .link .mac::before {
    background-image: url(../images/sp-bg1.png);
    background-repeat: no-repeat;
    background-size: 463px auto;
}
#header .group-nav .icon.ic-stream::after {
    background-image: url(../images/icon_stream.png);
    background-size: 44px 44px;
}
.sc-shop .member-area .icon::before {
    background-image: url(../images/sp-bg2.png);
    background-repeat: no-repeat;
    background-size: 158px 137px;
}
.sc-weather .info-left .info-total .icon.ic-weather,
.sc-weather .info-right .icon.ic-cloud {
    background-image: url(../images/sp-bg3.png);
    background-size: 641px 587px;
    background-repeat: no-repeat;
}